{
  "openapi": "3.0.1",
  "info": {
    "title": "Simulator.Company REST API",
    "description": "Simulator.Company Public REST API.\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->",
    "x-logo": {
      "url": "https://sim.simulator.company/static/logo.svg",
      "padding": "24px",
      "altText": "Simulator.Company"
    },
    "contact": {
      "email": "support@simulator.company"
    },
    "version": "1.0"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  },
  "servers": [
    {
      "url": "https://mw-api.simulator.company/v/1.0"
    }
  ],
  "tags": [
    {
      "name": "reactions",
      "description": "Reactions API"
    },
    {
      "name": "upload",
      "description": "Upload API"
    },
    {
      "name": "download",
      "description": "Download API"
    },
    {
      "name": "attachments",
      "description": "Attachments API"
    },
    {
      "name": "forms",
      "description": "Forms API"
    },
    {
      "name": "meta graph",
      "description": "Meta graph API"
    },
    {
      "name": "layers",
      "description": "Layers API"
    },
    {
      "name": "actors",
      "description": "Actors API"
    },
    {
      "name": "links",
      "description": "Actors links API"
    },
    {
      "name": "link types",
      "description": "Link types API"
    },
    {
      "name": "accounts",
      "description": "Actors accounts API"
    },
    {
      "name": "transactions",
      "description": "Transactions API"
    },
    {
      "name": "transfers",
      "description": "Transfers API"
    },
    {
      "name": "account names",
      "description": "Accounts names API"
    },
    {
      "name": "currencies",
      "description": "Accounts currencies API"
    },
    {
      "name": "access rules",
      "description": "Access rules API"
    },
    {
      "name": "users",
      "description": "Users API"
    },
    {
      "name": "realtime",
      "description": "Realtime API"
    }
  ],
  "paths": {
    "/reactions/{type}/{actorId}": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/reactions/%7Btype%7D/%7BactorId%7D"
          }
        ],
        "tags": [
          "reactions"
        ],
        "summary": "Create reaction",
        "description": "Scopes [control.events:actors.management]",
        "operationId": "createReaction",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Reaction type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "comment",
                "rating",
                "done",
                "sign",
                "reject",
                "freeze"
              ]
            }
          },
          {
            "name": "actorId",
            "in": "path",
            "description": "Actor ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "Comment text",
                    "example": "Some comment text"
                  },
                  "appId": {
                    "type": "string",
                    "description": "Script actor ID"
                  },
                  "appSettings": {
                    "type": "object",
                    "description": "Script settings, e.g. autorun",
                    "example": {
                      "autorun": true
                    }
                  },
                  "data": {
                    "type": "object",
                    "description": "Extra data for reaction",
                    "example": {
                      "quote": "Some text quote",
                      "rating": 5
                    }
                  },
                  "parentId": {
                    "type": "string",
                    "description": "Parent reaction ID (reply to a comment)"
                  },
                  "metaInfo": {
                    "type": "object",
                    "description": "Meta information",
                    "properties": {
                      "originalUser": {
                        "type": "object",
                        "description": "Original user",
                        "properties": {
                          "nick": {
                            "type": "string",
                            "description": "User name"
                          },
                          "avatar": {
                            "type": "string",
                            "description": "Link to user avatar"
                          }
                        }
                      }
                    }
                  },
                  "extra": {
                    "type": "object",
                    "description": "Extra parameters",
                    "properties": {
                      "commentStyleType": {
                        "type": "string",
                        "description": "Reaction style settings",
                        "enum": [
                          "primary",
                          "secondary",
                          "text"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/paths/~1reactions~1%7BactorId%7D/delete/responses/200/content/application~1json/schema/properties/data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.management"
            ]
          }
        ]
      }
    },
    "/reactions/list/{actorId}": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url https://api.simulator.company/v/1.0/reactions/list/%7BactorId%7D"
          }
        ],
        "tags": [
          "reactions"
        ],
        "summary": "Get all actor reactions",
        "description": "Scopes [control.events:actors.readonly]",
        "operationId": "getReactions",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorId",
            "in": "path",
            "description": "Actor ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderValue",
            "in": "query",
            "description": "Sorting vector",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "ASC"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The total number of reactions to retrieve (used with offset)",
            "maximum": 30,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of rows to skip when fetching list",
            "minimum": 0,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1reactions~1%7BactorId%7D/delete/responses/200/content/application~1json/schema/properties/data"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:reactions.readonly"
            ]
          }
        ]
      }
    },
    "/reactions/stats/{actorId}": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url https://api.simulator.company/v/1.0/reactions/stats/%7BactorId%7D"
          }
        ],
        "tags": [
          "reactions"
        ],
        "summary": "Get reactions statistics",
        "description": "Scopes [control.events:actors.readonly]",
        "operationId": "getActorReactionsStats",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorId",
            "in": "path",
            "description": "Actor ID to get reactions statistics",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Object with counters of existing reactions of each type",
                      "example": {
                        "view": 1,
                        "comment": 1,
                        "sign": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.readonly"
            ]
          }
        ]
      }
    },
    "/reactions/{rootActorId}": {
      "put": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request PUT \\\n  --url https://api.simulator.company/v/1.0/reactions/%7BrootActorId%7D"
          }
        ],
        "tags": [
          "reactions"
        ],
        "summary": "Update reaction",
        "description": "Scopes [control.events:actors.management]",
        "operationId": "updateReaction",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootActorId",
            "in": "path",
            "description": "Root actor ID (the actor to which the reaction belongs)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actorId": {
                    "type": "string",
                    "description": "Reaction actor ID (which is being edited)"
                  },
                  "description": {
                    "type": "string",
                    "description": "Comment text",
                    "example": "Some comment text"
                  },
                  "appId": {
                    "type": "string",
                    "description": "Script actor ID"
                  },
                  "appSettings": {
                    "type": "object",
                    "description": "Script settings, e.g. autorun"
                  },
                  "data": {
                    "type": "object",
                    "description": "Extra data for reaction",
                    "example": {
                      "quote": "Some text quote",
                      "rating": 5
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/paths/~1reactions~1%7BactorId%7D/delete/responses/200/content/application~1json/schema/properties/data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.management"
            ]
          }
        ]
      }
    },
    "/reactions/{actorId}": {
      "delete": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request DELETE \\\n  --url https://api.simulator.company/v/1.0/reactions/%7BactorId%7D"
          }
        ],
        "tags": [
          "reactions"
        ],
        "summary": "Remove reaction",
        "description": "Scopes [control.events:actors.management]",
        "operationId": "removeReaction",
        "parameters": [
          {
            "name": "actorId",
            "in": "path",
            "description": "ID of the actor to which the reaction is linked",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "actorId"
                ],
                "properties": {
                  "actorId": {
                    "type": "string",
                    "description": "Reaction actor ID",
                    "required": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "treeInfo": {
                              "type": "object",
                              "description": "Reactions tree details",
                              "properties": {
                                "name": {
                                  "$ref": "#/paths/~1reactions~1%7Btype%7D~1%7BactorId%7D/post/parameters/1/schema"
                                },
                                "branchId": {
                                  "type": "object",
                                  "description": "Root reaction ID (in reactions tree)"
                                },
                                "parentId": {
                                  "type": "string",
                                  "description": "Parent reaction ID (in case of reply)"
                                },
                                "rootActorId": {
                                  "type": "string",
                                  "description": "ID of the actor to which the reaction is linked"
                                },
                                "rootActorTitle": {
                                  "type": "string",
                                  "description": "Title of the actor to which the reaction is linked"
                                }
                              }
                            }
                          }
                        },
                        {
                          "$ref": "#/paths/~1actors~1%7BactorId%7D/get/responses/200/content/application~1json/schema/allOf/0"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.management"
            ]
          }
        ]
      }
    },
    "/reactions/read/{actorId}": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/reactions/read/%7BactorId%7D"
          }
        ],
        "tags": [
          "reactions"
        ],
        "summary": "Mark reactions as read",
        "description": "Scopes [control.events:actors.management]",
        "operationId": "readReactions",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorId",
            "in": "path",
            "description": "Actor ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "number",
                    "description": "Count of reactions to be mark as read"
                  },
                  "time": {
                    "type": "number",
                    "description": "Reactions before this time will be mark as read"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "unreadReactions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1reactions~1%7BactorId%7D/delete/responses/200/content/application~1json/schema/properties/data"
                      }
                    },
                    "readTime": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.management"
            ]
          }
        ]
      }
    },
    "/upload/{accId}": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/upload/%7BaccId%7D"
          }
        ],
        "tags": [
          "upload"
        ],
        "summary": "Upload file",
        "description": "Scopes [control.events:attachments.management]",
        "operationId": "uploadFile",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "File binary",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "accId": {
                          "type": "string"
                        },
                        "fileName": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "userId": {
                          "type": "integer"
                        },
                        "size": {
                          "type": "integer",
                          "description": "The size of the file in bytes"
                        },
                        "title": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:attachments.management"
            ]
          }
        ]
      }
    },
    "/upload/base64/{accId}": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/upload/base64/%7BaccId%7D"
          }
        ],
        "tags": [
          "upload"
        ],
        "summary": "Upload file base64",
        "description": "Scopes [control.events:attachments.management]",
        "operationId": "uploadFileBase64",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "File binary",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "base64",
                    "description": "File in base64 format"
                  },
                  "originalName": {
                    "type": "string",
                    "description": "File name",
                    "example": "fileName.png"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/paths/~1upload~1%7BaccId%7D/post/responses/200/content/application~1json/schema/properties/data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:attachments.management"
            ]
          }
        ]
      }
    },
    "/download/{fileName}": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url https://api.simulator.company/v/1.0/download/%7BfileName%7D"
          }
        ],
        "tags": [
          "download"
        ],
        "summary": "Download file",
        "operationId": "download",
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Specify true to download file with initial filename and extension.",
              "default": false
            }
          },
          {
            "name": "preview",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Specify true to show file preview only (without download).",
              "default": false
            }
          }
        ]
      }
    },
    "/download/zip/{accId}": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/download/zip/%7BaccId%7D"
          }
        ],
        "tags": [
          "download"
        ],
        "summary": "Download zipped files",
        "description": "Scopes [control.events:attachments.management]",
        "operationId": "downloadZip",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 500,
                    "required": []
                  },
                  "callbackUrl": {
                    "type": "string",
                    "required": []
                  },
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "required": [],
                          "enum": [
                            "folder",
                            "file"
                          ]
                        },
                        "title": {
                          "type": "string",
                          "maxLength": 500,
                          "required": []
                        },
                        "fileName": {
                          "type": "string"
                        },
                        "children": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "taskId": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:attachments.management"
            ]
          }
        ]
      }
    },
    "/attachments/{accId}": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url https://api.simulator.company/v/1.0/attachments/%7BaccId%7D"
          }
        ],
        "tags": [
          "attachments"
        ],
        "summary": "Get all attachments",
        "description": "Scopes [control.events:attachments.readonly]",
        "operationId": "getAttachments",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Attachments sorting mode",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "title"
              ]
            }
          },
          {
            "name": "orderValue",
            "in": "query",
            "description": "Sorting vector",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The total number of attachments to retrieve (used with offset)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of rows to skip when fetching list",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starred",
            "in": "query",
            "description": "Get favorite attachments",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "accId": {
                            "type": "string"
                          },
                          "externalId": {
                            "type": "integer"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "integer"
                          },
                          "actorId": {
                            "type": "string",
                            "description": "The ID of the actor, to which file was attached"
                          },
                          "actorTitle": {
                            "type": "string",
                            "description": "The title of the actor, to which file was attached"
                          },
                          "size": {
                            "type": "integer",
                            "description": "The size of the file in bytes"
                          },
                          "title": {
                            "type": "string"
                          },
                          "starred": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "integer"
                          },
                          "updatedAt": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:attachments.readonly"
            ]
          }
        ]
      },
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/attachments/%7BaccId%7D"
          }
        ],
        "tags": [
          "attachments"
        ],
        "summary": "Add attachment to actor",
        "description": "Scopes [control.events:attachments.management]",
        "operationId": "addAttachment",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "attachId",
                    "actorId"
                  ],
                  "properties": {
                    "attachId": {
                      "type": "integer",
                      "description": "ID of [uploaded file](api.html#operation/uploadFile)",
                      "required": []
                    },
                    "actorId": {
                      "type": "string",
                      "description": "Actor ID",
                      "required": []
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1attachments~1%7BaccId%7D/post/requestBody/content/application~1json/schema/items"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:attachments.management"
            ]
          }
        ]
      },
      "delete": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request DELETE \\\n  --url https://api.simulator.company/v/1.0/attachments/%7BaccId%7D"
          }
        ],
        "tags": [
          "attachments"
        ],
        "summary": "Remove attachment",
        "description": "Scopes [control.events:attachments.management]",
        "operationId": "removeAttachment",
        "parameters": [
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/paths/~1attachments~1%7BaccId%7D/post/requestBody/content/application~1json/schema/items"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1attachments~1%7BaccId%7D/post/requestBody/content/application~1json/schema/items"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:attachments.management"
            ]
          }
        ]
      }
    },
    "/attachments/files": {
      "delete": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request DELETE \\\n  --url https://api.simulator.company/v/1.0/attachments/files"
          }
        ],
        "tags": [
          "attachments"
        ],
        "summary": "Remove attachment files",
        "description": "Deleting files should not be attached to actors",
        "operationId": "removeAttachmentFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Name of file to delete"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "removed": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "errorRemove": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "fileName": {
                                "type": "string"
                              },
                              "reason": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        }
      }
    },
    "/counters/{accId}": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/counters/%7BaccId%7D"
          }
        ],
        "tags": [
          "counters"
        ],
        "summary": "Create counters",
        "description": "Scopes [control.events:actors.readonly]",
        "operationId": "createCounters",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "title": "data",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "counter",
                      "description": "Type",
                      "required": [],
                      "enum": [
                        "counter",
                        "uniqCounter"
                      ]
                    },
                    "formId": {
                      "example": 0,
                      "type": "number",
                      "description": "Form ID",
                      "required": []
                    },
                    "actorRef": {
                      "type": "string",
                      "description": "Actor's ref",
                      "required": []
                    },
                    "accountName": {
                      "type": "string",
                      "description": "Account name",
                      "required": []
                    },
                    "currency": {
                      "type": "string",
                      "description": "Currency",
                      "required": []
                    },
                    "incomeType": {
                      "$ref": "#/paths/~1actors_filters~1%7BformId%7D/get/parameters/12/schema"
                    },
                    "amount": {
                      "type": "number",
                      "description": "Amount"
                    },
                    "trsRef": {
                      "type": "string",
                      "description": "Transfer ref"
                    },
                    "title": {
                      "type": "string",
                      "description": "Actor title"
                    },
                    "data": {
                      "description": "Data for actor creation",
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "formId": {
                        "type": "number"
                      },
                      "actorRef": {
                        "type": "string"
                      },
                      "accountName": {
                        "type": "string"
                      },
                      "currency": {
                        "type": "string"
                      },
                      "incomeType": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.readonly"
            ]
          }
        ]
      }
    },
    "/counters/list/{accId}": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/counters/list/%7BaccId%7D"
          }
        ],
        "tags": [
          "counters"
        ],
        "summary": "Get list of counters",
        "description": "Scopes [control.events:actors.readonly]",
        "operationId": "getListOfCounters",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/paths/~1transactions~1%7BactorId%7D/get/parameters/7"
          },
          {
            "$ref": "#/paths/~1transactions~1%7BactorId%7D/get/parameters/8"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "counter",
                    "description": "Type",
                    "required": [],
                    "enum": [
                      "counter",
                      "uniqCounter"
                    ]
                  },
                  "formId": {
                    "example": 0,
                    "type": "number",
                    "description": "Form ID",
                    "required": []
                  },
                  "actorRef": {
                    "type": "string",
                    "description": "Actor's ref",
                    "required": []
                  },
                  "accountName": {
                    "type": "string",
                    "description": "Account name",
                    "required": []
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency",
                    "required": []
                  },
                  "incomeType": {
                    "$ref": "#/paths/~1actors_filters~1%7BformId%7D/get/parameters/12/schema"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "formId": {
                        "type": "number"
                      },
                      "actorRef": {
                        "type": "string"
                      },
                      "accountName": {
                        "type": "string"
                      },
                      "currency": {
                        "type": "string"
                      },
                      "incomeType": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "number"
                      },
                      "holdAmount": {
                        "type": "number"
                      },
                      "data": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.readonly"
            ]
          }
        ]
      }
    },
    "/counters/uniq_values/{accId}": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/counters/uniq_values/%7BaccId%7D"
          }
        ],
        "tags": [
          "counters"
        ],
        "summary": "Get uniq counter value",
        "description": "Scopes [control.events:actors.readonly]",
        "operationId": "getUniqCounterValue",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "formId": {
                    "example": 0,
                    "type": "number",
                    "description": "Form ID",
                    "required": []
                  },
                  "actorRef": {
                    "type": "string",
                    "description": "Actor's ref",
                    "required": []
                  },
                  "accountName": {
                    "type": "string",
                    "description": "Account name",
                    "required": []
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency",
                    "required": []
                  },
                  "incomeType": {
                    "$ref": "#/paths/~1actors_filters~1%7BformId%7D/get/parameters/12/schema"
                  },
                  "trsRef": {
                    "type": "string",
                    "description": "Transfer ref"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "formId": {
                        "type": "number"
                      },
                      "actorRef": {
                        "type": "string"
                      },
                      "accountName": {
                        "type": "string"
                      },
                      "currency": {
                        "type": "string"
                      },
                      "incomeType": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "integer"
                      },
                      "data": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.readonly"
            ]
          }
        ]
      }
    },
    "/counters/list/uniq_values/{accId}": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/counters/list/uniq_values/%7BaccId%7D"
          }
        ],
        "tags": [
          "counters"
        ],
        "summary": "Get list of uniq counter values",
        "description": "Scopes [control.events:actors.readonly]",
        "operationId": "getListOfUniqCounterValues",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/paths/~1transactions~1%7BactorId%7D/get/parameters/7"
          },
          {
            "$ref": "#/paths/~1transactions~1%7BactorId%7D/get/parameters/8"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "formId": {
                    "example": 0,
                    "type": "number",
                    "description": "Form ID",
                    "required": []
                  },
                  "actorRef": {
                    "type": "string",
                    "description": "Actor's ref",
                    "required": []
                  },
                  "accountName": {
                    "type": "string",
                    "description": "Account name",
                    "required": []
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency",
                    "required": []
                  },
                  "incomeType": {
                    "$ref": "#/paths/~1actors_filters~1%7BformId%7D/get/parameters/12/schema"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/paths/~1counters~1%7BaccId%7D/post/responses/200/content/application~1json/schema/items"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.readonly"
            ]
          }
        ]
      }
    },
    "/forms/templates/{accId}": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url https://api.simulator.company/v/1.0/forms/templates/%7BaccId%7D"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Get list of forms",
        "description": "Scopes [control.events:forms.readonly]",
        "operationId": "getForms",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The total number of rows to retrieve (used with offset)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of rows to skip when fetching list",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "noDefault",
            "in": "query",
            "description": "Exclude default form",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "accId": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "color": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "integer"
                          },
                          "ownerName": {
                            "type": "string"
                          },
                          "ownerType": {
                            "type": "string"
                          },
                          "isSent": {
                            "type": "boolean"
                          },
                          "isDefault": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "integer"
                          },
                          "updatedAt": {
                            "type": "integer"
                          },
                          "privs": {
                            "$ref": "#/paths/~1forms~1%7BformId%7D/get/responses/200/content/application~1json/schema/properties/data/properties/privs"
                          },
                          "access": {
                            "type": "array",
                            "items": {
                              "$ref": "#/paths/~1access_rules~1%7BobjType%7D~1%7BobjId%7D/get/responses/200/content/application~1json/schema/properties/data/items"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:forms.readonly"
            ]
          }
        ]
      }
    },
    "/forms/templates/system/{accId}?formTypes=system": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url 'https://api.simulator.company/v/1.0/forms/templates/system/%7BaccId%7D?formTypes=system'"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Get list of system forms",
        "description": "This API is used to get system forms:\n* Graphs\n* Layers\n* Streams\n* Events\n* Widgets\n* Scripts\n* Locations\n* Tags\n* Reactions\n\nScopes [control.events:forms.readonly]\n",
        "operationId": "getSystemForms",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formTypes",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "connector",
                "system"
              ],
              "example": "system"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of system forms",
                      "items": {
                        "type": "object",
                        "allOf": [
                          {
                            "$ref": "#/paths/~1forms~1%7BformId%7D/get/responses/200/content/application~1json/schema/properties/data"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1
                              },
                              "title": {
                                "type": "string",
                                "example": "Events"
                              },
                              "isSystem": {
                                "type": "boolean",
                                "default": true
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:forms.readonly"
            ]
          }
        ]
      }
    },
    "/forms/{accId}/{isTemplate}": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/forms/%7BaccId%7D/%7BisTemplate%7D"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Create form",
        "description": "Scopes [control.events:forms.management]",
        "operationId": "createForm",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isTemplate",
            "in": "path",
            "description": "Specify true if the form is a template; otherwise, false",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/paths/~1forms~1%7BformId%7D/put/requestBody/content/application~1json/schema"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/paths/~1forms~1%7BformId%7D/get/responses/200/content/application~1json/schema/properties/data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:forms.management"
            ]
          }
        ]
      }
    },
    "/forms/status/{formId}": {
      "put": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request PUT \\\n  --url https://api.simulator.company/v/1.0/forms/status/%7BformId%7D"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Set form status",
        "description": "Scopes [control.events:forms.management]",
        "operationId": "setFormStatus",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "verified",
                      "rejected",
                      "pending",
                      null
                    ],
                    "required": []
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/paths/~1forms~1%7BformId%7D/get/responses/200/content/application~1json/schema/properties/data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:forms.management"
            ]
          }
        ]
      }
    },
    "/forms/ref/{ref}": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url https://api.simulator.company/v/1.0/forms/ref/%7Bref%7D"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Get form by ref",
        "description": "Scopes [control.events:forms.readonly]",
        "operationId": "getFormByRef",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "path",
            "description": "Form ref",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/paths/~1forms~1%7BformId%7D/get/responses/200/content/application~1json/schema/properties/data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:forms.readonly"
            ]
          }
        ]
      }
    },
    "/forms/{formId}": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url https://api.simulator.company/v/1.0/forms/%7BformId%7D"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Get form by ID",
        "description": "Scopes [control.events:forms.readonly]",
        "operationId": "getForm",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "accId": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
[...]
