{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Simulator.Company Scripts",
    "contact": {
      "name": "Support",
      "email": "support@simulator.company",
      "url": "https://simulator.company"
    },
    "x-logo": {
      "url": "https://sim.simulator.company/static/logo.svg",
      "padding": "24px",
      "altText": "Simulator.Company"
    }
  },
  "externalDocs": {
    "description": "Simulator.Company REST API",
    "url": "https://control.events/api.html"
  },
  "servers": [
    {
      "url": "https://sync-api.corezoid.com"
    }
  ],
  "tags": [
    {
      "name": "get"
    },
    {
      "name": "send"
    },
    {
      "name": "viewModel",
      "x-displayName": "viewModel",
      "description": "Injection of variable value into the page config: \"Your personal discount is {{variableName}} %\"\n\n**Example**\n\n```javscript\n{\n  \"code\":200,\n  \"viewModel\":{ \"value\": \"10\" }\n}\n+\n{\n  \"id\":\"label\",\n  \"value\":\"Your personal discount is {{value}} %\"\n}\n=\n{\n  \"id\":\"label\",\n  \"value\":\"Your personal discount is 10 %\"\n}\n```\n"
    },
    {
      "name": "locale",
      "x-displayName": "locale",
      "description": "Page localization is stored separately from the page configuration.\n\n**Example**\n\n`/locale` contains common keys for all pages.\n`/pages/index/locale` contains keys for the `index` page only.\n\nThese two locale objects will be merged, and all matching keys in the `index` page config will be replaced with their values.\n\n```javascript\n{\n  \"code\": 200,\n  \"viewModel\": { \"localeKey\": \"[[sayHello]], [[sayGoodbye]]\", \"name\": \"world\" },\n  \"language\": \"en\"\n}\n\n+\n\n/pages/index/locale\n\n{\n  \"sayHello\": \"Hello {{name}}\",\n  \"sayGoodbye\": {\n    \"en\": \"goodbye!\",\n    \"uk\": \"до побачення!\"\n  }\n}\n\n+\n\n/pages/index/config\n\n{\n  \"id\": \"label\",\n  \"value\": \"[[localeKey]]\"\n}\n\n=\n\n{\n  \"id\": \"label\",\n  \"value\": \"Hello world, goodbye!\"\n}\n```\n"
    },
    {
      "name": "definitions",
      "x-displayName": "definitions",
      "description": "Forms, sections, and components defined in `/definitions` can be reused across pages.\n\n`\"$ref\"` is a link to a definition file in `/definitions` folder. It helps you keep common UI fragments in one place and reuse them across multiple pages.\n\nHow it works:\n- Create a JSON snippet under `/definitions`.\n- Reference it from a page configuration via `\"$ref\": \"#/path/to/definition\"`.\n- When the page is rendered, the referenced definition is merged into the object that contains `$ref`.\n\nNotes:\n- The `$ref` value must be a literal string (placeholders are not resolved inside `$ref`).\n- If a definition cannot be resolved, `$ref` is kept as-is.\n- If a definition is resolved, `$ref` is removed.\n- If both the definition and the object containing `$ref` define the same field, the definition value wins.\n- Best practice: avoid putting instance-specific fields (like `id`) into definitions unless you want them fixed everywhere.\n\n**Example**\n\nFolder structure:\n\n``` javascript\n/definitions\n  info\n  test\n  next\n```\n\nThe `$ref` path points to a file (or nested file path) under `/definitions`.\n\nFor nested folders, the path works the same way:\n\n```javascript\n/definitions/common/buttons/next\n```\n\nis referenced as:\n\n```javascript\n{ \"$ref\": \"#/common/buttons/next\" }\n```\n\nForm reference:\n\n``` javascript\n  {\n    \"id\": \"info_test\",\n    \"type\": \"body\",\n    \"$ref\": \"#/info\"\n  }\n```\n\nSection reference:\n\n``` javascript\n  {\n    \"id\": \"info_test\",\n    \"type\": \"body\",\n    \"sections\": [\n      {\n        \"id\": \"common\",\n        \"$ref\": \"#/test\"\n      }\n    ]\n  }\n```\n\nButton reference:\n\n``` javascript\n  {\n    \"class\": \"button\",\n    \"$ref\": \"#/next\"\n  }\n```\n"
    },
    {
      "name": "contentLoop",
      "x-displayName": "contentLoop",
      "description": "`contentLoop` is a section-level mechanism for rendering **repeatable UI content** from a template.\n\nIt allows you to describe `section.content` once (as a template with placeholders), and then expand it into a final list of rendered items using an array of iteration objects (loop items).\n\nCDU takes the section `content` template and repeats it once per object in `contentLoop`, replacing `{{...}}` placeholders with values from that object (and from `viewModel`/`locale` when needed). The rendered items from all iterations are appended into one final `section.content` array.\n\n### Where contentLoop is used\n\nIn the page config (script filesystem), inside a form section:\n\n**Option A: inline array**\n\n```javascript\n{\n  \"id\": \"itemsSection\",\n  \"contentLoop\": [\n    { \"index\": \"1\", \"title\": \"Item A\", \"amount\": \"10\" },\n    { \"index\": \"2\", \"title\": \"Item B\", \"amount\": \"20\" }\n  ],\n  \"content\": [\n    { \"id\": \"row{{index}}_title\", \"class\": \"label\", \"value\": \"{{title}}\" },\n    { \"id\": \"row{{index}}_amount\", \"class\": \"label\", \"value\": \"{{amount}}\" }\n  ]\n}\n```\n\n**Option B: resolve the loop array from the `viewModel`**\n\nviewModel:\n\n```javascript\n{\n  \"items\": [\n    { \"index\": \"1\", \"title\": \"Item A\", \"amount\": \"10\" },\n    { \"index\": \"2\", \"title\": \"Item B\", \"amount\": \"20\" }\n  ]\n}\n```\n\nSection config:\n\n```javascript\n{\n  \"id\": \"itemsSection\",\n  \"contentLoop\": \"{{items}}\",\n  \"content\": [\n    { \"id\": \"row{{index}}_title\", \"class\": \"label\", \"value\": \"{{title}}\" },\n    { \"id\": \"row{{index}}_amount\", \"class\": \"label\", \"value\": \"{{amount}}\" }\n  ]\n}\n```\n\n### How contentLoop is expanded\n\nWhen CDU renders a page (initially or after updates), `contentLoop` must resolve to an array of objects.\nCDU then renders the section template (`section.content`) **once per loop item** and concatenates the results linearly (seamlessly).\n\n**Simple example**\n\nSection template:\n\n```javascript\n{\n  \"id\": \"itemsSection\",\n  \"contentLoop\": [\n    { \"index\": \"1\", \"title\": \"Item A\", \"amount\": \"10\" },\n    { \"index\": \"2\", \"title\": \"Item B\", \"amount\": \"20\" }\n  ],\n  \"content\": [\n    { \"id\": \"row{{index}}_title\", \"class\": \"label\", \"value\": \"{{title}}\" },\n    { \"id\": \"row{{index}}_amount\", \"class\": \"label\", \"value\": \"{{amount}}\" }\n  ]\n}\n```\n\nResulting `section.content` after expansion:\n\n```javascript\n[\n  { \"id\": \"row1_title\", \"class\": \"label\", \"value\": \"Item A\" },\n  { \"id\": \"row1_amount\", \"class\": \"label\", \"value\": \"10\" },\n  { \"id\": \"row2_title\", \"class\": \"label\", \"value\": \"Item B\" },\n  { \"id\": \"row2_amount\", \"class\": \"label\", \"value\": \"20\" }\n]\n```\n\nNotes:\n- The `class` field cannot be changed dynamically (no injection is applied to it).\n- `$ref` definitions are resolved using `/definitions` (best-effort).\n- `[[...]]` placeholders are resolved using the locale.\n- `viewModel` used for `{{...}}` placeholders is merged from multiple sources:\n  - script `viewModel` (stored in the script filesystem),\n  - runtime `viewModel` returned by Corezoid for full page render/reset (`GET` or `205 + viewModel`),\n  - optional runtime `viewModel` returned together with `200 + changes`,\n  - the current contentLoop item object (used as part of the viewModel while rendering that loop item).\n\n### Configuration guidelines\n\n- Each object in `contentLoop` is a data row: its fields are used to fill `{{...}}` placeholders in the section template (`content`) for that iteration.\n- It is a good practice to include a stable unique key in each contentLoop item (for example `index` or `rowId`) and use it to build unique item ids in the rendered content.\n- An empty loop is valid and means \"clear content\":\n\n  ```javascript\n  { \"formId\": \"info\", \"id\": \"itemsSection\", \"contentLoop\": [] }\n  ```\n\n### Updating a section that uses contentLoop\n\nThere are two supported ways to update dynamic section content:\n\n#### 1) `200 + changes with contentLoop (+ optional viewModel)` (update one section content)\n\nUse this when you want to regenerate a single section without resetting the whole page.\n\nBelow is an example of a section template in the script config. Here `{{options}}` is not part of a `contentLoop` item, so it must come from `viewModel` (this is useful when a placeholder refers to a large shared value that is the same for all loop items):\n\n```javascript\n{\n  \"id\": \"itemsSection\",\n  \"content\": [\n    { \"id\": \"row{{index}}_title\", \"class\": \"label\", \"value\": \"{{title}}\" },\n    {\n      \"id\": \"row{{index}}_select\",\n      \"class\": \"select\",\n      \"options\": \"{{options}}\",\n      \"value\": \"{{selectedOption}}\"\n    }\n  ]\n}\n```\n\nIn your Corezoid receiver process, return a change for the target section:\n\n```javascript\n{\n  \"code\": 200,\n  \"data\": {\n    \"viewModel\": {\n      \"options\": [\n        /* shared select options; can be large */\n      ]\n    },\n    \"changes\": [\n      {\n        \"formId\": \"info\",\n        \"id\": \"itemsSection\",\n        \"contentLoop\": [\n          { \"index\": \"1\", \"title\": \"Item A\", \"selectedOption\": \"1\" },\n          { \"index\": \"2\", \"title\": \"Item B\", \"selectedOption\": \"2\" }\n        ]\n      }\n    ]\n  }\n}\n```\n\n`viewModel` is optional, but it may be needed when your section template references additional `{{...}}` placeholders that are not present in each `contentLoop` item (for example `{{options}}`, as shown in the section template example above).\n\n#### 2) `205 + viewModel` (reset content)\n\nUse this when you need to re-render the whole page snapshot (not only one section). CDU will request a full re-render using the provided `viewModel`. If a section uses a placeholder for the loop source (for example `contentLoop: \"{{items}}\"`), returning a new `viewModel.items` in `205` will rebuild that section's content with the new array:\n\n```javascript\n{\n  \"code\": 205,\n  \"data\": {\n    \"viewModel\": {\n      \"items\": [\n        { \"index\": \"1\", \"title\": \"New A\", \"amount\": \"15\" },\n        { \"index\": \"2\", \"title\": \"New B\", \"amount\": \"25\" }\n      ]\n    }\n  }\n}\n```\n\n> **Note:** This approach requires building a `viewModel` for the whole page. After the reset is applied, any previously applied `changes` are discarded because the page is replaced by a new full snapshot. For updating a single section's contentLoop, method 1 (`200 + changes` with `contentLoop`) is usually preferable.\n\n### Sortable mode\n\nWhen the section has `sortable: true`, each `contentLoop` iteration is wrapped in a card-like container with a drag handle on the left side. The user can grab the handle and drag items to rearrange their order within the section.\n\nIn this mode, the `id` field in each `contentLoop` object is reserved to identify the draggable item. It is recommended to provide a stable unique `id` for each item. If `id` is not provided, a fallback `{sectionId}-cl-{index}` (zero-based) will be used.\n\n**Example configuration:**\n\n```javascript\n{\n  \"id\": \"taskList\",\n  \"sortable\": true,\n  \"contentLoop\": [\n    { \"id\": \"task-1\", \"title\": \"First task\", \"status\": \"done\" },\n    { \"id\": \"task-2\", \"title\": \"Second task\", \"status\": \"pending\" },\n    { \"id\": \"task-3\", \"title\": \"Third task\", \"status\": \"pending\" }\n  ],\n  \"content\": [\n    { \"id\": \"label_{{id}}\", \"class\": \"label\", \"value\": \"[b]{{title}}[/b] — {{status}}\" }\n  ]\n}\n```\n\n**Reorder event.** After the user drops an item into a new position, a form submit event is sent to Corezoid on behalf of the section:\n- `buttonId` is set to the section `id` (e.g. `\"taskList\"`).\n- `buttonData` contains:\n\n  ```json\n  {\n    \"action\": \"reorder\",\n    \"value\": [\"task-3\", \"task-1\", \"task-2\"]\n  }\n  ```\n\n  where `value` is an array of item IDs in the new order from top to bottom.\n\nThe backend can use this array to persist the order and restore it in the `contentLoop` when the page is loaded again.\n"
    },
    {
      "name": "bbcode",
      "x-displayName": "bbcode",
      "description": "Bbcode - it is a string with pseudo code, that will be converted into HTML.\n\n| bbcode        | HTML           |\n| ------------- |:-------------:|\n| [b]Bold text[/b]      | <b>Bold text</b> |\n| [i]Italic text[/i]      | <i>Italic text</i>      |\n| [u]Underline text[/u]      | <u>Underline text</u>      |\n| [ul][\\*]Unordered list[\\/*][/ul]      | <ul><li>Undordered list</li></ul>      |   |\n| [iurl=log_in]Internal link[/iurl] | <a href=\"/log_in\">Internal link</a>      |\n| [url=https://simulator.company] External link[/url] | <a href=\"https://simulator.company\" target=\"_blank\" rel=\"noopener noreferrer\">External link</a>      |\n| [div]New line[/div]  | <div>New line</div>      |\n| [br]      | <br/>      |\n| [color=red]Text color[/color]  | <span style=\"color:red\">Text color</span>      |\n| [size=12]Font size[/size]  | <span style=\"font-size:12px\">Font size</span>      |\n| [bg=green]Text back ground[/bg]  | <span style=\"background-color:green\">Text back ground</span>      |\n"
    },
    {
      "name": "styles",
      "x-displayName": "CSS styling",
      "description": "Smart Forms provides **flexible CSS styling** with support for both legacy single-file styles and modern organized structure with `@import` capabilities.\n\n<a href=\"https://lesscss.org/\" target=\"_blank\"><img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALQAAABOCAYAAACJxDxNAAAACXBIWXMAAAsSAAALEgHS3X78AAAgAElEQVR4nO19B3xUVfb/d/pMpieTSU8ooRoUaYoFAVGwIggiiqwsKiIoWFZdWVH0ZwFRV0UUBRelqiAqUhXpIL2D9BIgvSeTTKb9z71vJpmEZPJeQvws+8/ZfQ5J5t173n3fe+5p91ylz+dDEzXR/wopL2djMiL6kPt/9Pmv2kgVujGFT6FQuN0uZ9OMu4LJj4kqv/JfAZx4SKh6L1d/DQZ0EMNynU5na9++fZLdbk9q165dVMuWLaPVanU4AVMrl8tNEB7EJ6Mf9Ga7USaTV3/YClq4fKv3bEaxp9fwtzwyucIr3NpEVwK5XOXya1rafN2SDWWzZ8+Web3eQo/HU+pyufLOnDmTceDAgYzMzMz0w4cPp5WWlqYRhJz+W70Ebk9D+q43oIkJBX34TCZTeN++fW/q37//3dcTJSYmJqhUKlNDmGK0bNMh5J7IhUspg1ypaGhzTfQXkqPUh4SkZhg+/I5av0PgLj579mz61q1bt//www8/r1q1ajuBO5tw5WJ/ri+w6wVoBmYi/ciRIweMJerQoUMnVC4hl4WKC/NRRBdUYQRozeVsuokamRwOB0pKSkJ+h4SeIdlPjzzyyIM7duzY++GHH365YMGClfTnfMJYCYHaJbVvyYBmYCaVIvrLL79879577x0q9X7RxIxVma9S42qiK4ekvzN5165dO82fP//Tm2666dsXXnjhfZLWZwlrBVJBLQnQ1IHcYDBYli9fvqtz585RkliWSEXFRSgtLYOJqejcLGyyDa8EYiZVUXEp3C7JwpWR/KmnnhpKtlgPWv3vITAzEy1fCqilSmgZzZ6RjQ3mal36Tcm/rscmaiAxIXSJc0M8jRgxIm7JkiX9ly5d+iP96PWDWpROLRrQTDrHxsbGP0lUb06lEnf80XN4FWhC9JVCBGQve2cNa4UE5wMrVqw44Ha7mTLOrssLaEZ9+vS5OSoqqnl9GJRKghPbJ8C4SUJfWSQH9GHqBjVx/fXXJ6ekpCTv3bv3KCQ4HKQAWkGAvkEqY9m5+di2az+OnUpFVnYuXnl2JAxhYXXfyIzCwOWtK0bTRP9NFKbRYPPOI3h/xnzoVAq0ap6I7t2uhkGvF92GWq1WdevWrQUBmoFZzpRpn4iwthRAy+Pj49uI/XKJoxQPjZqA5Wu3wV3uBlx0eVwYO/JBcYAOpiYJfcUQg5xep8XOI2exas06eB2F/Pc6ox4P3dcHM99/RXRbXbp0afbFF18Y2O10lUKE2iEa0GazWZ2QkGAT+/07HhyLjZsPIDa5LTRhBrjdHrJ+86HWSPApN0noK5B8kMtlMJssMOjakgnkpt/I4Cp3YdaCNfDJFJg19SVRLdlsNjt9MAdEFl1FuJyADgsLUxKoRX3/wJHjBOY9iGt9NTQmG+RKNZfQSqeLHk2s9eur0KO5P7opieqKIf6q5CooNAr+/tg7V+llSNCF4buV2/H+q0WwmI11tqPVapmOwqLO7FNUuFg0oJn6IjYz79d1f1D3Sii1LMqn4g/kk/EkDrHdNenQ/xMkqxRgBACNOgxlHiXp14dw163Xi22EAblRjELRdPTEGRbb5FzwRCpZQAmW4ssJ3NM4Elpwk4pZLXx/yeJwaVJaaLrsab8ySFg9OQcSx4UktUIOhVqL0+ezJTInnhoF0Fk5uVAR8/yB6T+yYGkrGtSXX0IHQOOl9pwuF0pJr3OTKuTx+OChicej7fQVBf1HLpdDpVZCq1ZBrVRCIVfwiXW5gMQ5IV2TPZrb5UG5qxxlxI+XeHF7iRevr+KJycSn/gWelCoFNColyQsF/1mB+vMlzGnigV6J283Gw02aoQsetxce6t/rbzMwJmz8FEoaF4UCahJYjAcF8SDjK68IHqgjpVqDjNwiybyKpUYBNBtm0jdoFNiD0oDJgpOjxUkBX9DVUC+HjL80L0pKS1FQUAQ5gTfaZsJVrWPQPMGOhJgI2KxG0tlUcLm8yMwrQHpGHo6fTcex02m4mJHJQW+xWqDXh/Hn83Ge6sGUf1I5CbwFhSUoLy+DWa9B83gbmsfZ0Sw+EuEWAyIsJm5ckbKG7PwSMqgdOJ+eg4uZeUi9mEWfOSgqKYOcVDuj2QR9mA5KuZKPVV3AYuPBJozDWY6CoiIaGxcizHpclRSFZgmRNB42hJsMsFr0/BE9Hi9y8ouQV1CMCxm5nIezFzKRnpWNUmpDo9HBaDRCF6aF8MaZiimrZXzYUnBZ89iqUKMAWkYSTUX6klyhgqA8B6SzVABcHgmdV1jMM8DaN7fj+Yd74u6eXdCuVYLo+4+dOo8lqzZj/i9bcOT0WbLgjfQCzSStlBIxLUNZWRlycvJgt+ox/K4uGHxnd3S7OhlajbRARGFJKfYdOonVm3bht82HcPBkGlw0TlaLFWE6HWFGXiugCouLUZBfgOTESDxx/+24t3dXXNu+maT+GaVl5mIv8bBi/U6s3X4EJ1LPgam84eEmaMh+ktGqJqvOgqRVWjo1DqBpSZKrdfyBqspaKW8/6J566dAykoLlPJhzQ8cWeG3sYNzSrb3ENgRq3SIeL40ewq+ff9uKf77zJY6dOYmY+ERodFpirTZpVJVYkClMLcPb4wdizCN30rJd/+E36XW4uVsKv958Djh7MRNzFq/B3J/XE9DyEW61coHChIugS4GrM+lZuWgZa8b0CU/i/n6S42RVKMYezq87enXlPx/48ww+n/MzFq3YCEeRFlbigXQMv0oSoMY1SBoF0JzngNEV2F3DpbSEuen/vmBLSp0MMpLKhVDLffjyjRF45L6eEu4NTff26c6vCVNmYcoXSxARGQ09SWumaNVm15FGjPT0LNzSuRXmffAsqRTiI2ZiKSnWjn89PVS4pnyFD2ctgT02kfRvWikJUOVkM6ST6jRm6K34YMKIy94/ow5tm+HTt57h191/ewmbd5+C1R5Dk4rUz4DCGXivjUSNAmgG2gofsj85NgBJaXa0RB2aIYrAn5mdhVYJNvw042UkREdIY14kvfXiSHTr2AaDn3wd7vIomCwR8DFpJPh2gr7JwJyNAbd25GD+K+jsmVNwlRWTLHHzoXPRZ3pGBj54aSitDHf/JTycOnGc3oWbXodHALH/xQsCrfES3BtHQjPy+iqlbLDHQhJJ1KHpu5kkhbp0SMSvs1+HUtl4j8eo/+034aeZr+PeR1/hc8lkttGIqipZJaMujyz6665O+svAzHT0xcvWwGyJJZVPRayQkZuVg6eH3faXgXnj1t04cvgU4lqn0Lj490IH3v2VqEMLVB2E9TQKxerfhKi8vDy0SgzHmq8nkf741+xDvKP3Tfji3efw9/HvQpusgVpvYkYEF0I8yd1bhrnvjftLeGE0b9EKlBaUICJeT0u9CiVkPLaMtWDqy4/+ZTzMnLsYMq0OCr9hWBXAgfW7caiRAO1fYhjv1QMY9XmWOlQOGRlljlInVCQRl82aKBnM+QWFOHbyDHLzC2HUhyG5eSKi7KLTVjDiofuwlqTS/KVbkdC8DWTMR+yTIzcnH8Pu7oa46HBJ/KSlZ+L0uYsoLi7hft/IiHDERkfCFlF3O7MX/gi12Qy5XM1t6bz8PLz/wuOS+md06mwqzp9PF9xyWjViI22IioqA2RR6/zMLpP24Yj0szCiVCT7yKu/fK2vULXWNZxSywICsUuXwSVU5/CqLT4TKwYIiWaQ3z506llvdYmnBD8vx/vRvsO/gcbjLnJVdaJQE6iQ8/sgAvDj2UVFtzfzgX1i59j4UFeXDZLXBQ425XOUYMfh2UfezAM+Etz7GvCWrcOFChpCdWLE3j/5DkyQ6KhKtia8eN3TGXbfdgOs7X1OljbSMbGzecQC22GYkndUod7thNWox5J5bRPFwMS0DL77xb6z4bRNys/OChlwAoTJMixjiIaVdMm7vcT3uIOO4Tcuq6fFLlq9FYW4hYtsmwce8LD4ZfEHvjmOi8TQOSTtWFHIWmhJLFdHBoJ+leCsqouV+t10t98m4qpGPvjddhSF33SSq6cLCYtw59ClsXrsVSgKfJSoeKpW2olMWIcsoKsVLk2Zg5rxfsPq7j9AsIS5km2qVGq+OH45nXp8Bg8EMNxmHUREmdLumVZ38MDC3v2kAjh85B3NcAqKatWY+E1SKMh/HQLnThZ1H07Bh7yL830fzEGs34/67e+LJ4QPQvk0yFtIE9ZV7SKIaSetRo7TEgU5tm5EtUfeK9efx0+jYYzCcjjKYo2MR3SKKxjYAD2HseXCK1Ki1209gxbr9eP6N6WjbMh4PDbgNT9Dkj7SF4+v5SyA3GKlPnRCZrV5Dxide5VAoFDJ/HrSo7zMSDWgysAxqtbruFCkE+zQaokMH+aBD3Ov2euByOvDei8NFtZqTV4CUmwciPT0P0W1ToNQYoFCRrqdQ+vPCBNKZAastBmcunkXXfiNwbPMiWC2hl9unH3sQb38yF6XF+fCpDWgtMtt26vSvcfzgScSlXAulzuT328oqnriCJxp9k3/FdrudKCnMx7R5KzHt66W4r293HP7zGEyRkQwJfNicNAHatwg9EQM0/pV34fQAsW1SaDz0UKhZoEfOx6QKD8z4ZeNEwHSVO3A+Nx//mvoN3vl0PhnJN2LrnsMIt0bwwI6sRl3RJ1rjiI6O1mo0GiUZuqKBIwrQTDonJyfbCdAWMd9nepRM5pfIFdyzf0tda0IHVpgEKMgtwm03dEC7VkmiWuw3aBTSM/MQ06I1VBoTN5wYmNnSWGWgWf4CSbbY+OZIPX0CQ0dPwMoFn9TZ/tB7e+Ojb5bBYkuAxSxuI8OO3Qchs1i5ESVXqIFqIKqJFGoFzFYtjOF2uMvLsOaPY2BxGlNEDPGtZg4WkqgexMeIm1QH/zwNsy0aSi2LgGrgY4D01c6Dj4w9Fa0E4Wo9rJHRKHeU4Od1e6HThEOr0xODfm9PtVBhhRYqgux2uyEsLEzDPDdiSayEZnUTWvvzU+ukDNK/5PJAvgP7jUzQPrzirQEOZZYwVGFY1vQdHxw0kE8Pv0tUm5/951vs/GMfYtql0Mswcz1TCBEHfObVGGAJOXIVYhOaY9WG/di+9yC6dUwJ2cffhtyJD2csJOlVQryLm8AsR8TnZlq3nPcpaon1CaBi0lyp0SPcrhN8vjIW4FHwYA5LwlJrQpcQDJDZbEBeZim9aYXgz/ddMiKX9s9ejFzJ+1MbVLCFGbi6xkPe8OvO1Rph+SlZOQWieLLZbEYSpBHbt29nD6EmAVZaVx28OgEtE9Y/1d13391XFBdE5y9mkrTQBUnoipCf2CYCvfuLzVwqoZl0LiVDLi7aij43XSuqtckffwVdVAwBQNAxeRAkJHjY31iGmxZqvRWfzl6Cbv8ODehrUtoiNsZKOnghzy4TQ2NHPoCv5i5FcVERSV0hVCxOb/RVOJSYq1AeqJXpl4rszRUXha5gFKDRIx7A08++h/LwKGgJmJwHUXcG86AiHrxBPFzagpqM2xNnLopqmdRcxYABAzoRoLfQjywcyx6mPOQ9tf0huAjjbbfdduvAgQP7i2Hi/MUMnEtNQ3Ria3AA+/x2JBfREvw1ASMyhFHI3Fp9+3QW1dy23Qdw9uR5RLdqL+QX8ICeV8T65+PfNZFKsGnHn6L66tyhHZb+vpdUm1xR37+Wvv/97Cl47MV/4+xZB+xRNlq6w1CZsCYS3Jwqn4mlfJ67kCWKB7bXMyO7AG9PWwA52RVRNPHVGp2o7L1QPFT5K/2OpeMeOn6Wr14yET6GESNG9Jg9e/a6o0ePpkMoEeaBXzLWtGm2RkAHpLJOpzM//PDDd73zzjtvkrohyiD8esGP8JY7yS4RpIysQofyS2gpPkhu6NeuQ5c5HOhz49Wimlr1+yZ6Ig29JD1fJisd5WJIDq1WQy88H1l5+Yi0hjYluna6Ckt/3YXU9GyeQ8Fyh+uiQXf3xu23XMeNq1nfrsKZ9AxYzRYYDYJeLRSQksIzA48SBwk8YunNl0bhkcH98NrUr/Dzml0o9yphpWclPZarkNLAXRP5eELWuYt5WLxsLQbdc2udd0RFRZl++OGHp8ePH+/9/fffl3tYHi/ZxKwxf2FHN2/ZzxgHtEqlUnTr1i2OPs10RQwaNCi+V69eHXr06NE7JSWli1h2XfTypkz7CsagF+4LCnkK/xaJaObHDviia3D3MReSUiVH56uTRTW3ddseyDQaARTUptcjobilTNBNy91eXLiYUyeg2yU34/fk5OVhw/ZDNOk6iurGZNTjnZcfx+vjhxOoV+DL+cuw78gpriOzzDWtXscTjQShHRrcbKy1ajUOHj2NwhIHTHpxBmrrFklYMH0SrS45mD73Z8z5fjXOnL4And4Mi8UCDdvkzPX8oB1FEohNTKPRhDc/nicK0IxYieaVK1dO2bZt2wObN2/euGHDhjP5+fnZZCymOxyODFaW11+S18UBTZLYsJgoOjq6Lf3IHLL1Crj0f/hpFBaWITopjiVFQ5jSCPqUSJVu2EvI6/HCqNOiVZI4t9T+P4/DV1CAjMxMIbVV0q4BwYXmupiOC2kZ6HhVy5Dfjo+LIgZdUNHKMn32ItGADpCGVoOn/nYfv/YdOobZ3/+KH1dtIXUkk4BlgMVkYnUr+HcrgXUpKWmVLHaU4ct5S/H8E0Mk8RBtj8Abz43g16r12zH729X4dStTo8phNhhhMOmpfaWQyC/BNGL8WswmHDxxBi+9+Qkmv/q0qPvkcrmye/fu17PrhRdeYL/yuN3usgMHDuy67rrrniNhmkG/yw4AV0MSj4XYDJKeupJN3P3gaKxYtQH2ZsncnaOgZbZS/wvtS66tzdruZeo9i4LZI0yiggaMfpk/HW6PjwdAuE9L4gRj762IJF2HNs3q/G5kONkvnnIYwtT4afUW7Nx3BF2uaSetQz9dc1VrfMiu18dg5brt+GLuMqzesANOjwI2W4TgIpPVsr+PmA6n1WTqZwsxbuQgAmD98lv63tKNX2VlpVjw83rMpJVj+/7jUJFgiIiIIJNEXbHy1U0+ni9PwhNTpi+kMdLg1eefqA9bCjIa9aSCxBB2A4NbGAC0QkxVmppo7cZteHTsBJw7l8HBrA6zkLGrFXZ4V/GwSAS13zsiOH8uvY+FlcPNVtF8MsPrryIu/b1ubpTpDWY8NGYSDq+bQ5NPnAutNurXsxu/LpJ+/fF/lpBashrnc7Jht0eRxNYIeAry+7JXqiP9N+1CHgaN/Cd+JMOzIaTV6jDigX78OnDkBCYTIL9fvpkAHYYIWzjfDsZVoUu2qVQlxifb0RSd0AwTJ3+FbXsO8dSBaHukZJ5ISsvpOZkHhBWjkddLtShzOvH7+j8w5eNZWE/SQhMeiejmraDUGjiYeYSpmt4b0IfFEpsLTE/2+mqeCC7iwaRvGEAai7yBtFf6tFisOJOWhi59R+CPZbO4cdlQio2Owrv/fBKvjBmGf06eiRnzlkGvN8EcHi74//m3/KoITaoou51Wiq14/Nk38OWHExvcP6MO7ZIx95N/4bXnUjHutWlYsXYHIuzRCCOVSOYLTkqq7Z3LoKbVJaZFK6zcsA8trhuE4YP7YtSw+/iqxCeHOPL7KgURKBnQbNav+G0j/vn6BzhKMwvhdlgionjUjUSQP35f/SGCMqwk6Fu1b+1n+RZevvv4v52YMRkVHYtDJ8+g7Y2DsHjWu+jc8arL0rbJZMCnb43nCVAPj30DJ86dRExsAtkIGr+NIKhWCiULDjUjVWEFjp9OxaKZU0hdEb+6haJWzROw/JvJmPfDKjz58vtwFBUQsKNIrVD5LY/a3yHzh6pJUkfFNsPFi6mY8f5srFu33jfz/Qm+m27uUa+dtPWp4I8Bd/XhV3pWDt7/bAE++WYpGTI+mElfk3kVNcxJX2XCv2i3nU8ITNQioQU/dSOmbTWYKvftKOjlRsclIScrA136jcRzo4ZgysRnWPLNZempS8f2+HPDPPR78BnSr/cirlkLUgN0lXlhNOhKjRZxzZOxafdJkoYDMPW1p/HE8PsvS/+MHh7YFzd2SUGv+0fjwoWzBNJEWi1UoUMP9MeiklIUFuZj2MDbMGHsULRNTgrOypJMDUofjY6MwHsTx+LRIXeg/6P/ROqFVNijYkjtUF/KUR161SXEHyvgi7gU0DL/cvrfSFay4uEPGgQ8lQzU4fZY6M1mfPDlD5i7aBleePIh/GPMCMFIbSCxcPOq7z7Frfc/gbXbDiMusaWQkyFwAV5cgqRhbEISHMVFGPX8ZHw8cwH+76XRuO8uce6zuqhZYhz2/DYHKT0eRG5WGmx25oFS1vruc/PyYQs34OfP38aNXUNHYMUSBzSTujqdrt7K3VVtWmL3qlno0PNBZPkfxBfYbewnXjhFkt3pC9Khq0tiQYVxiExaYVln3/+0Alqdzh8ebkhwIDQxT0LqhXSotUKUjeVTyL1ev/dSTiuZnkvQ4vxcvEi65+RPvsHfH74HY0cORWJ8bIP7//W76Yi95k4U5uVwVdAnC955D540FGayEh86nCQ+Bwx7FsmtEjHm70Pw2LD7YTBIrAxbjSw0YZfP/wgdbx2GMjKItWHGGvPr8guL0CLehk3fT4XRoKt3f1qttopQVrIQt0ajKZ85c+bSlJSUDiaTyWi3220JCQkRBHKt2IbpNvz8zVT+IE6SUFq5KWgw67tLQRb0WRWEKtILC4vFAbrMWYpHhowCiUeA9EtJIXipxKouaVSwhtsIO7pLtvCzBCRWXsBkjYTeaEIJ6ZzvfboAU2csxA2dO+Dxh/tjyH396m08MmPqozefxYOPT4TBZOGlt6ruGBLeB6tgFBkVDzfxmZaXjWdf+RCvvPsZ+vXqjlGPDEDf3uJyy2uiq8moe3J4f3w+fyXiE5O5bVWZCysjAVPOJemqr9+QDOaCggLH+fPnczIzM3MKCwudW7ZsOU+C0kF/YlFDH0e30+l0vPTSS5Ppn80I30Y1aeqtWrVK6NOnT6cxY8b0Tk5OjhbT2TUp7TDknt5YtGobYuPDWDKB/y9+/dnng+gtAt5ACkcNOrRPSKjPzBWXeMO2DUW2aQu3Uo8wA8tpbrzKPQH+uLokU/rL+vmq/VH4O0t6MlnUMJrC4XI7setgKjaPfg1jX34Xg2gcn3/qUaS0q3uDQHUaMuAO/OPNj2jC58NssQcJlkoe+E8sBVSjQ3hkHKwR0XCWleKn33ZgyZJf6f1F4m8P3otnHn+I75SRSq88+xi+mPsjyssd0Mj1QiYhhKnFNmS8OnYQD96IpR07dpyZPn365o0bNx49d+7ceZfLlQ8hUYk9CosSssQZV0Bcsz/k0MXS85QEcPXBgweP0bV/4cKFG+fMmTOawC0qaeL5px7Bt0tWw+0qg4onzcP/ID64PR6UloVMlqognjpKqK7JD81+ZjXesvIKeLDDKCKsmxAXhT/P5JKQVvMopvzShNHLS1xtlQVNyJq/wpPxCVhqGitbrA5eu43ruLO/W4XZc5fi5pu64PUXRqH3LddJ6r7/7Tdj2uxfSEqzgjO1r0g+IfGbu/u0ejVi9Xp4XE5SifLwzgf/wZRpc3iIetKLT6JNq+a1tlOd4mOicG1KMg6fzuG7gWRKIbOR1QnXqGQY/bD4HeikPWwdN27cYofDwRKUGE5ZVDAPlZl3LI+BSWmn0iecncWUVCbuSv1fYNOJIT4nPT09e9SoUZ4//vhjSmRkZJ0J/l07Xc2d7M5yJ1nWYVX0J1bJqMghTk3gOQPw1eqHZuZiCbV15PhZdOtYd9Dk+k7tsXvfT7BG2nmWl4TU7PqTV8SUqSK9FYQtLYFQA73BAo+7HNsOnsGt9z2BHgTsOdPfRGKCOD27901dMe3TOfCUl0GuJsESyvCskvus5DkyxggNjBYbnATub5dvwrc//ooRQ+/CFx9MFB0guq7jVdi5ZzEspF6xDbPsJGxHaSnatIiDLULUXhHs37///Pjx438gMLM6Y6fpYqBmxwIwrFbfTi4YhUFRwkDGjsefpsducpw6dcq1aNGiNaNHjxbl50lKiMLR1EKwHf3BuhMbUoVIi549sMvjFiR0DXYcU12Y0bht92FRgGZuxumfLeAgUWiU/oIw/23k80tMoaIn8x/bo3XwRERi497jSL7+PuxcNRdXp7Sus6WWzRO5yuf1uGjyspVOCbFpqHwrGnMp0iBrlWrEJ+ngJCD+h3Ti9Vv24MDG73n9vLoopV0LkqHl1J6nItBSTj+3bS7e+CXpvLmkpOQM/fMkXSx1kFfyry3Rv1a3nf8GdkYc217g+41ILKDjo6Jw8HRuIGuV/47Bx+10oqhQnN4bG23ng8FAK6slGhOm1WLpr5vx9N/rZqtPzxsQ3zIe+bSUWuxaP0eNqnTUnwJlbDkGFNynHBefhLTzqRg25lXsX/9tnU3YrFZe147nHdenuEvF0DBpooRGZ0Bsy9Y4dfwoxk+YSpL61TqbCLdYCXr+WAJbreQ+uMrdpI6I08nLyspcBLtDEKTyBboKCZfuUPeI8UNzSb1nz54TJPYdYWF1n/ijVCt47FoWnDTj9xlnZueI6NKfgklGis9NxqtagUuLcctgIAt5666DKC5ywGCsW4+eQIbK6LGv01IaTjzKanQn1YcCEc2a3JKBwur1zyP2F1QjHdcWHYuDx0/jQlom4mLsIe9iSVuywG4hbqDWzJ+Y/gWS8dMYzLHxWLl+u6g7hXERAkwBXlhrCoW41TEzM7MwLS2NCVSH/2r4GSt+HdtDsyWH8FwgBtBM7+VXUNFujmwyPs6kptV1O6fuXa+he1yClaxQ8f1z1fiCWqVBZkk55ixZhdHDB9TZ5pOPDsGc75dhy64TiEtqzvlpiJCW+ff/FRYVc4PXSAaVUH6sstHSUieXklpaTZhxFirdMxSx+4RtUUqawMWs9GfI77NKp95yF++pqKiE5bxDy/YXyurLg7AnnrkFy92BTSOhgVlYxLQDYYwYFni+Ggk6r8gILwHaQepGwJPhu5zHunilqGEAABApSURBVLmJMkn/YRzGiLzH7z4OclOptTh6Wtx+suSWzdCmfUucupCDyHgjNyou2Y7EttRbLfh45neiAM1o5cLpuKrHIKSmnkFMXKI/zZW9GHGDHKhWz15KPqlPJYWF6HxNK4wY3BcT35sFaMMIPEISvMNRiqvbJsFZVoKtW/ZCZzHDbLbydEvBEPMF+cRDvyueMusqh9EUhhZMP66DLqbTKk2ALiUe+vTsiN0H/kTq6XMwWG08ZiD3B76qpn3WgRe+j7MUrVoyHbhuKXv81FkW6fDfK7KPIMrOzi53uVxs9oheSkUBmunT0dHRpQqFIqT+UvUmXGLlazUaXkNYLH387gT0vfcx5KgNCA8nS7liGQ2keXiho0ny576jmPv9Lxg2uG5XkNFowIH13+H2B8Zg+/Y/YY6Jg15v9Lu2QiYecClcVupAYbFgB3Tt0ALjR47Bg/2F0PE7H3xGUqkcJouNFylk/tYRg0Zi+KC+mL94OabNWozt+47RuqngJXj1hjDu2mRnj1QA21f1lVc8LxnIuakXMX7MIJowdb+2bTv2cRCVlpTgk0ljuNvyvWlfY9bCFTh68gzPijSZTCxCDCWzsIN4CJaDldkFPl6EpiwrBy9/+I86+2e0e98hIQ2CW2OQbLbUR0WSUjnJJ/5gGyGPuare5iPLWIO9h49XBA/rott73YjVS7/Cs69+hENstkMlqAncY8JegAd6tRyWmAiMm/AehvS/DSp13RE2FmjZtnIOPv/P95g8fT6pQafZDkoSrloOsEBk0sfPHnGjzOXkxo2SpE27FnG448E+eGTg7YIVH0StkqKxec8JmC024X6SqNH+rLaH7r+TX6xm3Hc//Y5f1mzFnkMn4WC7spVq6AxG7qpkofOKAlU+4SwYdoip21GMIYN748NJ40W9geVrNoEa5WUMhHC2DP8Y+yi/du49hG9/+g0r1u3EsVPn4CpzQUYrS5hOD41aJahNgfNoPOz8Fzev+s924bz31jMYcGdPUTz8QZPKaLL4c1WCJLTUvB4J1Ki17QQd2p8e42PhagUyL+Rh9fqtuL1nd1FN3UbfO7ixO1IvpuMw2x9XXMb9yOEWI+wRZrRpmYi1m3egb6/+GDnuNXzz2bui2XxyxGB+rdu8C79v2Y39R07zndr8TBY2AbUaJJFka5EUh2tJ/el6bbuQ0a3ru3XEuk0HmE8JzH6RkyRNSqwaZG2RlICXn/kbv4oIJOs27SSd/iB2HTiFc2TssXNXHCVCOIBJ4jhbODpf3QmPPXQXelwnbisXK2y+ZftehJntJIXNQrJUEHXpeBW/3nsNOJ+WgfX0/Ft3HcL+P08jLTufVpYifngQozCdFuy81R7X9cTTIwaiZbN4UTws+mkFirLyEdk6jntqKmp08J38opqoFzVeOd3Aju1qk1FFAzRt1veiAR2ghNhoftVEGjU9hsaEOfN/wc3du+Dx4YMktd3zxs78aihdd20HvvXKR5fXp4SZJGNcVO2Vi4wGA+7p15NfAWK6Oas3wgZORZJbrZb+iia+/W+uP7NEpPiE0CYPi+g9POhOfgWInfpazgEtg45WDblIr0QwTZo8DQqyGZiNUiXfoaJOS+NQI0po7yX5yj6+x82KpWu2kbQ9hfZtWtR8v0Rim0ah1MAak4Annn8XifHRDUquqS914Yn7LridDnhkOoSbDTCI3G0dIKZusBOt6kt79h/Cl1/MgykmHqVuL1qwDbsSSUVqB7vqSx9//jUO7tiLiBZtSH+WCzq0zF8Cq5Fz2Bvn0CAIifyXbF6hH5h+ptJoMWLc66THfnNZ+lNwg85DKmMYTZoo9Bv6LOZOm4iHB99zWdoXS/FxMUgi9SSXDEcvATMhXvxJW5eDHCUO9Lt/JBQGC42FBcX5pWghUkW4XLR15x6M+8ckGOISoGSV45SKqvZSg9L366ZGK3ju4cEhr9/nGfwXGSLCw7F91zE888pkfPy2uIPMQ5E+TM/2/sNNhluY0cT7GPbEv/hu6w//78UGty+WcnLz+HmGrPAjW7ZTWotP5mkoZWZlo/vtD9BnASLjkngFUS/KSA366zYHb9i8Hb3vfQQaYwT0JhtkKrbSyBAcpfYFqmE1EjUKoIUii+X+B6meQ+DjzvnI+Hh8MmMRj+1/PrXuMGooUrJMLkVlfQg96aaquOb497S5WLZqLT6d8gpu63Vzg/oIRQxMkyZ/gs+/Wsh3hVjsMZB7FFjx+yb8sPQqDLynT6P1zWjRjyvw6FMvoqTMw8HMCtMw/6+e7JVPZi4gPd5CBm2HRuXhzSnTMHHSVGjMETDbojiY+XEU1bHbyElhjXMKlssFX1kJfTrJ0pdf8lCCx0MJe0IiZsz+GWs3bcc7E8bSixddD7IKxUbZuY8b/uONmT9VrdUgKqklzqSl4/a7RuDGHl3x0jMjcc+dlw9c6zf+gWlfzsHiX36j53XBGB3Hd2jIlVpo6fkycwpw/8Pj0KxlDD+24pHB96J5s7qDIqL73/wHJr71b2z4dTPUNjsiY2y8pABzbfo8Ml5GbNO2Q+jWawg6d2qPx4YNxOD+/RAh4mgLsTTv2x8x8d2PcerQcRhi40kyh3MfN6tIWqMklrxzSRo1CqDVGmrWXeaPftRcD5c9k1KlRFRCEs6lZ+H+oU8joVkc7ux7C/r2ugEp7VujeUI8/051crndSD1/EcdPnsGO3fuxafs+qJgDv8LfKUTAFGolP0fQZbZg695juHfgEzSJYtGn1/W4t98tuL5rJyTVUZk/QKxG3ZE/j+OPHXuwcs0mbPhjF3LPp9PD6mC004QKMxOQ1UINOLmwq95gMEHXvBUy8vLw2huf0vUxWrVtgR7dO6Hnjd1wdUobtG7ZnIfFxRAL1OzcdxArVq3DkmW/4cyxEwD1a+W1rsN4reuKusxsJSQ+IuyRKLcYse/YBYwe8xrGvPQWOnVoTzx0Rs+bu6JdqxZoRpNMbBGaCxfSsX33XvxI/S9bvR45NAbKiEjYktsJJSx4IUxFNeOpkrxeN3SXoZRDbdQogE6Ii2XJz0JqfojZyDeBK+SwhNvgMRqRW1LMJfaMz+aSCGd1j1U8CGIyGsB2gzFQ5ecXIr+gAO5SJ0vH4rsu5BYr33XBjzGrsKJ9gv5Ov1NqVSS9tPDaouEoLcH8xb9h/jeL+bklRquZjLdY2CPDYdDrq6wm7ED3nFxWPiwLFzOy4C4p4c9FSCUchZMV344fj8y27LNNAzJeoBJBR2/IqHs1zOF2mKxWeJxlSM0owaxvfsKsz+fyrUkKvZZsCisiIyNgMujpMvC8C07EfonDgdy8AlxMy0JWdjZQ7OCBCqU1HOFJbXjOOZPICrmS7wrxBUlFYehptWIVjiJj4aNxZmeL7z+ehp17F+KDD2cSD3KodGp6fhsibVZuj1jMxopkMJZglsfP+S7E+QtpKKDxABm9oBUxzBKBiJZtuZolFHNkk6IqD5cQvZ/42NB5KA0hKZHCEHUyqtJ1nTsyNHDmhRBFCD+mP0WS7X0z0Qw30ovyusrhITCxKJXT40ZGgRPePCdvhUlBo5V01AgZ94/yAt/0Mtk+PV8tG2A51+yl0/+M9HL1JlZgnPXh5tL+1MV8HDubLSTNBOWeMOAo2DYlApjBGg1FhLyyT1ZpnxX79m+3qpK3csnzMXiooNIqYdHp4aNnZDaGh56P1ehzEA8nU8mg9Obw31WcT8P2J8rl/CQBFmSxRiZAGSP3Z88p+JmICnqFPkWgnnTNLjFhiFmCvQY6JV0k1X12b8U4u2mMCxweZJ/KImM+HV63N+hG8JO4FDR+aqUR1jiLECpnOS1yBT8tQDjGLuDSqt0tJyQledApRVyBzfqQaEA7nU5vaWmpKCfiPXf2ZodRo7ioEBYWiuaJRaFu9VX+10cSV6ElIGn4YGprtCL83w/gVy7z684h+vC/HAFf7AxsBV+d1fQLvShLpVqfgckdCBSEVAuDn08mHIPhVfL+2S9rfsZa2mH/D+REyPwbycT4dn0BHvyJWEHjrJZVPIh4HvgtlfknocaeC0LqtiCviFZDO67t0FZkX9JJNKBzc3Odp0+fzktMrNuoYbsZPnlnAp4e8y84HGUk3SJohdLy8wPlMllFxlrNJPiwfSFXA1nVf0q2MQTp56vWVGiS1fjPepF/Qkjr3//l4I3w9Yq4VapkdY9zHTxU0KV8BFJGPSTtnbQSlLATDWg1mDb9FdE9FRXx4wckndQpRYf2FhYWsgwhUf6vsaOGk9F1LT6atQC79h9HemYBVx+UJJZUvD6G2C1BTXSlEcuFd5U7+aUjOyg50YbuXW7Bc6Me4qXDxFJqaio7fqAYwq5uUdqBFED71qxZs/eee+4ZJvaGLp06YE4nwf8pVPOX4ea7R2DXwdMwMz1SQudNdGUQe8f5ufkY++h9+GDSM6IzK2uiHTt2nKCPTLpYyQKXmHukAFrx+++/7yc92qHT6SSX1wkYlJ5yB9mLZbW6dZroyid2kKha5XcE1BPMeXl5xVu2bDkOYYc3k9KijlyQAmjZgQMHzq1YsWLrwIED610MjYWnff7jKaTrb010JRAzVJmLtSG0ZMmS/aRynIewl9Altn65FECz3Sp5kyZN+pwA3Rv1nnu+SrdUE/1vkrcur09oYth9++23V9A/mQ7NNsmK3iklFdCF+/fv3zp8+PBXZsyYMVGnE1GcoRqjzGmv1agFN55Mep5tE/13E3vHRqPOv1lYOhUWFpYNGzZs7kki+jEbgspx+QHt3/3NrM3COXPm/JSRkSGfOnXqEx06dEiSzjZvsX63NdEVQtLf7969e9PGjRv304YNG3bQj2w3NTMInVKOS5E0jfygZrW8slevXr305ptvPjJ06NC7aEb16tSpUyIJ7JDtCdX9UaFDN6kd/5skJfmotLTUvXv37oskJHfPnz9/Z1FRUSr9ml2nIXg3xG/MRv1yOdz+jsoLiD7//PMLX3zxxZp2RD179mx17bXXNm/fvn1UZGSk1WKxaPR6vULFtj/4a1jI/KFcngMhuhRpE11JxIrcMIOf1+KQCZXmnE6np7i42EWQcaWlpRUePnw4a8+ePSc3bdp0+siRI+ler5dVIGI6MyvEGCjKKEk6876lMuvvwEXSltXoYLs5i4iZ7EOHDp2gix1uH0Z/s2k0mlibzWY3m81hWp3erNDomxGC1ecuZskVXmWZp8xbJpPJm0T0/yApvR75kiU/yDeu+C6V5RITPuQOh8OZn59flp2dXVpeXl5MMGLgZWoFM/qYS4R5M7L9PzMtQLRno0rf9WXaX/uunMDLJDYLUWb521PT34xlZWWR58+ft9LFcgVZGlagoJzTzzibEJKWkya6YkhJL9hIVh3bIs9iFgwrTPi5/Rf7NwMu05F58UX/xbDhru8Rg7zjBjIeDOyA45HXtIbAbADMLA1H5//k34f/vOaG9t9E/5XEMMBUBiaBmRBj2Cj1f7L37/b/24kgHDQEyAG6bPnQQcywzwDAheJmwkMpUFk/qgnI/39QIFYh5I1WSzS6HACuTv8P8BsudcRLO0cAAAAASUVORK5CYII=\" alt=\"Less.js\" style=\"float: left; width: 90px; margin-right: 10px\"></a>\n<strong>Less.js preprocessing:</strong> Smart Forms uses <a href=\"https://lesscss.org/#\">Less</a> format which compiles to CSS on every file save. This enables variables, mixins, functions, and `@import` statements for better code organization and maintainability.\n\nEach component has a default class that can be accessed and styled. Additionally, to style a specific element, use the \"styleClass\" property in the component.\n<br><br>\n\n### Legacy style file in the project root folder\nYou may encounter smart forms where styling is organized in a single **style** file in the root folder of the project.\n\nHere is an example of component styling in Less format, featuring variables, mixins, and Less-specific functions:\n<div class=\"scrolling-y\">\n\n``` css\n// ===== Mixins =====\n// This mixin applies the same background, border and text color on hover and focus.\n.hoverState(@bg; @border; @color) {\n  &:hover,\n  &:focus {\n    background-color: @bg !important;\n    border-color: @border !important;\n    color: @color !important;\n  }\n}\n\n// This mixin adds a subtle accessible focus ring without shifting layout.\n.focusRing(@c: @primaryColor) {\n  outline: none;\n  box-shadow: 0 0 0 2px fade(@c, 45%);\n  transition: box-shadow 0.15s ease;\n}\n\n// This mixin truncates overflowing single-line text with an ellipsis.\n.truncate() {\n  overflow: hidden;\n  text-overflow: ellipsis;\n  white-space: nowrap;\n}\n\n// This mixin generates a tinted hover using a lighter version of a color.\n.tintHover(@c; @pct: 12%) {\n  .hoverState(lighten(@c, @pct); lighten(@c, @pct); @fontColor);\n}\n\n// This mixin generates a shaded hover using a darker version of a color.\n.shadeHover(@c; @pct: 10%) {\n  .hoverState(darken(@c, @pct); darken(@c, @pct); @fontColor);\n}\n\n// This mixin generates a translucent background from a solid color.\n.translucentBg(@c; @alpha: 50%) {\n  background-color: fade(@c, @alpha);\n}\n\n// This mixin adjusts saturation for a more vivid or muted look.\n.saturationHover(@c; @pct: 10%) {\n  .hoverState(saturate(@c, @pct); saturate(@c, @pct); @fontColor);\n}\n\n// This mixin sets a contrasting text color based on luminance heuristics.\n.onAccent(@c) when (lightness(@c) >= 50%) {\n  color: #111111;\n}\n.onAccent(@c) when (lightness(@c) < 50%) {\n  color: #ffffff;\n}\n\n// ===== Tokens =====\n// These variables define the core brand colors.\n@fontColor: #000000;\n@secondaryColor: #EC9704;\n@primaryColor: #F7C815;\n@primaryOpacityColor: rgba(236,151,2, 0.5);\n\n// These derived tokens use color functions for consistent variants.\n@primaryBorderStrong: darken(@primaryColor, 8%);\n@primaryBorderWeak: lighten(@primaryColor, 8%);\n@primaryFocusHalo: fade(@primaryColor, 45%);\n@secondarySoftBg: fade(@secondaryColor, 30%);\n@accentTextOnPrimary: if((lightness(@primaryColor) >= 50%), #111111, #ffffff);\n\n// ===== Components =====\n// Button styles define visual variants and interactive states.\n.button {\n  // This ensures a visible focus outline for keyboard users.\n  &:focus-visible { .focusRing(@primaryColor); }\n\n  &__menu {\n    .translucentBg(@primaryColor, 50%);\n    &__item {\n      background-color: @primaryColor;\n      .onAccent(@primaryColor);\n    }\n  }\n\n  // Default button\n  &__default {\n    background-color: @primaryColor;\n    border-color: @primaryColor;\n    .onAccent(@primaryColor);\n\n    // This reuses the same hover and focus pattern via a shaded variant.\n    .shadeHover(@primaryColor, 8%);\n  }\n\n  // Text button\n  &__text {\n    color: @primaryColor;\n    .hoverState(@primaryOpacityColor; @primaryOpacityColor; @fontColor);\n  }\n\n  // Secondary button\n  &__secondary {\n    border-color: @primaryColor;\n    color: @primaryColor;\n    .tintHover(@primaryColor, 18%);\n  }\n\n  // Tertiary button\n  &__tertiary {\n    color: @fontColor;\n    .hoverState(@primaryOpacityColor; @primaryOpacityColor; @secondaryColor);\n\n    &:hover,\n    &:focus {\n      .fill { fill: @secondaryColor !important; }\n    }\n  }\n\n  // Quaternary button\n  &__quaternary {\n    background-color: @primaryOpacityColor;\n    border-color: @primaryColor;\n    color: @secondaryColor;\n    .hoverState(@primaryOpacityColor; @primaryOpacityColor; @secondaryColor);\n  }\n}\n\n// Check component sets the main accent color for icons.\n.check {\n  .fill { fill: @primaryColor !important; }\n}\n\n// Label reserved for future use.\n.label {}\n\n// Divider reserved for future use.\n.divider {}\n\n// Image reserved for future use.\n.image {}\n\n// File reserved for future use.\n.file {}\n\n// Carousel reserved for future use.\n.carousel {}\n\n// Copy includes an interactive container that tints icons on hover.\n.copy {\n  &__container {\n    &:hover,\n    &:focus {\n      .fill { fill: @primaryColor; }\n    }\n  }\n}\n\n// Upload component colors edges and glyphs with the accent.\n.upload {\n  &__corner { border-color: @primaryColor !important; }\n  &__icon {\n    path { fill: @primaryColor !important; }\n  }\n}\n\n// Widget reserved for future use.\n.widget {}\n\n// Edit indicates focus using border and label color plus a halo.\n.edit.focus {\n  .field {\n    border-color: @primaryColor !important;\n    box-shadow: 0 0 0 2px @primaryFocusHalo;\n  }\n  .label { color: @primaryColor !important; }\n}\n\n// Calendar uses a translucent background and solid accents.\n.calendar {\n  .translucentBg(@primaryColor, 50%) !important;\n\n  .selected {\n    border-color: @primaryColor !important;\n    background-color: @primaryColor !important;\n    .onAccent(@primaryColor);\n  }\n  .button {\n    border-color: @primaryColor !important;\n    background-color: @primaryColor !important;\n    .onAccent(@primaryColor);\n    &:hover,\n    &:focus {\n      background-color: lighten(@primaryColor, 10%) !important;\n      border-color: @primaryBorderWeak !important;\n    }\n  }\n}\n\n// Select fields communicate focus with accent border and halo.\n.select {\n  .focus {\n    .field {\n      border-color: @primaryColor !important;\n      .focusRing(@primaryColor);\n    }\n    .label { color: @primaryColor !important; }\n  }\n}\n\n// Multiselect mirrors select focus and also accents chips.\n.multiselect.focus {\n  .field { border-color: @primaryColor !important; }\n  .label { color: @primaryColor !important; }\n  .chip { border-color: @primaryColor !important; }\n}\n\n// Radio uses the accent color for checked state glyphs.\n.radio {\n  .fill { fill: @primaryColor !important; }\n}\n\n// Phone reserved for future use.\n.phone {}\n\n// Tab items are accented and prevent layout breaks with truncation.\n.tab {\n  &__item {\n    border-color: @primaryColor !important;\n\n    span {\n      color: @primaryColor !important;\n      .truncate();\n    }\n\n    &:hover,\n    &:focus {\n      background-color: @secondarySoftBg;\n    }\n  }\n}\n\n// Comments reserved for future use.\n.comments {}\n\n// Table uses the accent color for icons and controls.\n.table {\n  .fill { fill: @primaryColor !important; }\n\n  &__pagination {\n    &__button {\n      color: @primaryColor !important;\n      border-color: @primaryColor !important;\n      .hoverState(@primaryOpacityColor; @primaryColor; @fontColor);\n      &:focus-visible { .focusRing(@primaryColor); }\n    }\n  }\n\n  &__button {\n    border-color: @primaryColor;\n    color: @primaryColor;\n    .hoverState(@primaryOpacityColor; @primaryColor; @fontColor);\n  }\n}\n\n// Stepper reserved for future use.\n.stepper {}\n.stepperMobile {}\n\n// Otp highlights focused input with the accent and halo.\n.otp {\n  &__edit.focus {\n    .field {\n      border-color: @primaryColor !important;\n      box-shadow: 0 0 0 2px @primaryFocusHalo;\n    }\n  }\n}\n\n// Progress bar adopts the primary color for the indicator.\n.progressBar { color: @primaryColor !important; }\n\n// Section header and close controls use the accent.\n.section {\n  .close_btn {\n    .fill { fill: @primaryColor !important; }\n  }\n  &__modal__header {\n    background-color: @primaryColor;\n    .onAccent(@primaryColor);\n  }\n}\n\n// Modal width sets a fixed maximum for centered dialogs.\n.section {\n  &.modal {\n    .section__wrap { max-width: 700px; }\n  }\n}\n\n// Slider re-colors track, handle and dots using accent variants.\n.slider {\n  .rc-slider-track { background-color: @primaryColor; }\n  .rc-slider-handle {\n    background-color: @primaryColor;\n    border-color: @primaryBorderStrong;\n    &:hover,\n    &:focus {\n      background-color: lighten(@primaryColor, 6%);\n      border-color: @primaryBorderWeak;\n      box-shadow: 0 0 0 2px @primaryFocusHalo;\n    }\n  }\n  .rc-slider-dot-active { border-color: @primaryColor; }\n  .rc-slider-rail {\n    height: 20px;\n    background-color: grey;\n    border-radius: 0;\n  }\n  .slider__footer {\n    display: none;\n    margin-top: 8px;\n  }\n  .rc-slider-dot {\n    height: 24px;\n    width: 8px;\n    border-radius: 4px;\n  }\n  .rc-slider-step { height: 20px; }\n}\n\n// Toggle uses border in rest and fills active with the accent.\n.toggle {\n  &__button {\n    border-color: @primaryColor !important;\n    .active { background-color: @primaryColor !important; }\n    &:hover { border-color: darken(@primaryColor, 6%) !important; }\n    &:focus-visible { .focusRing(@primaryColor); }\n  }\n}\n\n// Attachment adopts a vivid secondary background with contrasting text.\n.attachment {\n  background-color: @secondaryColor !important;\n  .onAccent(@secondaryColor);\n  &:hover { background-color: saturate(@secondaryColor, 8%) !important; }\n}\n\n// Signature content uses a softer translucent variant of the secondary color.\n.signature {\n  &__content {\n    background-color: fade(@secondaryColor, 55%) !important;\n    .onAccent(@secondaryColor);\n  }\n}\n```\n</div>\n\n### Styles folder\nFor better code organization, you can use the **styles** folder structure:\n\n```\n📁 styles/\n├── 📄 index        # Main stylesheet\n├── 📄 colors       # Color variables\n├── 📄 mixins       # Reusable mixins\n└── 📄 variables    # Custom variables\n```\n\nThe **index** file serves as the main entry point for your **styles** folder. For the styles to take effect, all other files must be imported into **index** using `@import` statements. For example: `@import \"colors\";` or `@import \"mixins\";` to include the colors and mixins files in your main stylesheet.\n\nTo create new style files in the **styles** folder, click <span class=\"icon icon-badge icon-add-file\"></span> next to the **styles** folder. Remember that these files must be manually imported into the **index** file using `@import` statements.\n\n### Page-Specific Styles\nAdd style files to individual pages for page-specific styling:\n\n```\n📁 pages/\n├── 📁 contact/\n│   ├── 📄 config\n│   ├── 📄 locale\n│   └── 📄 style    # Page-specific styles\n```\n\nEach page can have its own style file (displayed as **style**). Page style files are **automatically included** at the end of the main **index** stylesheet and have access to all variables, mixins, and definitions from the **index** file, allowing you to use existing color schemes and reusable components in your page-specific styles. These styles are isolated from other pages and apply only to the specific page for which they are defined.\n\nTo manage page-specific style files, click <span class=\"icon icon-badge icon-three-dots\"></span> next to any page folder and select **Add styles** to create a style file or **Remove styles** to delete it. These files will be automatically included and don't require manual `@import` statements.\n\n#### Example file structure:\n```\nstyles/\n├── index        # Main stylesheet with imports\n├── constants    # Variables and color definitions\n└── mixins       # Reusable style mixins\n```\n\n**styles/constants file:**\n``` css\n// Color palette\n@primaryColor: #007bff;\n@secondaryColor: #6c757d;\n@successColor: #28a745;\n@dangerColor: #dc3545;\n@warningColor: #ffc107;\n\n// Typography\n@fontFamily: 'Roboto', sans-serif;\n@fontSize: 14px;\n@fontWeight: 400;\n\n// Layout\n@containerMaxWidth: 1200px;\n@borderRadius: 4px;\n@boxShadow: 0 2px 4px rgba(0,0,0,0.1);\n```\n\n**styles/mixins file:**\n``` css\n// Border radius mixin\n.border-radius(@radius: @borderRadius) {\n  border-radius: @radius;\n}\n\n// Box shadow mixin\n.box-shadow(@shadow: @boxShadow) {\n  box-shadow: @shadow;\n}\n\n// Button variant mixin\n.button-variant(@color) {\n  background-color: @color;\n  border-color: @color;\n\n  &:hover {\n    background-color: darken(@color, 10%);\n    border-color: darken(@color, 10%);\n  }\n}\n\n// Flexbox center mixin\n.flex-center() {\n  display: flex;\n  justify-content: center;\n  align-items: center;\n}\n```\n\n**styles/index file:**\n``` css\n// Import all definitions\n@import \"constants\";\n@import \"mixins\";\n\n// Global styles using imported definitions\n.main-container {\n  max-width: @containerMaxWidth;\n  font-family: @fontFamily;\n  .box-shadow();\n}\n\n// Button styles using mixins\n.custom-button {\n  .border-radius(6px);\n\n  &.primary {\n    .button-variant(@primaryColor);\n  }\n\n  &.success {\n    .button-variant(@successColor);\n  }\n}\n\n// Utility classes\n.centered-content {\n  .flex-center();\n}\n```\n\n\n### Error Handling\n\nWhen you save a style file, automatic Less compilation is performed. If compilation fails, the system provides clear visual feedback to help you quickly identify and fix issues. Files with errors display a red alert icon <span class=\"icon icon-error\"></span> in the file tree, along with a tooltip showing the specific error message. The code editor also highlights error lines in the gutter, and clicking an error icon moves the cursor directly to the error, making it easy to locate and resolve problems.\n\n<img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABjkAAAKSCAIAAAAPiy6VAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAP1uSURBVHja7N0PdBN1vv//nJPfL+dse2wPRVDUK39+rL2ysi52xRWF7XoVhSp2lYsuunK93C/swi73wl6qfhG1gHXZXYpad2sXK0ot8kdKsVigWsu/lpbSP9AitJbav4QCbUEpGKz2l8yfZJJM0qRJ02nyfJz38dhkMpmZTJuZF58/uh4AAAAAAABAG3QcAgAAAAAAAGiE7uz5ToqiKIqiKIqiKIqiKIrSQpFVURRFURRFURRFURRFUZrJqmhaBgAIZeLXIccBAAAA0AiyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhTctZVXf39+Ztu3r1Oz4mAAAAhA6yKgBASNNsVnX1u+/y9pZ8lPP5J58Vdl3+lk8KAAAAIUKTWVXboX8mPLNgxa6TJuWjlQljdKK4DD44AIB/aDOruvrdd5/tP/xRzudi7cw7+M2ly/7+YvW/jDgdX9UAAADwUaCyKtvVqyvWq9rGpAnSQ+GzcxSrIKsCAPifNrOqiqpaa1Al1o7d+y9+falPK3P1xdqf3/Z8VQMAAKCvNJhV2TIp+ytdsioAgP9pLasyCaNTff/994WHjznEVbvyD/Vpla6+WPvz256vagAAAPRVwLMqfVjUcFXPfGS9pv7rpKF6nc4wek5Wm+qlNhfAAAB/0VRW9fU3XTl5B6u+qBN/LDt6UplV5R8o7dtqXXyx9uO3PV/VAAAA6LOAZ1VjEir7uAqyKgCA/2knq+q88M2OXfvFWKr8WI344Bc1X4mPFBws6+7u1vjBJKsCAACA78iqAAAhTSNZ1fn2C9tz9ypbUZWUHxef+qrpdOHhY99//732DyZZFQAAAHynxazKxbLusypT84E1C6aMiwrTy10NR8XMWXOgWXXGo66qzITHY0bJC+t0hojh46Y8k5BZfLaLcwIAQooWsqrTZ85nfVLgMDqVuQoPH/vhhx/67UtY/mKdnNIhfTdOs36PGiJGxTyemNvsYuJAu4XN37njpgnL9vLPStLXb4TB9uU7LSGzyv6rty1lsvztPGJegeP7Vy6Llp7VRyeUmjh/AQAAglBQZFWm5vT4oXrVEdv1Q+PT7S+0TaXLbjO4HOF9xMJCTgoACCUDnlU1tpxxTqmsdeLLhn77Epa/WMNnZ51MiY1U/RpVCYRcfesabluWkRDtKqvqKkpw9fVruC2hSJlXtaVPDVdPq5RJ1bJKTl4AAIDgFARZVcem+EjrwO0/nrJgxbp161YsePCnQ1X/WbZw4QjFws8kJK9LTnjmMblB1vjEOs4JAAgpA5tV1Te2ugmqikqrAtGuSjfippv0UvuoKY899tiDMdcbXP4rjql08RhFzBQhvEL+GjUYDOpZlS1k0hmuj3nc/O1r+fqdMlpeXD85RTnqe1tGXKTzl7giqZqQxPc1AABA0Br0WZWpYN4I9X/77Sr6g/wCWwR1fJn8L76/WOMwF1JXff6uIx2cEgAQWgYwq7KOm65apRVf9POXsO2L1fIlOk/Z4a+raLE1XBo2r8D2mo7UWL31JYsVzaFMzbnzom2treyyKlu3vsi4DOW3r6k5TW5CFT4rS/kl7pxW1SVN0KsGWwAAAAgyAc+q9GFRw1U885EXl9SKC2BTRpzeZe8925MTkhrFhxqTJrgeBAMAEHoGKquqqKpxE1RVnTjVH1/CLrMq5y9FU9ascOev3Y6UyTqnfwdSeYldVmV9H31sqtO/CVmfDJ+dY/eEotn0mMWlX1iTqvCp6SRVAAAAQS3gWZULymtab7KqgnnDpAfvS25wsmv+SMcLYFsfQEsnwJlr8usZTR0AQtmAZFXFZdVugqq6r5r76UvY1RerXdMpp2cVr8qZLadR1n8FUrI9rZpvjZy/y/m7Ovk+V2tUdvLXqzfMAgAAQBAa7FlVb+t1Xr/T2Or6sBtdzxgIAAhyAc6qfvjhh4MlR90EVQ3Nxv77Enb1xSrOBGhPNauyrsmxFZSbr2plV0N3VEYJMOXMthvynaQKAAAgFAzy8ao8vf51GOO1qypt5o/DHOYwMoyemX6SwAoAQkwgs6ru7u59ReWuUqptOwtajGcD+CXseoJd+2dtr1LNr3pbo6f/rKS2SlPRH0balhj2bB7f0wAAAMFvkGdVpvSpbrov9KKrPn/NHLu5jvgHWwAIOQHLqq5e/e6zfYddBVVZn+w9e76/JvjwW1bV29eu6hpLF49003zLHVNpQrT9Pywx2CQAAEAIGOzzANpGxvD2Atiqqz47YWKkzvPtAwAEkcBkVd+aru4pKHYVVGXn7mvvvBjwL2Hvs6qeTfF6d1+7tlEkFWu0TWvi3b8rKZKqyIkT5Y2JnJ1DWgUAABDcBntWZZvqT2VCIi+uh/OeHebmeh0AELQCk1Xtyi9yFVR9vOfAhYvfDMSXcB+yKlvupJ+c4tQSWTF/ieo8gLrwWVmeBk2m0sXWeCp+U4fDj5y3AAAAQWywZ1U9poJ58oWxPnpertMI6abO2vwtBdaZhRo/TFKb+q8tfWp4n/sSAgAGscBkVa6Cqk8+Ley6fGWAvoT7kFUpwipdZGyKcpjHrqLFig57dmtsS5mst75oTZXTt3DX2eLM7XaXB4pvdzmaUj5Ej30AAIBgNuizKsskQXOG6m2T+v14ymOyKeOihAHUFeuRVmKIGDflsWcSktetW5ec8MwU2zjrIxYWclIAQCgZwKxqV/6hK98GokObH7MqZWRk+T69PuZB8xfugzE3Ct+kkZGR6mus++tEg+OLBA/GjIowOP07lG36P2UsRVoFAAAQGoIgqzJry1t4m8GjmYXcThxouG1ZKYNgAEBoGais6rN9h02mqwP6JdynrMrSOy/JNsyjcn6SiUmlefKAVU5rNJ1MeWCo3pMJezs2xUe6iKQUaVX41HTSKgAAgOAUHFmVhWVWvwVTxg2PsIZWhojho2IeT/inss+fqbN8xwrLYlHWplTycpnOnRIAAEFvQLKqgoNl3d3dAdtH/2ZVwpduVdocuUWUTh92Y8ycNOFb1DqMpOpXtflLODPh8ZhRtu9gfVjU8HFTFqzYUd4p/WNRW0ZcpJvGU8qu/yojZgEAACAI6DgEAIBQFpisSnwXa33//fcceQAAAEAVWRUAIKQFJqsCAAAA4CGyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU8iqAAAhjawKAAAA0BSyKgBASCOrAgAAADSFrAoAENLIqgAAAABNIasCAIQ0sioAAABAU3TiNTpFURRFURRFURRFURRFDXiRVVEURVEURVEURVEURVGayaouX/mWoiiKokK2xK/DM/AAzdEBAAAQiD6A3KVQFEVRZFXkUGRVAAAAIKuiKIqiKLIqsioAAACArIqiKIqiyKrIqgAAAEBWRVEURVFkVWRVAAAAAFkVRVEURZFVkVUBAACArIqiKIqiyKrIqgAAAACyKoqiKIoiqyKrAgAAAFkVRVEURZFVBU5j8fqlj8feGWM2PalIi1mV6YtZ4ck63euxqZddLpK+RadLHpNwmgszTWpZPNL8CX6U4f0r6xLfM3+yuhF7CjmKAACArIqiKIqigjyrajm+M+mZf7srxkqbWVVH6od6S1qxq8DkeqGMj3S65Mkpl/1zcVOZP8b8jg5leGv4uI0L0s50+ec92jMWbIkZ9dZMz/KbjoKDz0xZH/WzgspBebV4OmFMsm7YrgKvX9i4cIQlppyc8g2X3AAAgKyKoiiKooI3q2o5nv+PRdPElOrOBxes/MND2s2qzieOt0RF4xPPOzxhKtgzKb78pBhg5ewI1yXHibmP6Vx6/PrZWd1+zqrkMtxWUGry/QLqaJywtjjPsqrKhHcs7z4mf/BkVd+kxGcm5IkZU2fSBNvGt+XlT4zdX+fBKkxZ2eaPVReenWXiihsAAJBVURRFUVQQZ1Xlyb8WYqrYp5J2Hm85U5Q0XbNZVeGeEbpknf7D1A6HJ75+fdLrOl2yfujmNVVXhXTp9fhNPaaT5fE3WR7XRRcc9zmrUgRJV89Wn0iY+JYYV41Y2EhW1Yv83KGWHXzjtoW1zaaejDjxE/kmLyEj0vJ4Svymb3tbxeXU2Nf9dLQBAABZFUVRFEWRVWlaXeaixxetL24Uf9JuVtWdNStFp0sOn/WFSsOarvbshMyh+mSd/h+TZm8ZqfvnY/M2W37UvTF65qEDzX5oV+UYJJnq541I9jUIC5Gsqqe7s/zIzNFvWFqijd456xfJul98svC2N4R4MXNhpgddKev2j7ccovcS67jcBgAAZFUURVEUFVLzAGo2q+o4EmvJnt5e6HpgbVNna9rMdQapg97rQyflZ9df9fXixlVW1SO0D3LMjFynTsIoWooxxYVhm3S9VdxR+5e7r3cSnOIrU3PDmjkbRkW8IXVajFgX8/j+XOfwTtpNYfO6zqTN2XBj2OviyFyjfpmf60vYZ3O1Pjt/0tDX5TG/1s1Ma+30rENf4cK3LcFW7JEOrrYBAABZFUVRFEWRVWkhq5LmgBvvdmwjS8jyvtCcytLA6qdzjlT5Pvi5y6yqO32qxrOq7ub0bdLRcCj9P+LTL5jUsqr00oLbDE7LR27b5IeUqLs5d/+00XJqNnprYu4Fj6IqafLHlFlZ3VxsAwAAsiqKoiiKIqvSQlYlzQEXm+pidj/ThdyED6+3hCxvTYzfOEyXdt8suUvgwmM+JVausqq28qnhzuNVeZ5V9Xj0KtUt8qwPoClnhzAaVHLkxD2Z5VcsqZDpSq2tZdM7i0u7nXbzdb1eOIYJJ+q7LMuXr/lQXMmYhNO+XCJ2VR2Z+eM39bpk/U3b4sYn62KyZktdArevOdBLYiVP/rinkEttAABAVkVRFEVRZFVayKqktMLlHHBf/3Visv3Y6pbcp6vq0ANiLnPbvi/9mFWZrtTmHxJHbdcP3W7f4Eg7WZXUbksfne84U6Gcstl1qbNNd/hWnF2Tq8spk4XHJxzs+6jmu3dGOoytbt5404XcheuFDptvzfzo295iSpXJHwEAAMiqKIqiKIqsakCyqvOJ43uZcc+UteMn8eUnTbZUSMp9TOfS49fPzvLD2OpO9ffxc8ucWmxpJqsq2DVM57LfnDj8k063MaXDYTdfj05oMfUlGuvtE4zNSMj7xhaiyWtry8ufGOuuX6cpKztcffJHAACAEM+qui5fqTnVtO9QRdYnez/K+bzPlb1r/8GSo7X1zeYVckdHURRFVkVW5YnCPSO8SiuEVGhCUqd/Lm5cZlXS8O15bVrMqhqT3nf9dj09OTssAZDun4tLHXZTZXR2f087KGRV4TtyPFr4cmrs6+5jSgAAgJDMqjovfvPp3sO+RFTOZV6hebXc1FEURZFVkVX1ojtrVopOlxw+6wvPpozrMaVv8X18JeesShEkXT1bfWqNPOGgfSc7rWRVvSzjvFOBy6paFo90HaI5qNs/3rJV7yXWcZUNAADIqqx1qetyXkGJGDDtL64Ub0L2FpX7Hlfl7S0xr5z7OoqiKLIqsio3Oo7EWkb7fnvhQA2s7XIewJ62lI16ncOI72RV/iT2VbQbVwsAAICs6tuqE6es6ZK1JdT5jgt+aV11vKae+zqKoiiyKrIq1+oS37MEJeP3D1jDGtdZVY+pfKrjHHkay6p66QOoSKY0mFWZvpgV7nLILQAAgBDOqj7bZ+v913Hha/HB9s6LfsmqPj9whPs6iqIosiqyKpfEOeCUDZe0lFV1lEx2kVU5jZb1TUbcW71mVdHL2rzIqvTbNrlZSEqjUucVqDwpja2uHDRKe1mVNPnjiD2FXGEDAACyKrvanrvPGi2JfQDbzrbvO1Thl6wqJ+8A93UURVFkVQOspa76mM0nLz4kZFUPvfiJ9bHqupYByaqkOeDCs7NMA3dx03sfwJTZtshHHIzJYXSt7tKEdL00HLtqViW9ysPObuKAXL30i5QaJSXrJ5c4BmBtJZP1TvMqai6rkiZ/HJ94ngtsAABAVmVf/h1S3aGyPingvo6iKIqsSiMtqVzrlzZWvV9WaGMOOJWsqruzpTlzYeZQIfHRTzio7J+YMztFDJJmfdDe1dNj6mxNi0+zBFX61/WuO+VJDZ10b01MOFHb2VuXN2kMr2T9TdvSii91uViqLul9MSCLnJifXXvFkp2ZrtRm50+MFFKzyG2bOnq0m1V5O/kjAAAAWZXfivs6iqIosiqyKjdpxYDPASdnVWr1+tBJ+4scsqK6gxP0jkvqh25O2fLpGDcDSLUdjYtUe4u4o2pLKxtqKcshafoma3aa2mLC9pzsVttNjWRVUkzp+eSPAAAAZFVkVRRFUVSQjlcVML1cU3RnzUrRxBxwKlnV62FR62Ie3L3mwAXVJMV0snxOTFqY2PQpLC1mzpGqrp6e4wXRbrIqs64zaXM2jIp6U997VmU5Ps25+6eNS40wuMmqhMUOHJoTs05e7I2IURseTzxR3+VqN7WRVdXtH68b0MkfAQAAWRVZFUVRFEVWRVZlR+rmRloRisQekQMfUwIAALKqPlbh4WOeB0PmhX3Jqvoj/+K+jqIoiqyKrMpJXeJ7lrY84/fXcXUVaqRR4VNmZXVzMAAAwODMqi5+cyl7135PgirzYuaFyaooiqIosiqtZ1WNC0dYutrFpl7m4irUdKR+aOkFOWIPLeoAAMCgzarMVdfQ4klWZV5MI7mS7+tMn6Yze+hd8/9//WX28qm3RoXpLY/oDBEjJzz95/xTF9Rf2PHFrn8sib9j5BBpcZ0+bMitDy55r+y82vIX6j7/89N3jIwwyMtGDbN3V2KF3Uvay9YvefBWeeXm5W99cHl23deqW3LkvT9NvXWYvG7LwiMnPDBv9e4v2rnXpSiKrIp2VQAAAMBgzqo86QnYh95/2s+qbnnu8MElt0ipkx3DuN990uj0qo+fjtRZo6Ehw4YNi7JGVlG/zjhtv3Djzrm32PKvBx6915pB2dagzKouFK74eaQteBpmi8OiHnm32W5LLhY+9xODckMUa9ZPedPIvS5FUWRVZFUAAADA4M6q3PcE7FvvP+1nVeE33hihi/z57947dEZqu3T+xO7l/xYlBD/6e5KbHV+47elR459evrXYeNEaG53KliKp6+cXKOOkrCeE4CliWtqX1oWvNOeIC0fO2GC0X3PT+ofE5X/+py0nOqzNrN565EbL8vpbniuxLVy9/DbLopFT/lx8xtb+q72lbNfqp+9duO0i97oURZFVkVUBAAAAgzyrct8TsG+9/7SfVZmN/mOhU3e/5uR7hPQp8umPPVrb3vnXi620bI2kTr85RVjFPckOmdSVvP+81vLE7Su+VDz49TYx2Rq96OBF9Y3RT0k5bb/xo5cc5p6WoiiyKrIqAAAAIGizKlc9Afvc+28wZFXOWZJQe+YKgdK1/7nHi7XpH8mwPlKyZLSQJ/2pxNVbT1uvaIS1/iEhj3roXZWhqS68O014clq6HGNteMTyQPiMD85zW0tRFFkVWRUAAAAQxFmVc09AX3r/DYKs6pbny9QXyHoi3Ln1U29rU8RP3mVVUjTmIjgr+ZO4riVyN8DTGTMixIGsfvG79cpugBRFUWRVZFUAAABAMGVVzj0Bfen9NwiyKmVgZFeHpazJqZ/d+RO7/77kqUfvvVWYx886C5/j2k4n3yMPdK7eB1C55gtv3y+NwT5MjTxwujBrodRnsDJZGlXL8rLr7nia6f8oiiKrIqsCAAAAgjKrUvYE9LH3X7BlVe37XvyFLSCy5Eoj77j/0fhHH42/43qntRlTxAGr7MdW7yj4ozC2uv5nice/dWyE1RtFViWNvL5+yYNjrTMA6sPG/vrvR0isKIoiqyKrAgAAAIIsqxJ7Avre+y+4sqovEm8XUiHDT377nmIeQNdra3x3hjShYFjUrffGP/rAHSPFZlj6qEfetZthUG6ENWNDX/al44tdq5+ecJ3UwivyzsTCr7nXpSiKrIqsCgAAAAierErsCeh7779BkFWpjSclVIYwfLlivKqC3wltp8If3/y158mX8cPHhlhCKL1eaos1ckL88uw6pzVsezLczXhVntX5I6unROocZgykKIoiqyKrAgAAAIIhq/JjDcZ5AC9snhnuMA/gu1Icla6yNmkIKoes6kLhn27R6/S3zM1p6m17pA6DltGtfDks0rhX4U9u43aXoiiyKrIqAAAAgKxqEGZVuuvn5jnNo3f4OWFQKd31v/v8ikNWpZJtNb59f7jOOasyvinkT/e/7UmPvK+3PSG0iYqclt7U98Mi9SW8edFBbncpiiKrIqvCADOd3JIwbVyUNLBkXAZHBAAAkFWRVfWeVYVHRup1hnG/22qdRO/CmeI/i13pdJGPZChaOdW+9nNxrPQpq23jl7ef3LLkF1F6fVRUpFNW9WXi7eLY6n8/dsaDuKpp/UPS2945/70DTda3uHimbv9Hy+ffO3ZWhi1K++nYqUv+kVt1RpGyfW0slvoAXv+7vdzrUhRFVhV4Lcfz/7F01kOT74qxuHPSLx+dn7S1rGWQZFUZecW6D4p1eS1ci/kpqCpNiNbLk59EDR8+/JmPOCgAAICsSiu1bWeBNVfqunxFU1nVzX/ckf6INLWf+UpyiHVOPZ1h3HOF9u2tvj645Ba7SQDFgdLNSy7Zdz5jht6pD+DpjMesswbasQxb9esXs085tOe6cHTtv6m/wKHR1mHFtIHClgyLsm644SfPH7zIvS5FUWRVAdZYkPxU7J0xzu6MXZB5kqxK1NGyYM/RUZu/8KiB0eWzSXuPjdtSuWxwNh8rXDhCuLiInpfbbOL6FgAAkFVprD7evd+aK7V3XvR9he2dX1tXmL1rn8/zAH5dmfmnqbfKcY8lSHr6rSMdqj31vsxebr+kHDmVP3+LY1bVceS9P025Xuea/pYlhY7dDy+eOfTW/HtvlXMwIUEbduu981766JCicdb5I5aWVrcqIirzYuaNWfJe2XludCmKIqsKvN0vxFqCqbumLfrH7spGIbyq3J705BQhrrpnfmYdWZXFiWrLW3xQ7VFWdaZujGXh8oRBmVUdXxZt+XoesbCQa1sAAEBWpcEqOFhmjZYKS45d/PqSL2trO9u+71CFdYX5+w/7nFX1w15fLHzuJ5a0KWLc03/eVX6yplZZZbtW/3qUQSeNpc59KUVRVBC0q2o5kPTU3H86dPiry5x/j5BW/fsbVWRVoZVVbYrXM0YVAAAgq9JunfyyQdllz7/15VctGsyqqpffZln56EUuu+MZ1wqjoIc/sY37UoqiqOAdWz1zvtgRcMEWsqrQyqoy4hhPHQAAkFVpuC51Xc4rKOmPoOrzA6V93qp+zarkwbAKXTe8SrufrIqiKCpUsqqY+Zm9LHjIrQBnVd3NzQ1zcsrCMi2PGDZXTKs43+Vx6uSYeUmRUy8Vd0JcuiXOg4XHHOp0eturVSfqpmWXitusyzwclX1sQVVnl4vNE9bQ3Vxfb36JwbLOkrAtFTPVlierAgAACMqsylydF775dN9h/wZVewpKLvjQnTAAWVX445svuFig8e37w+kDSFEUFexZVcuG/xKiqodWHuhlySS3AplVNZeWVBgc46GSofmtHZrNqq6eT9hRorqkYUdd0VXVrKot47NSvdNuRpd0klUBAACESFZlrq7LV2rrmw8UH83O3e9jSrUrv6imrtHHKQX7Nas6/eYUYZiKyCmri4323QAvnCle/7tfCNP9qY2tTlEURVYVPFlVXfocYWrA+1/6vLdFX3vttZdffvm///u/5yuYfzQ/aH4qgFnV5tJIy3+PJtRd7OzuMV3pWLOrVMhxjsxr6u5LVuVZwqXC0z6AXyflCEFVZll8xdl6IZnqutSell8uJm7he5rbnDZPn2l5iX7b8TTjtybz8p3GedniSqozusmqAAAAQiWr0lr179jqV5rTH4nSy1P0DRkmGWKbty/qF0s+aeSDoCiKCt6s6mTmfGEewDv//Y3yXhcuKSnJyclZtWrVHxTMP5ofND8VwKzKkuCcyLqkeKLbOGuTEPp8bjRpL6vqOFEdblmsNO7EZftnukuLysWUbWGL2m5mf2nX5KqpZpjl8cOzT/njaHakTLZ820cvO86lLQAAIKuiNJJVmevrL/NXz7v31mERBp3MEDFs2K33PrXkvUNnvuYjoCiKCuKsquVA0ow7PU6qzpw5d+5cdXV1ZmZmUlJSgsD8P+YfzQ+anwpku6rqjEuOT+UUHLY8tbWmQHNZ1bcpucLbfVxf5/zk5aZYYfiqYQfOerCbUvdDuTeiD0zNuc+Osfy7VPSySq5sAQAAWRVFURRFkVUNeFB1fIPUpCp2QeZJj17S1tbW1NRUXV29c+fOVQLz/5h/ND9ofmqA5wFsLKt0zJi0klUZZ29yNdq62TdJOcLG7Gk29b55vmdVx1+9e/jw4VFCG2p92I/nbLa9LQAAAFkVRVEURZFVDXBQFTNlvodBlTKxqqqqyhCY/8dNShXQrErOmCqTLmgtq+olYJI2JquuMhBZVWXCGLmnf1jUuGmJeW1c1wIAALIqiqIoiiKrGtCgquyfc7xsUeWgqampSmD+n14XDnBWVZ3eTVbVq66zxZlPR+vpAwgAAMiqKIqiKIqsarAHVWLTqnOCXhtVBS6rOl5SYXlq04kcD1KnAcmqeukDqNiY/s+qBHWJ4y3tq0YuLuXSFgAAkFVRFEVRFFnVgAZVDy7edjJAb+rx1UX3pQMVtY/trcs8e9X7rEoav1y/q6nDMXVS9AoUXWqJ29xrVlWx7JznWVVJfI2bheQ0Krexw/lJeWz1CWXfBDqr6smIEzoDxmVwaQsAAMiqKIqiKIqsasCCqpgHFrx/4JiqmsYBy6q+3fRZqRASFesyK5ad8S6rMp3+UsiMDsed+Nb26OkvRwoPzvqyW5GIdSRkl0hvpJpVSa8qia361oN8rXmqsKoRB8+7WaquVBz3/ci8pm6H1xccOCLsclXqZU8iObIqAAAAsiqKoiiKCpKsqihpekxv5mcOWFYlpTA6d93l5BDn47ryK9bQp7vT2BArtJPS5zbaDxQuTcCn2/rFB51XhSWb4rdZgip9ZonLrKrn/MKPhFdtPppQd7Gzu5eILXWXsKrMsviqdpcNwrqNs8WWXIrFui61p31WphdyseiSTk8iObIqAAAAsiqKoiiKIqsKTFYlJ0Ru2zRJIY5Q+k2lw7ceidokNZIy7KgrcoqK6soq9YoITFz50D2NW4rKXWdVPW0nqiMdX+UyITKdrovOVFnYIW4znf5q4maVxczbc9vBtjbV3SSrAgAAIKuiKIqiqBCYBzDAPL24MJ3+6pdbS3SZh3+819jmapkrF/Mrah/MKRu+We7Ht7F0eHZ1wonOLvVXdJ88fjJm22Gx+VLYtqNzqixLSgOxu8iqeizz5DXNySmzBmE6twmR6eKZxLwK2ya5ahp2tTPzUPW4LeLGWLK2cbtq04zfmlxFcmRVAAAAZFUURVEURVY1YGOrI9DIqgAAAFkVRVEURZFVkVVBKyoTxliyqjEJlRwLAABAVkVRFEVRZFVkVRhghQtHWMIqffTifZ0mDgcAACCroiiKoiiyKrIqDKS2jPiheqEjoM4QMdzsmY84KAAAgKyKoiiKosiqyKowULqq0hZMGRcVpmfsKgAAQFZFURRFUWRVZFUAAAAAWRVFURRFkVWRVQEAACCosioOAQAglJFVkVUBAABAU8iqAAAhjayKrAoAAACaQlYFAAhpZFVkVQAAANAUsioAQEgjqyKrAgAAgKaQVQEAQhpZFVkVAAAANIWsCgAQ0siqyKoAAACgKWRVAICQRlZFVgUAAABNIasCAIQ0siqyqtDUdmjNnJhREQadxZiESo4IAADQDLIqAEBIG6RZVcvx/PVJf5z10C8n3RljceekXz40a+k/8o+3BG9WZbp4bk1+RdSmEt0HxbrMwzfmnEw/380Z3CdtGXGROpEhYvjw4Xe/epyDAgAANIOsCgAQ0gZnVlWUND1G1Z0PLt52MiizqkstcZuLLSmVsjIrEk4TV3mtIzVWb4mpImPXVHVxOAAAgOaQVQEAQtogzapW//sj85PW7z5c0yj83Fiz98OEX98lxFVTFu9oCbqs6tvUXUJzqs1Va4zfmnp6us42xArRlX5nQyNnsZc2xVuiKn1sagfHAgAAaBFZFQAgpAXReFV16XOEDoF3LtgSbFnV5cbJQkOq8aVfWx+rK60UWldVZ3AWe+f4smjGqAIAAFpGVgUACGnBNLa63DNwfmawZVVn6sYIWVXcCcWDJ6rJqvqkMmEMWRUAANAysioAQEgLwqzKg3ZVh9zSXlZ1ri5ayKomH/1Wfqg7b98RS1a1taYgYJshhjxT0009bVlzfhym1+kM18/MaDM/Y/v5l0mlJqcXmppzE6eNiwrTS6OZj4qZk6YyUlRGnDVDEl8hztKnD4saN9N5edeRUy9hFFkVAADQOLIqAEBIC6Ksqjz510JUNSe9rrdFk9zS4HhV5xd+JAymnlUn5ittX34xwpJelUwo+zpwWyGGPGMWpydE63Wy8NlZpcqf9ROS6pQvMjWnxw/V26bckxMrneG2ZQ6xlpxV5WXIr1DQRy+rVNkasioAABB8yKoAACEtSLKqxuL1Cx60jFY1ZX6mB/MAvvbaay+//PJ///d/z1cw/2h+0PyUFucBrCur1AvhVHSRMfvQ0UihmVXkrqZTgdwIMeQJj4zU68Y8m9dmynt2mPnnETffrNdFxmXIP+smp9jGLDcVzBshJk3zcpulZMrUnDtPDLciZ+co0yoxq9LrhZHPb4pPK++0DCNfny0trY/LMDltDVkVAAAIPmRVAICQNpizqm1L7xNNlmYAfDIp96RHrywpKcnJyVm1atUfFMw/mh80P6XFrKqnuyMhW5gKUKrSiYfONHcHdhukkMeaMXWkTJbaVs3KElIkRSc+UV3ieCFlmpzSZr+qtpTJQv40PlHRCEt8uZBsLS5SdvkrmDdMbMKV47w13mdV4tr08Zv49QcAANpEVgUACGmDOavKnB/j4K5/m/XSluMtvb7y3Llz1dXVmZmZSUlJCQLz/5h/ND9ofkqLWZXp4uk5Wdasquy/Gq8OwEZIGZAteZIaQll7/TlmVYULhUZVw+YVOO9Q+lSdYyMsKauytNFyWFp6Ji7DeWu8zKq6qv48OdzyJvGbOvj1BwAA2kRWBQAIacHRB7Cx5vDu9S89FXunMGDVjKQDvcRVbW1tTU1N1dXVO3fuXCUw/4/5R/OD5qc0l1WZTtdFZ1pSKv2mwwYhrtJn15VKjao6E7Isj4w51Nnv2+GUATlmUw4/NyZNcI6YHFamzLHUEinXz3iXVX30zHAzcbB2w/W/TCzq4pcfAABoFVkVACCkBdM8gGdOZs6f4unw6mJiVVVVlSEw/4+blGpAs6rLrfGbxXzqy6Kr3aWHKvTiYFV5LULro5Y44ccJZd/0+5Z4m1XJfQaFMdUdyWOsK/Kn/syqrP0LxWkI00+a+OUHAABaRVblva6jPxy764civXod+0VP5x4OEgAMFkGVVZ058+myXwlh1YItni3f1NRUJTD/T68LD8wn1FhWaen3l3ks5ZL4wOW8AxXSOOuHOkwXvppg+f/DswMwynpfsyp3lGNQ9WdWJTB11uaviI3U0QcQAABoGlmV134ov8VlUCVXjzGVAwUAg0KQZVU7Ft9jyaoeWnnAs+Xb2trOCXptVDVgWVVGnjBGVVadIni5nJFXKo6wHrtLTLKqUi/3/6b0NatS7QOotqv9nVUJTFmzLANW6aam07QKAABoE1mV13oNquQGVnf9UP0r76ohoef7SxxhAAik4OoDuOG/hKjq/pc+74/VD8wnpJZVOU4LqN/VFIhGQt5mVT2b4vXuJuRz2tW+ZFX2kwOamUoTot2+bS/TBAIAAAw0siqveZpV9a2+eJgjDACBFBRZVUtd9d4daxZNu0uYDHDK/MyTZ4Inqyo4cEQIpMoTHDbgUtN9G8Ws6vATXwZkU7zOquQmTCoz+6nxLquSZxIcn1ineLQtIy5S6l5IVgUAAAYpsiqv9W9WdehHfbx8fuU2g85w/W/6efAJ6fLW084MAKB9gzKrypwf48Jd05ZuOd7ST287QB9RS+0IsfHUlmMJdRc7LdP/XT3b2rrwk1K9tV2VbVrAAHwLep5VmV+yTGzjpIucuDCzuKVT7HZn6mypzv9nwuMxv3xFmRd5l1VZpxkMn/DiPsuKu+qzEyZagiq9nnZVAABgMCOr8lr/ZlVFel+unnUjFhwMxFU6WRWA4BEUWdVdk+97aNYfk9bvrmzsz7cdqM+ou7SkwiDHUnaVWfrAZ8fC7aYFDMC3oDdZVU9PW9bsm/SuRlaPXnZcsaiXWVWPKWd2pNMqDbctzFsTR1YFAAAGMbIqr2kyqxLbVemHzqRdFQB4J8jGVj8TjFmVRdfZpgW7KqI2iWNUlYRtqZhysOHAxW7FOOvCtICB+Bb0LqsyMzUfWLNgyrjhEQYxTtKHRY2KeTzhn/n1XXbLeZtVmbXlJU4bJ63XEDFuWmJus0keJ4usCgAADFJkVV7TZlYVIGRVAIIOWdXgyKrg9y9zsioAAKBVQZhVFZdVf5TzuYdlXtjb9duNLXVuU8/FAl+r4+MfDl8vr/b/HQyXt2RVAIIHWRVZVcgRW2np4zJMHAsAAKBFQZhVma5+t2P3fk+CKvNi5oW9Xb8tq6p5wl/b/MOX/0lWBQADgqyKrCrkdKTG6sXpCdMceiECAABoQXD2AWxqbfMkqzIv1oeVK/rrGX5o+N8fml7xQx2+Tl7n/9O3XVYdyEJ4UB+/qUccKmNOzChpRAthoIw5aVUuL1BNzbmJ08ZFhemlATDkpd1lVV1VmQm215jfQh41Q7Ha0gRhOqTwqekqh74tZbLlSX10Qin/0AsgYMiqgimrkr4NPfT/Dfdi4aDqMWcqXXabbeys4cOH3/3qcf4WAAAAsqr+1mtPwD70/nPKqjQ0XpXrrEo3Iak0b1606hREkXEZaplRRvxQ6+KGCDl90kVOTEpfrJ5VmUqTJspTEVmueq2v0Q+Nt3sLOa3ST05xeOe6pAliUrWM4TMAkFWRVZFV9Xdc1Zyb+Lj1H7EYuwoAAJBVBeISzG1PwL71/hukWVX4iBHhOsNt/5FZ3ik1VzJ1lqfFixNo62NTOxxSJzFMssx5nW3tGSC/YsSIESpZVVtGXKQYZiXYXtJVJb2HY/pUuUxMqyYk1TknVU4RFgCQVZFVAQAAIJQE8zyAbnoC9q33n2jQZVWWfy5d7Nyrri5xvPDc1HTlU/IQFiPmFTi9Quqj5/g2ppzZkS7eRO7V5xCIyQ9b0yopvlJv5gUA/YqsiqwKAAAAmqIL7t1T7QnY595/okGYVU1O6VB5SWPSBKdm/x0pk928oidndrjT25gy4vQuZxNy9WRb+tRwa5MrkioAA0nMqk7CA+0AIFB2kOVoAAD8/0UT3Hcgzj0Bfen9N1izquhlx928xi6r2hSvF4e4alQ/nulTnd6mYN4wN+mWNBi78zgYUr9BfXR8vJhUxW/q4JYZAFkVWZVNvYBrNYCsCgBAVhVsHHoC+tL7b7BmVaqz9qlmVWpZlJ3SxSMdnpdfYogYrkYeZF1ljR2b4uXh2FW7HAIAWVVoZ1VVAq7VALIqAABZVRCy9gT0sfdf8GdVLltBOSygWKP0SG/UtsFU9IeR4rMjF5dyuwyArIqsyp74AXGtBpBVAQDIqoKQ2BPQ995/wZ9VScNV6eM3eZxV9foSl5+KPOGg8PLohFIaVgEgqyKrUrok4FoNIKsCAJBVBaem1jbfe/8Ff1Ylj1flYvAp6/PKNUrjrbt8iYukqmDeCLHzX16e+H9qcxUCgCazqtry8vp33236n/9pfuqp1ocfNpf5fxoXLz717rvmp8iq/IXxqgCyKgAAWRXIqqS5AdUn9evpKVw4wmmNHamxwlR/sameh1XyUFViPiXnVpGzc0irAGg7q6o9dKjxlVdap007PXWqarVOn96wcqV5MbIq3zFeFUBWBQAgqwJZVU9d4nidq1ZOHRlx4SqjT5lyZgvBU2Rchmct16xTAFr7/ZlKFwt9C5kMEICWs6pTH37oJqWyS6zi4k5t20ZW5SPxA+JaDSCr8lbLwbRFTzw8N/lgCx+VBhmrPlk59+Ennt9cZeRg8GkCZFVkVR5lVdbkSRc5MSG3Wc6rTJ3lafE36fVDh0aqrFEKnyyvWZhZfLbLuq7OluIdKxZM+fFvNrlLqsS0Shy9yuPACwACm1XVv/WWJymVsurfeSdQIVL1xj9MjpE89NIexqvyxjv5L0RseyEif68GLsv2xm+zbEz8Ua5QPXA0zfLBbfvz0lMa3UDp1FLWzq0HgzarstyxPnn7iB+Jo5Earom+f1HaAEVFp/52jzQmqv6ORH6bNGfX3OukUyfiya1Bt3epU53mmBq1aN+g2oV9i0Z5vuHB/WmCrIqsSktZlSU2SpoYaR30PCxqeIRB/P/IuPTm9DjVNZpOpjwwVO/BLIBtKZP16mOpy2lV+NR00ioAGsuqTmVmugqkGlaubFixwtWzdQFpXVW9fel9MTHBl1UFaLwqsiqyqn6SuXfl6I+lumF7UGdVxpLVsVHCFd6Pxkx62GzSGCGz0kdNT60J/MYVLRk7WFMCT7WUf/D8I7fffI14ka7/0ZABjAa9/6M73XrTMDXV/aJlqXPvM+/mjNR+2RBjfUHaovujr5UOoyVivTZ60tyVn/jSQui9J661klY86M5COW+bmurXT3OwOvXx8icmRQ8Zv2Qfm0JWRVY1wFmVRVdVZsK0cVFh0j+NRYyKmZNWZWkvJU4EqLpGS9urBVPGWaMtIecaN2XBih3lnVIuVbksWkyqllWqrUBKq/QTkuo4zwBoJquqPXiwdfp01Siq8fnnxWUa//d/1TsDzphRU1oamKTqvvvuC7KsKkDjVZFVkVUF4u48P4izqvwlt1ou/iLueH63Iixp2f37sebrOv3YAbirqtnw5EjzJhlGPrmhJvjOfGP+8olRqv9EbLh1Sb5x0OyAPmri8t42VwpN+iEEsearavwVLkmbH9RZlRef5mAltTPTwseooU0hqwrJrMrAEQYATWVVrnIoc321dq24jPl/XDa8WrGiX5Oq3BcfsiRUk/+w8e25QZZViR8QWRXIqjSeVVm6AEVMfdO5LUrN6rstadU9fzvF6eq/HC51aoTY4+qORR+U1lsOektNXvL0G8TcJWJqajDFc/2UVRmlfFVo+/eTJ1/IzKsU5GW+/oKlI+tYsqqgbihFVkVWFbxZ1dGJ/ZhVHbuHIwwA2smqavfudTMilSdZVeuDD9YcOdJf6dGexLg7xaSq+uS6uYxXRVZFVkVWFfisSqeLmP6O+qfw8ZxrzU/fvZqwyk9OpU4NsxzxsF+9WeMYv/xeHGQoLH5D8DRv6Z+sat+SsUKyp79hZrpadz9jS4vRn5tPVkVWRVZFVhUgXcd+qJzQP0HVXT1XajjAAKCdrOqrN97wMauyDLL+3nv9kx3tW/2YkFT9n/Vl5p+CLqsK/HhVZ6trc5/d/erwLMsj12b/ZUZppcr4L+day07mLvxs7biPX75WHDA7a/nNO9c+W1pZfc7127SdeLfo7Rj5JUO2J47bvWF17VdGT7Kq1sLf5iwT3mj10rqz9s+drf4ie0ZuorjNzmVb1amtt9mSnTNFFRsm7RQ3ZvkNO1OWfvGV2q3ZmaKjW20rN+9mbsrCihMtXuR9anskZkxCamNsLnk5/y/iWE7mYxJT8FlRm8sD+NbBlJgdy4eIu7b95dHZy/2XVYkf/Ws3bxeOs/mYfPyXGUX7VDfG2Fy5et/acdK7m8+T1yYVZG9rPuuXrKqlft/S/L/Im7Fs+I6/PHBQ7Zj05dMUyJ3jhs/wsfWNMqnS373a5co2zgwzLzD9HbsbLeEOuOVg8pPygEv6H424fa5zamB3X6Zc3nDNzfcscpp2zDoitIL6zbZwK/4vv8+39F+6Z7jBsgHjhd5ztp/HOHYfbKnJS1v0xKToa4dIw8cLgxu5GCVKGbEYqzY/f3+0+CrLwFIzFLMTyqPAu8qXxKzP1jTtyPPjhBWPe/6Iyqm5IT7MbmnrhghHULkdwtj3K3arbLlXu2l9Z2Fc/ZuHWAfWV32Fp4OOq32OOtefrLfH0PoC77qnWqaWtB4+4YOc1Ps8kx5mVR6v28vfiP7MqjweQl7c5l+9abT89RHGsZP//Nh+vseu+6DXJ63tFJRHHjMfj9sfUZ+Z0NPfTZUd7L2zqLG+NHulZYg16xho5tXefPuTakOgOe2m/MfQfjv6uin+/6NPVgUAgKayqqb5833Pqhqfe64/k6q560qEn4MuqwrweFX5ew/97VrHrGfZyIID9erNeVTq2tysvWpxVW3Vhp9sV31J2ju9JjvnqpfmSkHV/BNN9itueid/hS27sQ7gLcUcliG9/6PKKd04Ubowd7nTlrwSf9R+5W2VS1UWE3dz66dtfsiqdhxdN9IpYhuSm3XQiwPoj6zqXPWqPfJhtK/bir5wjLQqVLZZ+HRWzKz4yuhTVnXm0yLnM1D8cP+2tPaMelbl4adplxxJt1C+9cxT3iS5a8dzdPlPFbdR0q32r5J3L78jQmW0pef2qd+Zb9s2V+6ypWzN5dDdzcusSjd1pdydTvDT5fl2P0fM3Gj0JEBRG0Bevh9+U3VQJP3YRfKtuTU3mZpqdBmzWFMY8WhaNvWou8/Xmg3KG/Ivv9+8YeYNztsRNcOxPZx3uym253I1epbjzXM/ZVVeHsP2U6vv9rb9WcvuRSrnn3jOLtrd4lNW5dW6vfyN6DPnE8nXrGrU799cNNZ2moTN3JCv/Fn/0+VH2vt60hqr3pyufgqaT1qnvsme/m72KSBy/SLnseTkrGpb6nS17VAEqT5lVf77o09WBQCAprKqliee8D2ran72Wf/nRiVv/MaSVE2a83aJ9Mg6xqvyJavKfuVGy3/XLq2u/epcu/HM8dV5rwi3/avm19g3malaf8vuDa8cKzvU0ipeeba0HpMXXjb5iGO0Zazb+jMx3cheu/DosVoh5TGeaTh0MvfZ3Iz33Sc756pfEJOIrBUzndKH+vK/CwnLK5OLre2/zhSV/v1GYSUTi+vU0o2XbsxeZsng9mzd1GDZ/pbGvb/JETbv4w/zbEvXrdolBmSvziwtq2yTdvOtgtfEMOW6z/JrfcyqspYNEddfcdx8wNvbTm06sFrYnWXxR8+qHsBrd77z1pfNwp6e/arlxM7CNf7IqpreyZc+u1vyc3c2iJ/pmdqmY+8WvT2j2C6rMh5fLx7bG3d/+O4pYclzrWXVW3+1Q2wG9efFdWf7nFWVH04eYt2MRiGZamvOr3hHCum2p6a29vnTVGyGbcoul3mH91nVRun4lLw5Q2waYLgm+vbbb77mVsvNkxQLpSpvtfV6oR3DDdOT82pahDnt5kh9suxbaEmLh0VEWIa9ipoojc/UUv52/HXiSFlzd7nvKuM2q4qIiNCF3b2yxFiz8ueWN7/ppuvEW1XxZ921cz5WrPC5n0Xfv2hVZl5lTYvcgkLebF3Ek1tV74ct72AZ4n2GuKPG+pw//dSh6ZNaYyiHu8ywmRvtV2tpEaZKjmFst63SK8QjLo9wZawvWHmPmMpdN+djuxto73ZTMXqW+dNcmS0On9XeUlOZl7bo/vuf2+dz5ziP+gB6dQzlXwLFI704svyneusulrdIrc+SZ4wUwyLn7phe7KaX6/bhN6I/e5q53U1xXcImj5q9rca4bbYlPLzuppv0QrYm/azsKOzdSWvcOFMewG1uWoFwBlpO2kVygjrq9/YZkee/m304HO88PuL2J19Yl11YXW+U2ynKm62/I/Go84bY/hgWiB+l9Y+havTqfR9A//3RJ6sCAEBTWVVrXJzvWVXro4/6Pal6e86kmJiYO3/zRon1Mcar8imr2vbCkJz1G5VxwLnC3wgxwXUFhb3/6/u58vkfC+vZs8c+rPpi6U4xqEp7p7XXtTgkO9YYRbWZTOvaPeI75taqPr4rp0olq7J0E7uzyK5vY31ZivD46he+kh85mnad+vue3Vv4ZzHCW1jrW1YltBRbbNdcSDqG1+0tbndKzYbkbnVss+aP8arkPV32s6Lq3j5l6aNU2ZLW/DixG2Pep/V9y6qMe+OFNdyYv7fWMevcLH5wYw9W9u3TtG8DIw0prb/hyY0+ZXzKrMoutDBcY+39IgQMYrMW+6xKuK+0nzRMtXObbXHHJiZyKDN2SVHfsypbaw6p7Y317ZV9Fd0SR493iLWUDSGcGnbIPdJsLVZ2zb1O/T5Sills8YO8U5b+VG5DA6d0Sxiaya5To5zveNS6yNVuyqNnKRqKedfJzD9ZlTfH0HoQPb1tl/fRuc2SdYQw1wFRL7vp9bp9+I0Y4KzK1lBR3lLrqafoC9eHk1bOv51PwZo3f6UWPnnzu9nngMj+w/x4jnh62g/cZ9uQsb+3+yzlpoBqaar3m+K/P/pkVQAAaCurevhhP2RVjzzi38yobP3/meyYVDFela/tqlSypC17XxKaqHzwiefrcQgjjq8Xo5AHyls9WIcy2XEfVNmiE6d+au0Hi/6ssiVyunFboVMoYzf4kSLtys0uV7nw/fQBoZXT6APlvmVVKvulsp6G7IlCA6LfVDk1WfJDVlW/ape7Vkj2Nz4fjHa1Je3teQdXCRuTstbYl6xKDpj+9nKD85Otb+YtczwPvfg0nfsc1VTKbWb8l1VJN93SPbfy5lO8t3JoV6USbcjd25S3c/JdrmPLCA9u2TzKqqztM6Slrb3+PM6qXL2PnBmpNLlxTl/kddgPQiXflysedb9TqkvIjUhUOodJMY5j/uTFbsqfWR8a8/g5q/L8GHpwEFWbqqmOECb3PnR5DN3vpvfr9uE3YqCzKlubSak9kbXXn6usyqOT1qmLp1qEaZcRefW76adjq3qAXO+mm7O+b5vinz/6ZFUAAGgqq2qZPdtNCNXw17+KizX85S/u+gA+/bQ/E6PqjX8QkqrHVu+ze5zxqnzKqtTmAaw6nKw2qpQXYcTewiRhDamp5zzZFmuyc3Zvkdgh7pUHymqN7nMWx5ZcvbSr8mCSweLfbldPweze9zPbzVKfsiqVo+q8HmNFqssD6HtWdS4/Tti8Wwurez8d3Z8MUiiZtLiuL1mVlIq6eFZ+a8VB8OLT7K9bCLusSgotpHvuoiVjbXdaalmV6o2WdBeqfM7LWMHrrMr6pGM25a+sysM7SrlRmXJxOWZRNv/pe1al9go5afLk6Kq+s/HNX7nvkhjArMrjY+jtSaVyWqocQ1ct3dzvpvfr9uE3YqCzKsd+qa5/9uak7eUklo6w3Rnah7kZ+zWrUtl0v2dVgxdZFQCArMr12OoLF7oJoVqeeKKmrKz28OGWmTPdLNa0aJH/k6q4RMdIivGq/J5VyWlI8iqHBkBtp3ZWbP2Pz1NiPraMXy6WNK65fdzg4exvDsnOz3L/NsRVqxmF2rIU1+NVObXk8iLdcDEdoeud6r+sSmojppoQucqqbP3j3I9k713io95azeNVuT8T3J2EqnuqsaxKCi3k7kfiACnS3ZTaeFXuRtRWdnzRWFZlrC/IfGHuw5ZJvqzkudt8yqqsbWhsDZSkmMW++5LHfQBtzU7cZT3Sc46d4TzeTV+CE79nVZ4eQ2/7APayAb3sh/unvV93yGdVjidtLxuqdrz6O6tqKc9eu+iJhydF23595G7RZFVkVQAA+C+r+urvf3cTQnlY9W+/7b+8aM9LD8V4xv+hVYCvUQI7XpW7rMquUU/tiQ/vdDknnX+yqvjSvfHZHoxyda5kzg7rVHHKeQCXjXQa9oisiqyq/7Kq/N//i2KYF7tmVWKM5TAPoLusStkEQkNZlVF10jCX8w16ez9sHYhHSuqMqVP1zj2bnIdOd9HqxJbDeHDbr0y+vNpNbWVVHh5D2zSAno2tHppZlfTeng5+FfisSj5pNZZV1ahOz+hiqj6yKrIqAAB8yaq+PHjQfQ7VsHJlw4oV7pepPXSIrKoPAjtelVpMUHxotRADrd9ifah1z/1Z4kDs6976suGrc72EEVLfLuUaPAuJjHU5k7PFkbw/2KEeV5395IBljKQb8zY8u/s1KaXKWn5z7tsvf/GV0fswxXkzeukDqDhi/ZdVSR+BV1mV55py7hY27+7DvZ9n7lKzdmsfQJcb41FW1UsfQMVbayyrsr/ZFPvdSD+JMZYnd5bSdFXK22PNZFXWwZEtk5IVKgd+8UsfwHbHUaPlmMUxTpHHgLcfo9m2EvFlyiGO3Nz1SpmiYiRpL3fTORkb0KzKw2MonZKejrLlfkN760fpUVblxboDllWVbX/dbHuZHz5Nv2ZVjidtLwdErZdl/2VV8hQEwgyn8kSArt+TrIqsCgAAX7Iqs8aEBFchVOPzz0tdBf/3f12GWS++eDIwGK/K31mVNPCTcnI3OTVQGQNbNW6Qx8xeOb/Gu6zKcuNVt/VnWS4mnrM0qtobn+VugCQfsipXI2GJ94PS2OrKfEfad4cRstrba4+m3ehbVtVetW6IegbUtHbPMp/HVnc1e6ObNEr9o5TGVncdSnqWRqkOzS6Pra48vL5kVf0wtrrdzaY0cJAYT4n329b8yc2NlhTDqI4kPeBZlXTLqzKAs7+yKus40JaZ6qXubCphirQhtnGq7X7HnXrBubvrldsXKXIvb3ezl+jMj1mVhw18PDqG1hG31UbXdpkYqe6jfMRdpnWepVGerztgWZUfP01/ZlXOJ63bGQKkT9o+r+x7VuU8QaDqx6kyVL7fs6peNsXxW7u+utIuOyOrAgAgOLKq2gMHWqdPV8+qnntOyrOWLlWfATAurra4mKyqb8QPaMCyKmPdZiEOeCn+aKtT4xrHob5b6nMfyFYLI+RkRz1v6q0VkjXruXF3juPLpbSiP7Kq9vLivwm7uWp+zVnVxlwRWX9XjpgjDSG/PX3jOeUBlLI2n7Iq4577VRp5NW3c++oQqWefL1mVdf4+V5MtKsPBwt8IjdeG7Nnj2L9Sbm039mBle5+yKnm6wxfGHih3uKEw1nww1nkAsr5mVbbpy1Vm4ut7ViVmFpaEwDpPvHA3KbXTsd27ucyq5JfZP6OZrEpa3nEQcWPV5jlj9X7KquSQLyz+zdVCSqE6O5ycszhPHlaTOjXCfn41d3e9xvzfi8ODTU095biw57vpemv8lVVJjaAcxpzy7Ri2H1n+U3F39GN/v1sttjW2tBgdVmmbNLLdsRmam43rZTe9XnegsipjyZtzH3547pslRt8/Tf9lVWonrdyYTiW+lZs5OeSVffjdlGcRcN8Uz9Vwci0HV94T4a+syrNNsT+V5t4kHAfDrUvyB11eRVYFACCr6nSf0ZzKzHTVbOqrlSsbXnnF1bOnPvroZMAEXVYV2PGqcrftP2PNZc5+dUrKnhyCCePRNCEiWfazA4cq24QlG8pWF7x2rYvxqswLyDP6vXDtzndWn6yVug22NR86mftsbsb7brMq5ctvdBiCSk7Bbty9dVP9qWNNp461tBr9lFW1nyv+rRi9Zb06s+JYbZtwwd167K38V6XdP/SFWpujF8YW7LUclnOt+yvW3WLZvGVDsnzLqtpb38l/SdyS3x49Zb6tbGk8tHTPiiGWA5L2S5+zqvZWeWiwrBW/Orgvv/WMdAK0HHu36O0ZxXa7WX44WfoszMe8QTja51rLqrdOlgYXW/e+sbfTzOXIZWe37H1FHGvslvzPpM1oa86XDuMLQ3KzDvb501RuxnTbWER96bnlIquS7xcN11jGEI64445Rwg/igNwRMzcaHe7mrn347+W2iKCl/O2ZNwjbpVxUU1mVvLaIe1YWCM0TWmry0uZOVIzs5IesSm6XERYW5ubzOfXOdPG+Vx8V+0K2eBhbyrNfkIaZ0o9dsk9lQ8b9T4GtWYWxPuf5O1RyLe930xqQmbdm4ty0PKm9nrG+Oi9t0f33P7fP56zKFofdseiD0t6bhnh0DM17umSsvFOGkfcvWpWZV2lRmL1u1aJHbh/xo7HK2QQ3zpT20dK1S9xF84FJnn6D6hH3aje9XXdgsir599n5NzKgWZVnJ60tebSdIsb60g8WiUvrIqa/c8rn3025kZviY1I5bFIXXP3YOR8Iv5jmzcheOWOkwZ/jVXm2KUq50m+Q73/0yaoAANBgVmUZZP2NN7weUn3dupOBFHRZVWDHqxJqyPbE0R+vvHm72LnshWtzt37a5hDiVC/NXaYybvf2154teN1FGKFsBOR+tG/VQc1dxVVn9x7627Wqq81afvPOtc9WnGjxId2wDpjlVMvvPFjq2LCovW7VLqfDkrVietmBxTt9zKoUcZKirs3N2ntOPFy+ZVXu9tR5xC6XH+WQHf9Y23BWNRz0cBh+86m1avcrqktem/uh45hlfc2qpA4z3rRU8SSram+v2fDkGEsyZRh+z/J8o/kn4QbNcE30k+lVRudbbWEDfjREMUOWTh81/c0qozeBk4sbPE8GBvd6bHVrJmNPHzVx5q/+xV9ZlfU21P3HY8xffkeE6g4abl3k2ExIeVAM1yin9FNb2tvddLs1LhrJeTjwdG/b5Oqk8OwYCts90fUo8vbb4u6Iz91Wo3rOerqb3qw7UFmV3JnNTbjhxW72Oavy8KS1/PWRwm7nEzd2tVPTsD79bhrzF43V9/ZpulrIMPLJ+J/7K6vybFPU0m0Ndh4lqwIAwB9ZlaV11fvvtz70kCcpVWtcXN22bSeDToCvUQI0XpXxTO3O0g8f3v3a6Ozltjn1ct9eevSE+j9Ztp14a9/acdLCy4bv+MuMon1FbXIEo95w5mx1be7CvL9Y3+La7JUxeR+urnUYBN3VBHxN7+RLjW5+dsCaE53de3jtjdI2rBz98UrFPIBS2WVbfUg32k68W/R2zI7lQ+Qgz7zNb51y0XrrXG3qvrW3iDFf1vJbdm94q/5Me/vJF3J9zqrMn1FzydK8V4dniYfuLzOKS6rPWQ+Xr1mVvKfvTNqZKL6FGPbNEj9WtY/SNpj9tuU3mJcsFhvZtfuUVVmcKTq6dUauYjNyUxZWHP/qnG+t5Ozv6oQUyTD8gdUl/usD6G1rJ/2PfmRQRFbRk+au/KTK6G3jqEBmVUJHuOfvj5bvmQ3X3Hz7k8JGqyza56zK1qClt/YsLQfTFtm2xnIM71+UdrDF5UEx/OhHetvd/823P6K+tLe7qdiaR26/WbE5Ku/Q16xKWH/yk7bV93LX7fExtOzsJyvnToq25qWWYETY8gLnBlzOR3zS3GSV5fqym56uO2B9AE9t/K3wZ+LW3318qn3AsiqPT1rpozSfI/InKSz+/AflLb406VP91bCdLKprEU9VaRnF76XTPvY9q/J0U1Ra75FVAQAQrFmVZeyqwsKGF19sffBBlynV9OkNK1fWHj58MhgF+BpF/IDaod7q7GjadeJASxWOs/61tB5bnSdmW6tf+IpDhX65hVA44m1WFTKTWHlLGmHHsZeTD7yZR49jCE0IvZM2QEfUaSg6sioAAIInqxLVHDlyKj29adGi5tmzW+PiWh9+uPnppxsXLz71/vs1FRUng1eAr1ECNF7VICWPf7R5r+q/o1akRvirzRHQS1blyXRqZFW9svbtGfV7/w2BHGK3/f1yDEFWNbhZx/D3eEB2sioAAAZpVhWyAnyNEqDxqgapLXvFEcdXz68+Zd/PwTYwvOuRvAE/ZlU6/Q0z0x368BnrC9JWbzxKVuURy3Da0hjMPs/QGKq3/f13DEFWNYh/Lw7KI/U7jTJPVgUAAFkVWVXfBGi8qsGq8dMHbCOCL7/hY3HIKnmoI8to3+tSm89ynND/WZVBGiImetLDFvfJQws5R1JkVep35e6G0+a2f6CPIciqBqOiF+9UTF0R6+MIhWRVAACQVZFVWYkfEBecrrWd2ln64QO5tokL5VHb3196VG1AbqBfsqqWg8lzJ0XbpuoSB6hem+08sjFZlfpduTSc9sGW/nqDEMiq+u8YgqxqMLL8tRXmOXhSfeoKsioAAMiqyKr6iPGqgEGRVXE0AABkVQAAkFUxXhUAsioAAFkVAADBm1WdgQc4WwAAABAAZFUAgJBGVqXZrEpsV8UpCgAAEGrIqgAAIY2sSrNZlTgPIKcoAABAqCGrAgCENLIq+gACAABAU8iqAAAhjaxKs1mVOA8gpygAAECoIasCAIQ0sirGqwIAAICmkFUBAEIaWRXjVQEAAEBTyKoAACGNrIrxqjTJ1HxgzYLHnknMbTYNwq1vO7RmTsyoCIPOYkxCJZ8nAADwBlkVACCkDc6sqihpeoxL05OKGK/KS93NzQ0zs0vDMot1HxTrN5XF7G0+2T2Q52XhwhE6UeSc3YPsd6otIy5S2nhDxPDhw+9+9Th/aAAAgDfIqgAAIY2sivGqetpOVEd+YEmplKXPrisduLhqU7xeint0cRnuFz2VseDBmFERMzO08RvVkRorbHpk7JqqLv7AAACAviCrAgCEtEGdVfVbKhVS41VdbooVmlNF7moov9Ld03O1qqJKiK5KJlZ8M1Dnpak0adJQvU4/dFJSaS+dADPiPIq0AkVM2fSxqR38dQEAAH1EVgUACGmDNKt6VcyqXi00BtAPQam98qgu45Auo+KVdutjF1/Zccjy4J7mQbADG6SsaoMmtqZ6WbQ4RlXFDwAAreB6D2RVAACQVfUXOTUqfHWaJauatupgawB1B9ZFQb+/TXnhEd2GIt2GY+8rHnx/d5Hlwd2N3dr3/nQhq5r+via2pnzpGCGrWlreDQAYeN8LCK1AVgUAAFlVPwZVra2tLS0HVk67w+yhFfsa+2SfW65edSWwTgj6/W3KD5To1u/XrS9N7pAfutT0zEbzI/uvzW8O8D6/O03naPSSEuflSpaM1vVu2rtOL7xYl738wVuHhOmloc9HTnj6rSPtaiu//+2LV5o2Pz3Wsqjhul+/22R+xvbz5BWFF1X3QNoy1a0GAATWt4KrV69+99133d3dxFUgqwIAgKyqX4Kq5ubm/PzNiS+/9AoAAEBvVq1aVVpaajKZiKtAVgUAAFmVn7MqMaiqr69fuXIFV94AAMDzuOrSpUvWuIrLP5BVAQBAVuWfrKqlpaWhoaGmpka87uwCAADojXjZ0NHRcfny5e+++46sCmRVAACQVfknqDp9+nRzc/OpU6eqq6vJqgAAgFdZVVtb2zfffHP16lVxqHWuAEFWBQAAWZUfsqqmpqba2tqKigqyKgAA4FVW1dLScuHChW+//ZasCmRVAACQVfltsKqmpqaampry8nKyKgAA4FVWZb6K6OzsvHLlCkNWgawKfvPNpcvi3ZT7uvj1JY4VAARrVtXY2FhTU1NWVkZWBQAAvMqqzFcRHR0dZFUgq4J/fP/99/sOVXyU87mH1XL6LAcNAMiqAAAAyKpAVoV+UXuqyZOI6kBx5ecHjoj/39zaxnEDgGDNqo4cOUJWBQAAvMqqGhoayKpAVgW/KS6r9iSrKj5SffW77/L3l4o/Nrac4dABAFkVAAAgqyKrAlkV/OzQkSpPsirzYuaFr3733Wf7D4uPNDQbg/3YmJpzE6eNiwrT6ywMEaNi5m81mj5fNNqgM9y2rNTE2QOArAoAAJBVkVWBrAoDmFWJcVXe3pJQiKsql0WLIZUlphIDqxELC3sqE8YIj41JqOTsAUBWBQAAyKrIqkBWBf8qPuJpH0DrS0xXQyCu6kiNFZKqMc/mNksNqLrOnu0y7z3tqgCQVQEAAJBVgawK/cXbdlXWuGpPQbHz48FjU7wQVU1NJ5ECQFblrba2zu3bzz7//Jn/+A/jjBnmMv/P2f/7fzuzs81PcU0PAABZFUBWBXc8bFe1r6hcvN2yVvPptu25e5XtrYJJY9IEOvoBIKvy1jcNDef/+tfT06efnjpVveLizq9de6mxMRiuzc+Vrl88+9F5KaXnuE/RoM7aT1+b9+jsF7fXdnIw+HzAnzeOOFkVQFY1uHjYrsrD9lZBQxqViqwKAFmVxy7k5blLqRRlfOSRi/v2DfIbi9Y3JkujGup/nnTSDyssXjzasrbRi4s9fEH6QzpHnr+43+KHpybcIM9Jcs2/Tl28fqBuvPLnXy8dlIindnAfrDnB/flo73dzoP+8DaaPzZ8f1bnSlHn3/uuQMOsQuNcMGxb7l5OD6IhLX0y6h9LJqkBWhdDOqkzNB9YsmGKdek9niBg+KubxhC0nHXrimTrL08zLDY8w6Kxz9D2emF3fpbLOjDjL3/34TdLq58SMkl6lD4saFTMnrUr5oo4jW1coN8DGGlsJ69Pp4jIc36irKjNhmt22O3jmI843gKwqWLOqjg8+8CSlUlbntm2D+bamLOHH/r0L9Tqrypw9zOoaw0DfD3dWrrkvSi98u46991Gze8cKX4j6qEfSGwZge95/xPpN3ttN1mBtmHS6SHkbbLhm5ISnXvt0sLRS8vzzad2dONu8mz9NKO6no7h+8dR/lX+DhDDhX++d5+OB1Nbvphb+vIViVtV5IGGcQafzLLbU7BEnqwJZFciqenpMpUmThupV/qTrhs0rUC7YljX7JtXldLrIiUlOQ56L2dKEpNK8edGqL4uMy2iTFz7+6t1CrCQlTvqwKDlouvvV426yKtPJlNhIOQEbN+WxB62JmM6WXJFVAWRVQZpVde7a5SqQOr927fnkZFfPXty/f/De1zR8+NQo8196w6inPmzw4y1B3+5T+qFBQF9uyiJ+/uLninZU5z7/44/NX6f6HycUD8AmJf4iSq/TR/0i8UAQdjKTzj5nA5UN9t/n49Mvhmf5qs7TQKFr8P1uauTPWwhmVVUv/kS8BRj39Pqi051SNPrliSNFla2D6IiTVYGsCmRVbRn/P3tvAx5VeSd859q5dq73IU+ThyCpVLZ8tBqbYl02gi6aSKtGYl4wiLJuVNLWPsGFlX2jV2fXjVCDbpRtg2KsaezGWLIpiBCDoeFLCBDAQCACCRogpISMQAATvgY9Md28c77m88z3JDmZ+f2u/+VlZs6cc5/73BnO+eV//+9MyfUYRk1bWNlwXs51EnrMDeuXmt4+5Gi0TLJxip9qqj7eY1uir6E0SxZYjubJwS3FjhkTG2Oc9NPKJvUzYm6W8hnD9JJu5+Z4mQOo5araCidLfzxOyttrcfNXhqR8ZhIC4Koi11VdPXnyTGampoq6sHSp4iyWLNHWVQ8/fO3MGQsMb1fVs+nn4nyuuBkl7rkop4ruFm1V6oovuMJh9Dx5N8v3LzfNLN7RcUF6Bj78ft4dcbKuujkvkvTcALkqh6QXQ8KkJxav2fG5xI41v10sTmS9ObpdVVQS1kulJEoZ7i46FQm/f7gqwFVB1LoqoWpurKZocqWt4Dbpi39yYZv7Tupyx0haKrOi290txcRMzHPLuVL357beX2Cuas/CMRr5X1a6i1OlFmXXMNIAcFWR6qo8eqj09C/LlLtb6/94TLxavpxHpOHtquSGx838g7aO2vTzG6xv312ErAr3w+OEZ12V1KmS+6TbqZgfvtjML4b3vZpU3Td3pdZ0v54LF8Lk+3BV0emqIuW646oAVwVR7qq6S6ZLNwy3FbR539CjFHLeT2pxt7urcnrRhocF/wJzVR5LWFGjHQAi3FVdPXbMS0Uqf1zVmRkzrp096/kIaglmDw/fXxTdLb194/xtjv6sY0d5XvY9t462lbQVi9BoF/p2ehK+0Fj8xORxcoEZ47fGpea5LVKm3rg74uUmPoCWODZEXBEq/Va5HYYR35mcu9JH9Rw/n4t6jn/4YrpzhaNQV52SSwJ7Sx5YK/45yjDzD06nKfWZY3d7Os0Ar4/fRa3l/d5X0iPOvZFKaxm/PVuaPWf/OdVlelog40ptiXSijv1uGDHy1tmOva4WVY6ds6rHs+yz5ab1rJoT63lzdd6Rwy9EoD0e2Gnah5ZYV3+cfWxpf8Lf66OxnbdpeoF+Tah9Htj0VPnXUj1F8ULe48eqbf79bir9p5bNEn83s7TXSPR7YIXgJfz8enPoFXvBL6l8+LjJ//7xwAhKrXfkLpFekntEHeFee8Sl7Lm12d5KiwX83enfdQ+kx4M+TfvAErdN97b2prjjLPs4tG6vnjKuCnBVEKWuqiY7Vq4p1eF9O0UseU5TUvKY5ErqziIpKf+o5kfkt3FVAICrCsZVdb/3XqiuKj390kcfWYKUVa0Ft2u8qXX777GYj+3Rp6ZmvkYh3LgZzh8I7GEukJbYG1I2072IjjE5vyG056Ke4yXqfsWHSQcRkWwKfsqYfAU8aRaHTdSmKad5X/H2AmXKmvfTDPD6BOiqJjxbokynk4idu6re8WfD7QXNQY4rm1Io0SyK5DhPzyZOZpT1eFRVti5eK2eix85d66W3Y2JuNh10bnagPR5ALSyl9pQ/RZ8GyFXZviY0d6aqKtvXhPqC13Hr8sS/PU+zTrbYg3nbQ3MWDr+a7j1e4kHH+jGwBt5VeaoeHvKKBsG5Ks2vTk0f6bHem+ZRg/ruHDhX5f9p2ketYcRIe51/D7/Jnn+PcVWAq4LodVVCWbon1+NMY944H+anLne0q5jyLJLC5qqUo45ZuMeDO8usEBhqALiqSHRVXYsWhe6qLhQUeDuGRqaI61suHqsh/+9uTc97bc2OzzvkZ0ixmM/PFQUR98R6rWeF2Lg4MT0o4a689w+LZXAvHH13zo2ejuv35IhAWuLcELUQ0YWj6vZe6574fC5SakpZn2h+bvujes/xD5V9x81d2xOKqlK9Sc+hktnyH/uN37p18uRx30oWGyQ3Tukl5TQNBkOMX6cZwvXx2inyfqXdTniq5lRPzVOiErrxb/7GIPkv5WenuYsBjSv16HFxoh8yjp8tn2jPmc3/enusY56UQ6qUVlkvVzWlDjoxI8zLnEuHURlwjwd0mtbH/rIZSp2sm2a+WntYLiJ9oePzHeV56eneDKufyYD+zQH08jWh6rvbC1qVV5RFCD35Po29F9xusJ3i0QtK9lnxbMV3xN5XEvzvZs/auXL/xd0xX6nBLVUfU7WB61TPAAbWQM/9UgyhNKhOKNXDxUt/oPa911Y3DLarso/wvfJXhG2Eu0hgW703W+9JRc8P1P7TD7Uulf/fnX4ZVs8jwVePB3iaSrFAaxNTX7VlXV1ofDU1zt3DO/we279k5V/j1++/AVcFuCqIYlfld/KRD+2kvatBcFXq3ESX2uqdZXK9+PjsGlQVAK4qMl3VuSeeCN1VncvN9cOHaDyFKo+nfj6bqTfuN/x8k/bftV3zI9TkC3uGSpCFPPxrib0hcXc4zz3zoOQCeR5Wu8rNd6ltCa7AkdxF6iO/+rBjn0wjd41sT5xdld+nGcL18cNV2Z811b3Zcm0cJtwEM67sz61uuTHqpD51WqRDWpBdpzirKvvYV3b73WfrfSgG265CGlg+T/OLshmxQebzhNVV2adSugoo5fvD4WvCrYt8DXPlHF2T+ETr8ewEH8bU12mqKtG9/9TqYy5fcAENrAF1VUr18BBTqMLmqqRefNbpO0JNSnQaE4p41OhxzUsVwHfnoLgqf09TNeA3/nxTj+bfLZyyClVj6j7GqVcFuCqIblelZB8N37wqcXnC/EnyfbkxbnzKg488kpacICcIGyflN2KqAHBVkeqqzs6cGbqrOpOVZfHrKdTlMVn9o77mzCm/nwQ8F6r2+ZAcrKvS/qDnZ1abrfNcoNzH87DSVa6eQXpGKbnPx769IJsU+aPKA73yrONoeuQzc8mr8vc0Q7g+/rgq+xOokrRgyzbw11V5GgbK0bVSbhwrDrnsxFkbqY+bDq/6FjyuW4Q0sHydpkeRPOiuytJTNkOr7peiGhxfDfAX120KoR9fTn6fpusUT80J0E7XJ7CBNZCuSr34E57ZfsESXoJyVe6eRatHNAaEt0sV9Hdn4LXV/XRV/p2mOjC1Glf/7HddzknjmwZXBbgqwFVJrM4yDHi9qoF1VaKuanrpb/+XmporTgxPSE5bUNpsYYwB4Koi2VXNmhUGVzVrlo/DaJaTVp4h/C85491VBfF8NyCuSvPRRsmu8fzY4/25SH2m1GyoclzPz9q+Mt7kFB/lGMqzjpJxIR9Qy1X5fZohXB9/XJX9TVc3FSZX5e+jqprj5Li9Ou4d83+CdlXBDSwfp6k+rXtO8xo8V2WfSulor1Uz4ZhyEuCY8t5J6i+Xx0mZXk/T66+m7dBO3TtY68v50UtqZpH1pvf76XnlynS6IXNVGi11f0cdslrXS6Nrg//uHDBX5ddpeh+1yvZ2j6XYK63fY1wV4Kogyl2Vmlh1V1GX9w0VheRjHUDD9JLuwXZVXRXifL/46cWtJFEBQBS5qnPz5nlzVb/7neKqSkq8bHb2pz+1+PkU6iCmlHwED/kcPWf2rlmc+/D9k8eNtqG9ntFAuyq/W+LtkVwt2uSxvo735yK1oVJdYFf8XebJY06I9NCnPAGq8/HkgkBKc7TqVfl9mvpyVf6Pq4AfVdU8CPuIVka98xQwv+cA2p5DgxhYgQ7a4DJ5wu2q7KmW9h5TVJXz10SAcwB9ZCv5Oo3AhqHvrxgduSqxePeLTgX7jd8Sl3/ce6YnPAcfAFfl7bQ0ujb4784hdlXKS3JNdVfcFjz00lhcFeCqIMpdlSqZYuIzK7zbqq5i6U7OkGRyn1gn1OVKVaNiMyu6fbqlMLsquWDVuLxGRhQARJWr6nruOW8SKjv72rlz18zms//wD142O28yWfx+ClVTJtzq+Dg8aGuuj+VpPaOBdFUBtcQPpeBZUPjnqrzhf51p16NKZyH/XV6tlOOUViVrLJd1AP0+Tf24qsDGVeCPqjYhq1wJZU6bS+KgW+l0D6k49usZYI8HM2j14qps2WmqhVI+6zKzybYMoH9jHlflY+Ae3/pq7j23fsvouH7hT4oO9YR+cP24qsC/O/Xhqrxil7W4KsBVAa7KC4fyk+RFLEZNM1Uf71FElOV8y7Z3TBnPr3XfMH6qqbpdnWAn9DSVZo3V1l2D4qpqsmPl2uofn2fSHwBEkavqqaz0NrnPv+hevdr/+3g5ZcJLdQ21cGxM3B157x9wnJQy2HMAA2yJt6dWZd0yz3kg/rmqcNdAlo4qP6g5mx3Zlyg/yRpLnXLjx2k6FUvXi6sKdFwF8ajqnD2oqiqX52DVs3ias+mWVhVYjwd4mu5L7A2tq3IpF6981K11yownP6tshTDB1t9h6GMOoJaY0Y+rsidZHa19a37qtxVnFUwJs0FwVd4KwntxVYF//+jDVfl5eOWLAFcFuCrAVWnTtWXhJKO293f2Qk4bGuMSlSLmsugqdMu3Gpw5gIde0m48ZasAcFUR7aqutrV591AXX3/94vLl3re5euqUxf+nUFFWqQ/1WmVj1bQS9zJWg+2qAmyJl0dy7/Md/Xgw8fIkErKrkqWJk9lRLpWsp+RneZsN8X2a2ssjDrWrCnRcBaUUHLIHlSmB7tfcVs3cdXkvD7PgAuvxQE9TTfMKpjR/YK7Kz9Xt1KmU4l7lztBaJ1QtWq5VoNyjjdI8R/V4wXpkpcO11aNak8/JV+rXValpVi9PDbmFnmY999Tn3WwIyVV5/jK0Vd9yeivo784hdlWKk/Nz6RGPW9vkNa4KcFUwBDQcbAnFVVk/Hs7WWJorTXNSxscZ7SZK2/SIG2YkJyobGkYkjE/JKdrWbvEoowbWVQmd9UXZt8R6SbP1ObsRAHBVw9FViX9Lf+klTxLqwtKlyjaLF3vc5tVX/b2TV54KDalFJRp1fFzu2l2ny/Uc//DnNw9uvaoAW+JRKahL13t76PHxXKTKPY0VpEJ2VfJZyM5CetRR2ys92yuPOvYEuEBPUy+uKtBxFZxSsK1RVlIkDXatpedUO+K+sJ/tQT5u7tqe4AZWwKepWp8ghpafPaQWw/YzT8eec1kmNU178YXmgtuVquA3P6u5iF3PhQs9rsla7npQfZLX/i7y5zRtBeFtC1K6uROXE9e7qwqoYr+vi+78C3CqbIZaHCt4V6VmJjo379SquTcZtPYd9HfnELsq2x93NNb/1EBdj3JG2ReOXygF9mpkuCrAVcHgc/RYeyiu6rPjf476LuyqyBpl/efNMPZ+U2XDKRcaKhdOGyX94zdm4R6GGwCuKgJdlZhalZmp7aEKChRX9atfaRe0mjnz2unTft/8q7IqLi7W8wKA6v1+XOqrcoXfCx07yuff5VCBZ7BcVYAtUdeUevidoxccZtW8rzgC7TQav5+LGkyKaoi7Y375jhNK7eOeMycO1L6VlzU5NT+Yx0rH2urKE53xW2LZmrg77pgg/SAXH3ZUJx5O813lSdHJsujJVQU6roJUCkoOT2xsrJdkHdvFNCY/qdSx7jmzt/zJZPkveHEz//CF74Gl3eMBn6bdHxgS7ppvWwrOOrJ2lOelp3sbV/72kE3O3TSz2J+l5tTcMKkPPdaksnWitRvHp+e9tmbH5yIHat97zfoL8Z0RNzsuyLh2rnKO9iZYO6Z45k2KNTSFcJo2bSZOuzysXM3D7+cplsDlaurJVX38Srbcb7aLIl52tVdCmgNoS2aLvf1fN4t9Yv0mlHtEWW87eFdl+aJshqwHb5r7rvgrIe5aGuFxM2ZM1dLlwX13DrWrsnzxh5m2UftqrW1C74WOz3esWZx7z/fn/kHzn6s7XhQ73PqFUjx7vFEc3DPu+y6uCnBVMDR8LfR+tLk+OFFVs2W3IPRGeQcKVdItUWx6mce8qbrc0eKX/OTCDsYbAK4q8lyVeNe+caPHOYBvvHHxN7/x9O7lHTsC+2O7IkS81kV2+Nu705zshLvmat1zB+ZCfBasddxNYC1xKuIrrzqlVis2JMwsOd6j/VzjEddnJMfEATecSkQF+Dyp5OCcWvXE90UzZfx2akF9j/Un8UFHXBfsiZXHe7TbraxR5e00A7s+AXRKwLXVAxxXwSoFVcx4T9bxeDE1+jCwHg/0NF2zL7wOwoAHrUu+mF9b23O9fAgTa7vv8lxF3nnnns/RmDy/5lRov5terqZGifIBdFUBfb153TzujoL60NYCtPlB185+dUaIrkp7kBuTTfU9mot/Bvnd6dd1CqjHAz1Nb7+Z7pNqtX7LrF8QZaeU4YyrAlwVDAm9vd/Ij1KBxjff9NF7ymzB9DLB4yaNeeNwVQC4qkh2VVa633sv0JLqPWsDX3jOVh7H+zPo8Q9fTL9VXU/c+K1xk594dav1kVzznnsAXVWALREzWPKy77nVthK6aBbUT4SiZRyaIy3YZVcV4v6z8t6qPXohuOdJ+XIEVFhbrT40YoTRQaDcek+u9mnqx1UFeDWDVgo2IeuWYuZ+MZ+YPE69lvbmhNrjgZ2mOngby/OyJo9TP6WMrPLGC5YwuCpbo0Z/y+jX1uqkPcPtBc2+iis5/0qIllhq+d4zPVrnaO8YuQ+LNbYL5jQ1rmbWi+9r/l7qx1V9/MrD1q6zf195vO5BcqrGes2VLjF+69b0Fz8UB6xcQCokVyWNp7zU78gNt+/a4sFVBfXdqQNXpfGbKQ5w67hdvEZr4F5oLJ6tdLhhxHcmP1EsXUdcFeCqAIa5q7qtoM3DBkJj3kTmAALgqiLdVVm5tGHDmYwMfyzV2ZkzL+/aZYHhjzzdSquqkg+dNOAzmIYtSpUi35qFHvcooJQqUj5sHwCEDVwV4KoA9MeehWOkP0Ak5Va71na3tG8renSCkdrqALiqqHBVVq62t1949dUzM2Z4FFWZmRdff/2a2cydfYQgT7fyazk1XJUflsW2zNmz9eHSLNHW4+oErwAGJQDgqgBXBRB5CI35kxwWLlSxLWYYY5zwaFmrQEcB4KqGi6vaGbSrkrl29mzPhx+eN5nO5eScnTnz7KxZZ3/60/P//u+XNmywXLjAPX1koRTwNdw0d6XLjDKx3HfR2lZclX+ItbqlYsZ+L92Fq3I1fWJJcqUEVZiXvAQAXBXgqgCGI5bmStOclPEJjlP2ExLHpzy4oGiba7YVAOCqdO6qqkJ0VRBtuUCmZFtNmXseFrlfrY/iLkhwVa64lKzRqNWNq/LvFL2WJAcAXBUArgoAAABXBdGUFNRYnHvPrY71ez0VHsZVeXBVSq3uxrBnHkaRq5JLkn94HE8FgKsCwFUBAABEmKvajKsCAAAAXBXgqgAAAHBVw762OgAAAOCqcFWAqwIAAMBV4aoAAAAAVwWAqwIAAMBVAQAAAK4KVwW4KgAAAFwVrgoAAABwVQC4KgAAAFwVAAAAAK4KcFUAAAC4qsFyVQcPHsRVAQAAQECuynoXgasCXBUAAACuClcFAAAAuCoAXBUAAEBEu6qmpqaXX375JQAAAAD/eOWVV06fPt3T04OrAlwVAAAAripsrurMmTPWu8zjx49/+umnNTU16CoAAADwU1Tt2LHDbDZfunTp66+//stf/oKrAlwVAAAArio8rqqzs/PkyZMtLS379u2rq6vbvHnzhg0bPpJYPyjUDy5rJIbjzoc7K//fV5+KfeWpbxW9/J+btju9s/Pj91b+cvQr4rvfK6uip2AAqX0pNTYmJuavRj9QUOU8DLdvfHfJ/7dsrcv25dnfsW4e853scvrOia01pb+cPuavxc75q+9m/347PWIfSVW/zv5BrNwz8yJv3OyW2Lt3b2Nj45EjR6z3D11dXVevXu3t7cVVAa4KAAAAVxU2XWU2m0+dOnXs2LFDhw7t27fPeg+6Y8eOurq67YPF4cFlncRw3PmwZ2P14m8vfzpWjtf/6W+K/1mMN+fHKS/+3++U//fWT+knGFgO/PH/fl9SLDF/HTsx5T6Racnfif9//sr6ytifrXHZes3PxsZovhG1FKbGOPLX33/8d3X0ikLRzAR5JEV2zxw5cqS5ufnzzz8/efLkF1980d3dff369W+++QZRBbgqAAAAXFU4S1Z1dna2t7cfO3aspaXl008/bWpqOihxYFA4BdHD5811Bev/4/ay524oXfC/fyfHohvLXpxeVfbbptYTdBAM0kDcXPjU1Jv/z/8yKFbhf48ae1vGM6/+sf5z1y03PvNdcYvvPrORXpN5/SdSnxn+1/+5eepThZs/p0dcOsc6mm6e/syKiO2ZDonTp0+bzeaurq7u7u5r164JgkCxKsBVAQAA4KrC6apsusp6D3ry5Mnjx48fG1y6BxezxHDcOQAAgB7o6em5dOnS1atXr1+/bhNVuCrAVQEAAOCqwq+rzGZzZ2fnaYmOQeSrweVzieG4cwAAAD3wtURvb+8333yDqAJcFQAAAK5qAHWVXGrdyheDSx8AAAAMK/4i8T8q3PgBrgoAAABXNeDSajD5n8HlpMT/AAAAQGhwvwe4KgAAAFxVZDLIl6ZZgiEKAAAAEG3gqgAAIKrBVenWVQEAAABAdIKrAgCAqAZXpVtXdU2CIQoAAAAQbeCqAAAgqsFV6dZVtUswRAEAAACiDVwVAABENbgq6lUBAAAAgK7AVQEAQFSDq6JeVX9FZoyIMW58ypyC2k6BXwsAAACAoQRXBQAAUc0wdFV7Cx9K8cVDhXupV+U3a+clJiYmjDDEyMpqUn4jugoAAABg6MBVAQBAVIOrol6VitBZlhkv2irD9JJufjUAAAAAhgpcFQAARDXD0FWZ21qOeKL+tTmiqpqSU9ZGvaogEKrmxoq2Kr2MzCoAAACAoQJXBQAAUU1E1asyb82/X1RV9+dvNVOvKigOmSaKrmqi6RC/GwAAAABDBK4KAACimkhyVW1lOVPEpKrHVjRFQm31watX5QCuCgAAAGDIwVUBAEBUE0GuavsSKanq7kXrzOciwVUNer0qEVwVAAAAwJCDqwIAgKgmYlyVklSVMnt500AdYpAvzVDUq8JVAQAAAAw9uCoAAIhqIsVVqUlV8yvbzkWIqxoSOgon46oAAAAAhhZcFQAARDWR4arUpKr7l2wfwKMM8qUZknpV/auzDDExMYbMChYCBAAAABgicFUAABDVRISr2lv4kGiqpuSUtZ2LHFc1JPWq+oWqubFiZtWYue93oqsAAAAAhgJcFQAARDUR4KraKuffLSVV5W81n4sgVzUk9aqsWPYWTBslJlfFGEYkJCYmzlvLrwkAAADAYIKrAgCAqGb4uyolqWogi6pHUb0qka4tBRnJccYYhcwKfk0AAAAABhNc1fDg6rXr8tOU97h85Rp9BQAQEMPdValJVXcvWmc+F1muamjqVQmNeeJKgIaxWaUN5y38ggAAAAAMPrgqvfOXv/xl5yefrq3Z7meYz5yn0wAA/GeYu6qm5bOlpKqHCvcO/MEG+dIMTb2qmuxYaqsDAAAADCm4Kr1z/ORpfxRVfcOh7fUH5P/v/KKLfgMA8JNh7arM6xbdPRhF1aOpXlVFpjjvb6LpEL8bAAAAAEMErkrvNBxs8cdVNRxo6f3mm227GuUfO8zn6DoAAH8Yzq5KTaq6f8n2QTleVAwIXBUAAADAUIOr0jufHGj2x1VZN7Nu3PvNNx/v2i+/cqrzbNhv3fVaX/aQaSJPFgAQJMPXVdmSqp56p/VcJLqqoalXhasCAAAAGGpwVXonIFfVL+mqLTv2hV1X4aoAIFIZtq5KTapKy1tvPheRrmpo6lXhqgAAAACGGlyV3mk44O8cQNtHhN7w6ypcFQBEKsN9HcDBZJAvDfWqAAAAAKITXJXeCTSvSkbo/WZzXYP76yHeuuOqACDywFVRr8rpH9CydP5FAQAAABhacFV6x8+8qp17m+THLVt0nun6sHaHY75VKOCqACBSwVVRr8oBYcvPRov/okwu7OB3AwAAAGCIwFXpHT/zqvzMtwoaXBUARCq4KupVqQidtblJBvEflNsK2vjVAAAAABgqcFV6Zxi4Kkt7dcGclPEJI6T7+xjDiITktAWlTT2Ct8eB+qIFacnqR2KMcYnjU+aY1rQKTvvd9o7JYcfSnjNMlc0W1915dVWW5kpTRrJj6zIKajsFhhYAyOCqqFfVv3ZeYmKi/V+bJFMj/0oAAAAADB24Kr2jc1clNBZOjY/RxDA2u6pLY1fWj0wbZdD6xOjcOvtmm3Js+zWMSHB6iBj16Opup116dFWOzRP34rCPrIouRhcA9OOqqFdl/0fOGJfInzMAAAAAhh5cld7RtavqqsiMl7VUVmnDeSXdSeg5Xm2SDZHGn6ZtHxk1bWGl+hmhx9ywfqnpbSfVVJMz4Uc5S9c75GfZJ2eMWbjHcVMPrko9VvxUU3W7moxlaS7NGmuQGpfPlEEAwFVRrwoAAAAAdAauSu/o2FUJVXNjJRWUXeP+J+iu4lSDuz+yfSQz2KymPQvHiDtIyj/q8KKmqxJqsiVTNTHPbSqH0jjD9JJuRhhA1IOrol4VAAAAAOgKXJXe0a+r6i6ZLtmo1GJt4aNYJceJfepHQqlZK7fEkLXa4TUtVyVUZEo+KrNCYy6H1zcBILrAVTEHEAAAAAB0Ba5K7+jXVdVkx3pf1rsud7RLCpTPjwTXEk1XpRzdg0lj5UAAUMFV4aoAAAAAQFfgqvSObl2VUJbueWlAie7iVOcUKN8fcUZaCHDeI2nJiSJxRsc67L5clXosY1yiFmqRdX+bAgCRC64KVwUAAAAAugJXpXd066r8yExy/VAAyUyWvQX2xQIl3zQ+5cFHRO4Y45erUl7yBa4KAHBVuCoAAAAA0BW4Kr0TSXlVygu+BVFb4WTJUxkn/bTSYR1ADy3RdFVuBwcA0AZXhasCAAAAAF2Bq9I7EVWvanWWwZ96VUpV9ti5VYJfLdFM2FKa56nyOwCAAq4KVwUAAAAAugJXpXf066qUtfR8rQM4ZuEe20tqYtVdRV0BHsyGIsB8uyplzUHD9BJkFQB4A1eFqwIAAAAAXYGr0jv6dVX9Ql2uZKPiMyvc1VNXcarBvTiVIpC0P+J6MA0J1lWWHutfbXVr82qy430fCwCiHlzVMHFVyr8NxrjxKXMKajsFhi4AAABApIKr0js6dlX9/d2rsyQdZBibVWqvK2VprzZNlV9PMjW6PE0cyk+SbJVh1DRT9XH1M5bzLdveMWU8v1b6qePXU2WjNb2o2dLvsNdpowyGUaPi/XNV/f1dFZnStjHxUxdWNpy37UroMTesX7og7eZ/pJgVAAxnV9XRsKpw/sP3TpuSIjFl2r0Pz1tSvqfNHJGuau08h1VcY4yT8hvRVQAAAACRCa5K7+jaVfX3C63FD9jW6zOMSEiMM6pL7Bkn5FRpJTR1bVk4yeh9VT6h0ZTktAigslfjJNNei1z0yh9X5dI8VgEEAC2Gqasy1y+bfWeKJnfOXlZvjtg5gEJnmfx3COZ4AwAAAEQquCq903CwJRRXZf14WJrhrYSU0FlflJMyXv1jtzEuMTnD5LZ+nxOW5krTnJTxNrElfiZtQak9i8q609qCjGT7Pu1TPo7mJ/ntqqQ99TSVLkhLtls0UalZj7Z0vdcmAkC0MCxdlXl9XpqopdIeX7Jqx7EOOcvq2P4PCx+XXk65f8n2CK5XJVTNleaDp5fxLQ4AAAAQieCq9M7RY+2huKrPjv+ZPgQA8MJwdFXmyvnSvL+n3mnz8M6sZfsjuLa6179QAAAAAMBwB1eld74Wej/aXB+cqKrZslsQeulDAAAvDEdXtbfwISl9an6l21tb838svvNQ4V5cFQAAAAAMT3BVw4De3m/kR6lA45tv+ug9AADvDEdX1fbOU5KrunvROpfCVE3LZ6doZ1zhqgAAAABgmICrAgCAqGZY1qtqK8uRF/9Le3yFvY56R93Ls6SX0xasGQhVhasCAAAAgMEAVwUAAFHNMF0HsLVywXRZV02Z/kThhqNtDW8/Lb8wZVZ+bevAHFQv16yjcDKuCgAAACBywVUBAEBUM0xdlZRGtfwJxVep3JmxaOVB84AdUTcXbXWWuEqsIbOChQABAAAAIhBcFQAARDXD11WZD6785RxnWTVl2syBlFW6uWhC1dxYMbNqzNz3O9FVAAAAAJEGrgoAAKKa4emqzEdXKnMA78xYVL7n2LE9q5aoSVZTHsxb1xrZrqq/37K3YNooMbkqxjAiITExcd5ahjIAAABApICrAgCAqGY4uirz1vz75dJUL9d1OAqsNXkPyjWrHlvRFNmuqr9rS0FGcpwxRiGzgqEMAAAAECngqgAAIKoZhq7KXDlfMlL3L9nu9l7T8tlSctWsZfsjeQ5gY564EqBhbFZpw3kLgxgAAAAgssBVAQBAVDMMXdXewockH/WLlRqVqSrny6Wr5ldGsKuqyY6ltjoAAABAxIKrAgCAqGYYuqr9y2ZJOuru+ZVtHmYHRnheVUWmOO9voukQ4xcAAAAgAsFVAQBAVDMc61WpiVUpUx5cUL6jpU1Kr+o4tmPVksfTUqKhXhWuCgAAACCSwVUBAEBUMyzXATQffOdpZdU/d6JgHUBcFQAAAEAkg6sCAICoZli6KimP6tCmt385d8a90xRnNWXavTPmPlu4ak+beaAOqZuLhqsCAAAAiGRwVQAAENUMW1c1BOjmouGqAAAAACIZXBUAAEQ1uKrh56qEsnRcFQAAAEDkgqsCAICoBlc17FyVsOVno0VXNbmwg/ELAAAAEIHgqgAAIKrBVQ0vVyV01uYmGURVdVtBG8MXAAAAIBLBVQEAQFSDqxomrmrtvMTExIQRkqaKiTEkmRoFRi8AAABARIKrAgCAqAZXNUxclVxPPcYYl5icUVDbiagCAAAAiFhwVQAAENXgqobhOoAAAAAAEMngqgAAIKrBVeGqAAAAAEBXxFz/6muCIAiCiNrAVeGqAAAAAABXRRAEQRC4KlwVAAAAAACuiiAIgiBwVbgqAAAAAMBVEQRBEASuClcFAAAAAICrIgiCIAhcFa4KAAAAAHBVBEEQBIGrwlUBAAAAAOCqCIIgCAJXhasCAAAAAFwVQRAEQeCqcFUAAAAAALgqgiAIgohCV9XRUL5k3sP3TpuSInJn6oy5vyxv6NCdqxI+mxu7PCbmjekl1z1uUrYmJmb5RNOZ4XcjJVyqLfgwZfxbxhjrOYqnOSKhZPw/nRicgx8y/VeMclxbrK0Ygl44nCkdPbOCO2tP46Qp3dpFE7cdCviTfVVzi619a5h+oJtuBAAAXBVBEARB4Kr0S2vtktl3piiS6ic/+YlqrFLSHl9Rb9aTq+ouWWWwPqWP2VgneN6oYq31aTy1+Ho4bm3OmCa66JvlhhG/HZ+yZkHRyXZLWO+iug5njXrDzRYtj8k8PDh3cUf/ozIxsUSOhBFv+OOquut2z0srT/jbukPhbMhguKqTFZseTPl93KN+9e3AnGbIXZS6L2Df1H1gusHat7/LrevjsQUAAHBVBEEQBIGr0i17l82S1FRaztu2RCrz0Q358qv3528168ZVXSy4TbQYtxVcdHlDqNs8LaupVRZYNetjbaZDuFCWVZ5dFfSTuYarsoexfOGWq2G6h1ISXmIMbz+w1GbBes+f6mlo/nLw7+jUHCsfrkrZLJgEnyF2VRWZAXjAgTnNABHaF05bV9Yqj+TW7Fhb4/tay9b9MPszwY99tBW8J57IbbvaeGgBAABcFUEQBEHgqnRLW+X8u7WdVOs7T4m2akpOWZtOXNWezWNEm7OqxDWf5Mob08Q8IMOo94uae/sPbZsY80bW6n6htSlrrJQflFR3NERXZZcafT3mzvVLP5xglI3VW5kVYdFVzVliwsvyMbntgg7u6HBVenNVZ9+oNMgqs+icRRqWhqxmScWWiq/HlOX7HuIdC8f4mD8LAACAqyIIgiAIXNXQs2aBlD414+V6t7fMlfOl9x5b0awHV6VkHsXO1UohsXxZbaocZRAf5qdlrxkX884jue+LP8asmPDoJ/WdIedVuUuNrsOZ8dJb8etrQtdLol/TUZEmXJXeXFV/f2979bZp4izRN0ZNW58+bvm4RzY+IE0aNU74sKj+ks8xKFRVx1rPIra6SuCRBQAAcFUEQRAEgavS8QTAwoekylTzKzXe3L9slvjelAVrdOCq1FI7C/d4fhrv+aL00d/bCpOPmratur03tFsbz67K9vCvlagidB4vyChXqz6tiBu/Mqf0nCUMrqr3fMMR07w/Jif+doRhubLzxPIM05Fmi/86xrcM8uaqpHJgvuK/TMF7HYfmCZfqizak3PSmQT7T5A9+s7c36NPUKh6/3GM5+aBP03Ku0vRBcoLcZrG6WXLaptLmXg/Nk/Yg1tT/IDluhTQJ9M2E5A+1tpcH1ldNpbacvuWGUZWm6i/9K5t2vWS6OBrHLOzggQUAAHBVBEEQBIGr0jPNKx5L8Zw7VTlfenPWsv1D7qr8KrVjOVea84dRssQxvP2jnAPNoZY/9+aq+vvbc0dL76Y3OaSq9HWWrVPaYHzLoU75cuOkukYhNFelbuYehlHrKroiy1WVmfMnrXDds+HtR1df162rsuzdNsmoueWKSaYOi6ar2qJVU99Qlq/dgb3NpRt+pGz/xqgfbfBotVx/f3bdJn7kvQJKVQEAAK6KIAiCIHBVOmdr/o+l3Kmn3mn16KoeKtw71K7KV6kd4VKtadWNoiZ4a2rWH0fHlP5krjolcOGREIyVd1fVV5YuvTt6Y52tIXUbx0geISn3eKeg2qvajUmSvYrPbhX6A1Inzkbp0M47kj8wLW9tOHVNPieh50J1bpmcwhOfc2IwXJX7ZgMzBzA+/i3xv1O3VR//Sujv62n6ZLo86dJ5FcjgTnNA5gC27Z4sXWXD2HVF2+R0p97zDQcenSAbt+L0sqtuzXvDIH7kjbFZB5p6+qSJfspQMWQedhab1lG07d4bV0h9si519PLv/KRanRK4udKXsdqz8HfiPqcf6OZxBQAAcFUEQRAEgasaLrMA0x5f/nGbrby6uW3PqiVPTJ+iD1fVXbLK4K3UzpVfT13uXFtdNBSW5k/kgj4xk3aeGBBX1d+Y946z01FWKjSk7nNOcurvKv6jwTmxJRhXpc3V4tQ3XJRZBLgq0eBkf+bYjeqky+K5Dgs76sZVXa/IlFZyjF/rkuDWL5jz5FE0ZvMerdNMynNKuarLLRFfj11f4/Di2V9XxDjXVhcbbzlX9MDb0rgqf8nLEFfmzzr1GwAAAK6KIAiCIHBVusVcv2z2nSkyU6bd+xMrqerPKbpwVYoA8lJqR6ha/8OsJiVnSZq9pRgKcaG08uyqAaitrul05JUKY0py69yb2JQuuYnUYq3UsNBqq2uqpWGfV5V5uMv1rdbsWPGt0bntunNV3ftSpcPdVnDRo2x1GhieT1OZfujc+cJn2T9cV9baZ/+s0vi+1rJ1P8z+zEvBdGX+rJMpAwAAwFVFQFiuf3Xs5Omdn3xa9acda2u2Bx3VG3ft3nf4eHundYc80REEQeCqdENHQ/kv585QFdWUaffOmPts4ao9v/+F9PMvVpqH0lXJAsiwqsTP+UvSo/7kwp5w3NoE5qo6Cv/gWfEou3L0LLgqL65Kq3k9hZNdT0ovrqpmfayXQl0duydLjUkv6/PdPE1X5X5qk3f7Vybd1/xZAAAAXNWwjJ7LV7fu2B+KonKPj3fut+6WhzqCIAhclZ5R1gGc8XL9EK4D2Fc1V5xaFTvXW+aII0LZGuv2E01nBsFVucwBVBXPirjEkkTXUFfu09yV/65K+Kpp/a4Fj6xJGW/fuVq+PeJdlXpSDppGL67Kh2BSGuMwLENwVXKOnn/drkyc9Dh/FgAAAFc1HOOa5fqWun2yYNrVcEh+CNmxtyl0XbVlx37rznmuIwiCwFXplabls0VV9eP8reeGzlUppXZ+t3Bo5i95d1XXi1Old5PqjjopHm8Rm90atKsSWvc94L5mnPsadhHvqhwWXoxGVxUA10umv+F9/iwAAACuahhG8+cnbXbJlgl1sftSWLKrjh5r57mOIAgCV6VPWivnp4mq6v4l288NnatSSu3ctqttaG5tvLoq4XCmwUk/+al4gnRVQnvuGKkx8RWm6nPnLT7UUiS6qq78JFffpzNX5WMOoENjBsVVte26zbmiPwAAAK4qIuLjnfbZf92XrsgvftlzOSyuanv9AZ7rCIIgcFV6FFW1+bOkNQDTFqxpOzd0rmrIS+14c1Wq0HHI+Vq9zuBFWIToqpSKSBqruXlzVW5Vjboq1saH11UZ1q0eHFel1C93Gg/BnabyKTUhrj/001RtlGbtfLW2+h8KOwbVVe1Z+DtxVcrpB7p5SgEAAFxVRMWHtTttakmeA9h1/sudn3waFldVs6We5zqCIAhclY5KrB87smN90S/n3icXWZ8yq7DePFDH8uO+Qgeldjy6qq4tG5PkpKr0Jvs6bsJnc2M9rWEXsqtSFMY7eY3OvdR5PDdJo16VUkvLufeExm1ys8PiquTSYOGeoelJ4vQ15kmtil1b0R3qaSqf8q9gv3+nqaxWGTNmY53LcFUT4pyd0cC7KmU0ashNAAAAXNUwj/CWVHeJqj/VDUSb9z03IcZKRnnou7rUtv7FB38wcoRB3GGMMW7c3z39x45LmxaON8YYf/hvuy+Htv+zFbMTDIYRt+fvG8iPEARB4Kp8UDk/xZ07MxatPGgewKP6vq3QQ6kdN1clfGVuOGLK+L1REg2GUesqnKXUofwyKYNmefzUzZUNl3sE9VMtJ98xfZhy785DQbsqdZv46Z809Yj2wXK+s3Jh5SiDdr0qNQ9r+Zi5h9stUlH20nVjxY3fMBjC46rUamLLDWPXlTZcs4TVVd32whc9NuljbXzRKilP6o3U4qv9oZ+mvLikeJm2VR//SgjHaQo16+VMLofNes83HMgaK5lEQ1n+IX+UXNhclZLMNWbzHh5RAAAAV4WrCix07ar2/dstsqQSNVWCJKxunF+n7j9mwnMhCqN3M+Sdp624MIAfIQiCwFX57aruTP3JTx6et6Ro/Z4280Af1eddhWIThrbUjuqqNOKNUdO2bdHInrpalV1q8FT+3NOkM79qq1+tyHxLY5+Gt6dlrxmnYTcuFk5+w33jB4pb8ia6H0tRJ34WblfpazSVaZ1s4LMgtVvyxogEhyUUY1ZMMnW4qaKATtNXZ4Z0mn2NhRXxmr1nLF+45armaQ6Yq5Lnzy6/reAiTygAAICrwlVFjqs6+2aaZKomzKtuUwp1Xew0X/zq6/DmVVl3FGheVWAfIQiCwFXpEh/3FH1Vc4t1UGrHzVUZ3kxILE9bsGt9c6+XxnfWf7IgrTwxboX8KcOI345P+dD0zsl2Tzk5/q0D2C9cqi34IDnhTdmbGON+n5LzSX1nn/pxN7shXCjLWXnTCDmv582bUjaUis1WKpSHw1VJJ1u7KyO5JM4YLlfV13P8ZNGCNSnj7fs0xpUkZ2yr9NTnAZymI73NpRtSxttEWHhO09J8xJRRniA3RnRt1tFyQM6DG0xXpcyf9W+SIwAAAK4KVzVsXFXFTElV3f+7K4Pd7fuet57AjHd56CUIAlcVva5KmXUV3kJIAFGCHubPAgAARLOr2rP/iP9iyLpxKK5qIPyXfl3V8aW3h2WiX7Dtx1URBIGrimJX1VbwnphactuuNu6uAAKlbddtQz9/FgAAIJpd1eWr16o37vJHVFk3s26MqwoouWkIXNXlPc9KB8ZVEQSBq4peVyWX2nljesl1bq4AAmXPwt/pYP4sAABANLsqa7SdMvvjqqyb6cQrhWuf7ov0PfnWwYs+XFX3gfeeT/9BgvIhw4iRP3jwxeqTlxzKVO3545Lce2y7dWDC8/ucCpxnlLlVPTfMrJAatv21J/9uXJxRPca4yU/+9sCXPnXY52VP/t23jTEa2A7t1aBdOtfw1vx7fjBaObDYJZNnv7im9aInE3fLvx20/v+XB8ufc+zH0T94cLGtRJdW79kOYD23hHGTH8hdtumzL3lEJwgCVxXudQABAAAAAIapq/JnJmAQs/907qo63p2VYLNJxjibWoq7Y2nJsx5c1eU9BXfE2yzLyNGqsYoxJMws71A2+/SlO0eLKHsUt1O4s+CgL1cVc/vS3RuevsWg5ZviM8pOe3dVq54QD6OIIGPcaDu2Q3t2VR3vP36T5nGlPnEtAy/vJ/bx1YdfT4vX+ozhluf2XHHpvX/9odGh90Y76DxD2ptneUQnCAJXhasCAAAAAFyVXzMBg5v9590rbdre4H+drC11+8Lrqi7teV72QcYfPrPm825Vppz75K1ZNxlibrzxRi1X1VmWIVmZ+CnP2VONug9IHxHdzL/u93cOoBdXFXvjjbHWVj1V3nDuknOrJKNTfMb3IcpnxHieA+ihVbYOibvj+TXN6qG/NO9UDx2XYZNxjvsRu8qQcN/ijfYO+WzN84rQu/GZ7Q4faVk8Seq9tNdspyYd4uDGZU/es3DdZR7RCYLAVeGqAAAAAABX5d9MwOBm//lwVXVD6KrOvpkmCZgbn97kpkg6lt+tZPs4u6pL6x6PkyzPs3uuaH9EzA0K2VWJn1i0261ViuiJub/k8kC4qs9elHZvuH1pi7vX2/y0pO5iZ7x71m0/1pfvLznt9pH3H40V3/vus3vsL5ZlyAfez6M4QRC4KlwVAAAAAOCqgp8JGPTsP/3OATz7+t2SZrl7uea8s6p/iHV3VVfKMiQflVF+SaOcefkM6c0Z714J3VVpt0pzVcFwuaq6ZyQbdcPPN3tVe3e/fsbNVd3w9BYvfejYhpUzxZ3EzvrvizyNEwSBq8JVAQAAAACuKriZgKHM/tOvq6qYJamXvy04rrnBlZL73V3Vlp/f4EVv7X9uglvSUJCu6pZ/bdJslWygBsRVHVv6t1KG1OPrPPTYmeWS3DPMWum6H8PMiq+9dIhjG85UzIqTa3vd9Uy54zRAgiAIXBWuCgAAAABwVX7OBAxl9p9u61Vd+t39GqrIIXY/+11XV3W59H73guV21CLrjh8J0lV5atUAuirlfG1rBbrH5qdvcPFoXtcT1HRV17+6cmj5fbZ69sZv/92TLP9HEASuClcFAAAAALgq/2cChjj7T7f1qvYpSVAe1YyygYZ48sXwdFVlGTHa6x56+VQwrkoupn6w/LkHv29bAdAw4vuzf3sAY0UQBK4KVwUAAAAAuCrvMwFDn/2n2zmAGjPafLoqpcSVpylvAay4F8V5VY7R/dnGZU9O/rZRNlbxUwrcKtYTBIGrAlwVAAAAAOCq7DMBQ5/9p/t6VXcvP6u9gVwF3DnPSCkW7qFe1fB2VSHUqwraVSlx8cCytHhp32nFZ3hKJwgCV4WrAgAAAABc1UCHDutVqWvqOS/bZ48d8290nxOnrIUXgFIZMldVIau2ANYBVF70sQ6g07mHyVXZy4d5NmUEQeCqAFcFAAAAALiqgXdVQ1ev6vpXn704SfJCExbtvuyWQ/RuRmyMRv2mS+sel5axi5/xbqe+XZXWooQ+PtK5/G7JRt3yvHuHXNr8tOTuYme8e/b6ALgqJWnru4t285ROEASuClcFwwyhdY0pI1ldZCazgh4BAADAVQ1jVzW0+1TFU0zcHc9Xt6nZVZfPffLWrJsMhoSEeK1a451lGfFydaU7nnlvZ2e3bXm7syfrP1gy/57v/8NKXbiqK2UZ0g1jfNprB5RGXvqy+5L3Vu37t1sMSoes+bzbuUOk1zPKO/w8O21Xtf9ff/T99Oferm0+d8mhqWcblDmANz6zg0d0giB06arMRzcsn59xZ4rI/EpvW3Y0lC+Z9/C906aIm06Zdu/D8wtXNXRErKsSLl8o2vZpwup9Mf/dEFO5/6aa1rKLffq5parIlP5VnWg6FLZdWppLF6TZrIy4NnBi4n1vdAzK6RwyTXRb0EUHXkhoNCUZ1MVSEhITE+et5W4eAAAAVzUMYt2GOptXslz/Sjf+68rupVPiYmyL0SWMjlPKfMdllJ74XYb2uniXjyy/L8HgeRXAMl24Krt4Es9s5OiR1rtqW910z63q2PBMsjHGdv8tfUzZScJdS13zrQJ3Vc/ZV1K07t2Kw93+D//NPZ+LIAhc1ZDT0VC+aKasnlJ8uCpz/YrH01LcmTJ9QWVrJLqqa+bM9xtES+UYlZ+azuhFV4XZVQmN+ZOMGv/0h9OFeePof/x9ooq/OUzddYXz0pIT/jZ/wJq4Z+EY6T4hKbe2U+A2HgAAAFc1fOKjTbtsXunLnsuh7/DLniu2HVZv3BnKri4eeO+5B3+gOhlj3Li/e/KtgxdtIsbdVSmpQL/NvecHNrcl6aAf3DN/yQcNjhlDQ+qqxFP77ZOTv2M/s8ySY/44pi8Pllt7RD03w4iEcZOffG1j68WAZjh6mAN48cDaxfOtHWdXVNL+Zz/33sGLPJ8TBKEzV9XRsGrJE9NlS5X2eKHpH727qrY1C9JkM/V00aZDYipVx7Ed5QselDOsZhXWmyPMVX1dslFKp3q/uejs10J/v+X8qemSujJsONWhj1uq8LqqtoLb5H9RJ/20sqlH1jJCj/lUS1Nr96Cfmppj5ctVKdsNnE47mp8kHmDMwj3cwgMAAOCqhlfU7T5oU0t79h25dOVaKHvrOv/lzk8+te1w2679PNcRBEHgqsI+72/dortFzXRnxqJycRZf5Xyvrmr7kvslKfXUO84pVK2V82WFlVPWFlGu6npHqpRIdVvjFbvNaTwkZVe16KRgUVhdlSJlDKnFXTo4Nd24qtVZBmpUAQAA4KqGZbSeOOV/DfVA48SfzTzXEQRB4KrCz95lTzxRuOGokg/l1VWpYuv+Jdvd3mtaPlv64GMrmiPJVZ1rmyi5qszPHV78vCVyXdUAFL+KBFeldAuuCgAAAFc17OKa5fqWun0DIaq21zfyUEcQBIGrGgS8uqr1eZKqeqhwr1tV9jW/VIqyp/xipbdpgJ94RX+u6kJbkuSqUg9/rb7Ut2XnAdFVfXCsbiha5FL23BiXqExn1xQ1QmdtgX3pOmPc+JSc0mZL6K5K6Dm+rWjBgynj1aOLs92tOy+qd6vm5Fnz+BZAXl2V8nHvhElf4aoAAABwVcM4ei5d3bpzf3hF1ea6fSFOJyQIgiBwVWFwVfuXzZLm+S1Y47J64JLZd9prrM94ud7L/gu9osN6VRcXrpWKqVe1yc6j68RnY0R7tW/ywSuD3piuqpwJRr+tjNBZljXKYFvHL9HutyblNwqhuSrPnsht57gqAAAAwFUNeViuf3W8vbO+4XB17a4QLdXGbXuPtXWEa0lBgiAIAlcVkqvamv9j17Sq1lrVU6U9nveLGT6WELTy6quv/upXv/qXf/mX+Q5Yf7S+aH1Lj+sAth08ZJDkVNLes9WfHI6X0qziN54+OdgNERpNSZJsMk54tLThvJQcJfSYW7Y9e5uWlRHqct1WrhM6a3PlfcRn1wgBOR+X3a/+x5tScpau2tZiVsqvW843FE2PlzOspv66YzBclft2zAEEAAAAXBVBEARBRJOrUt5TXVVrbeHjaYqnWl7Xcc688he+XdW+fftqampeeeWVf3bA+qP1RetbenRV/X3dpmppKUAlGqd+cq6zb/CdWeFkg6SeTK45UZqpUMpyfu410ruKUyVbdVtBWwiuStumKXosJrW4O7JcVXdxqrj/pPyj3MEDAADgqgiCIAgCV6VHV9VRt9zmqQprW53e9+qqLly40NLSUllZWVhYaJKw/o/1R+uL1rf06KqEy2dyqmyu6uAvOnqHpBmKe4qdWyV4UD5OombPQskajc6tcz+hsnR3oeRdfPmN1qeHvasSOmt/NlHShPmHuIEHAADAVREEQRAErkp3cwBn/CJP8VR3zl6ieip7OSvvrqqrq+v06dMtLS0bNmx4RcL6P9YfrS9a39KdqxLOtCVVipbKsHq/UdJVhuq2RiWpqsdUJb4y8ZOeQWiIIpjSywR/BFFH4WTPjkcRO1oeC1flwNH/+HtblS/DiJtz3u8UuH8HAADAVREEQRAErkpHrmpv4UP2Eup3zl6y4ajZRzkrL8aqubm5QsL6P14s1ZC6qutfZL0v+6kTe3v7Gj/51CAXq9pilubVmTOlHycfvDrwTfEmbTQEkbq5VFPdFbXGureC5X5YH0v7tndM8x5JS3bYtdaShMPWVakHl9Y4TM4o2NLF7TsAAACuiiAIgiBwVXpyVefWLJgie6qMX65x9lRWmlc8prFKoEdOnz7dLGH9H58bD82tSsfBQ+K8v8ojxdcUd7Wl/lOlzvon3cKlP08W/39/9mBUWQ/SVXkjNrsmaFfVtWXhJKOfta2G+RxAy/mGyieTDMwBBAAAwFURBEEQBK5Kf66qrSxHklWzlze5vde0fLakqnLK2vw6UFdX1wUJn0lVQ+aqKrZINaqq2hwMxfWKLY1yhfXpG2WT1VxyfRDacjQ/KRhXFfi6df64KrU8u2FsVmmDuhCgx09HQm11pVrYuLxG7uABAABwVQRBEASBq9KPqzrXVjn/bqmg+vzKVqc3WivnSyWs7l60zjwArdKPq3JdFtCw8XT3oDRmdZZB28ao4sj5LY+bh8FVqcWw7CsJ+uOqJhd2uDS8IjM+zK7KkLV6oMZCZpDuDwAAAHBVBEEQBIGrCpCOY0ccKPmZ7Kp+VmJ/7ViHQ82qZbOk1KopDy4o3yG90XFsR/mCB6doKqzh7arq6g9IQqrJ5NKAa6d/8kfZVe3/hxOD1Jju4lQNidRVlT3WoDXxTqiaGyu+GJ9ZEViVJT9clSqQXOu8W5qLpse7f7oxb5z7CoZCoylJbXgYXJVaen7Mwj24KgAAAMBVEQRBEMTwdlVqJpVnnHOsWisXTJ+isdWds5fVmweojUN0r2I+PkZOnlpzxNR2uUdc/q/3/BdfLPxTo8GWV2VfFnCgZVVFZqw88S77v9stYmnzatO0UQZRR2XepaGXDuUrMih+6sJK20w9ocfcsu0d05yUe186FKyrEioy5SmASbnVYkusOz2+rejRCUbtelX9NdmxskiaKzVc6GkqzZIMm8FgCJOr6u8umW6flnjegqsCAAAAXBVBEARBRI2rsmI+umH5/IfvnaZUWk+dMfeX5Q0dA9jGobpZ6Wvc96lR1VJOUdn4wMdHYp2WBRxwbJPmHDBOym8UZJHippcck67cSMo/GqyrckqKcmrMhJy5WtqsrXCy2+aGUQ8Ur8mb6C6AlAZ4RtsXeWpTmEpY4aoAAABwVQRBEASBq4Khd1UilvOnF2z8NGG1XKNq34g1n6btPlV/uc+hzrq0LOBgtEXorDXde9MIyckY45IzCmo7BZtI0bIyQmd90YK05MQ4JefJMCJhfMoc0zvb2i3epYwvxWNpLs1JGa/s1rrX5AxTZbPFY1OE1rKcFKXhhhE3peSUihsrBePD4qrk3inIsJ8rrgoAAABwVQRBEASBq4pAVwWAqwIAAMBVEQRBEASuCnBVoB+UwllhytICAAAAXBVBEARB4KpwVQAhsGfhGLmefN7OHoHuAAAAwFURBEEQBK4KV6VvfFZZcuJ7iQFsTC6PLuiqyBqlFG83xiVambeWTgEAAMBVEQRBEASuCleFq4KhwtJcuiAtOUEuEU/tKgAAAFwVQRAEQeCqcFUAAAAAALgqgiAIgsBV4aoAAAAAIBpcFV0AAADRDK4KVwUAAAAAugJXBQAAUQ2uSreuql2CIQoAAAAQbeCqAAAgqsFV6dZVNUswRAEAAACiDVwVAABENbgq5gACAAAAgK7AVQEAQFSDq9Ktq7omwRAFAAAAiDZwVQAAENXgqqhXBQAAAAC6AlcFAABRDa6KelUAAAAAoCtwVQAAENXgqqhXBQARhqW50jTvkQWlzRb6AgBgeIKrAgCAqEZ/rsp8dMPy+Rl3pojMr/S1dUdD+S/nTJ8ibvxQ4V7qVQXO6p0vxK17IW5now5GY+Nj68TGPHaCX0w/OPGueOHW/efiCzptoDK0HKO2JnIzBYXO+qKclJtGGGJEjHHJGabKIVJF3SXT5VbEGKb+uoNflQCoyIxxZaLpEP0CAEMArgoAAKIaXbmqjobyRTOnSeIpxaerMh/dUDjvvjvtG0eaqxqkelW4quGK7l3V+r2vfK9GiZs+jGhXJbQWPzBK1EOGETenPWIl7WbJWRlGZVV0DX5zjuYnRYFosbRvK8pJGZ8wQvVyIxLGp8wJURCunZdoI86IqwKAIQRXBQAAUY1OXFVHw6olT8jpUSlpjxea/tGbqzIf3fb2IiXzasqDC17+5xkR6aoGqV4Vrmq4ontXpTHMItJVCY35k0SrET+1YK+DJrHszUsyxMQYkvIHX3V0VeVMsDbJOCGnqisiB3/XloWTjDEeyKwIz0GUHCtcFQAMDbgqAACIavThqszrFt0t6qY7MxaVN3ScO1c535uralo+W9JU058o3HDUfG5v4UMR6aoGVyLgqoYduCpdINTljhFFVWZZp+BmVIpTRVs1vaSb4RpGuiqyRim5VMYJGaZ3trWcEmnZtmq5KSM5zoirAoCIAFcFAABRjV7mAO5d9oRsniS8u6pzbZWL5shSS/pohLoq6lWBV3BVeuCQaaJoqrJWa+uoutzR1rdTi5FVYaN7dVa85JBc8thsWCxhqhKGqwKAIQVXBQAAUY0+1wH04apcNFeEuqrBr1fVZz6z45mtr367SnzlhvVFc1raNR76+q63mXc8t+PNSTUv3SAXzK5aMq72zWdaTpr7PB+m98yag2VT1Y+MrF46aevq4jM9zpkoHlyV5fDTf8qXDvSbxV0ux+gzd2yes2mp3Gb3sO/qQs2P7GZHONq6Oq1Wbszim2pLFnf0CBqNFo6eqLHv3Hqam0qeaz1j8daHLmidkeyYJGsjXDn62s4iuZaTtU+m7t57tNdjB5bvL5n60ZKR8ql9+NL31i8On6uSL/2ycdVSP1v7pKZozsEDmo0Rrpws/uTNScrRreNkWdruzVuu9IXFVVkuHli8s0htRv63PyrK2K/VJ8FcTQl1ctyNj4aljpRcxNyQWuxxZzXZsdYNslY7mi15kpqluTQnZbxcE8kw4qaUBe+7JWYpm8uyxHF7Y9z4e021rtsrm/sxH06yMOPyGvuFxsJ7bzSKDfjb/Eah3+Hnm12nD1rON1Sa5qUlJ9oKRBnjEj0VkFc0j3R0obO2ICNZ/pRhRELyow6rE6pV4GPnVgmeXZ9jatqehWNkU+VJD2oh171XOk/qvpQ5BbWdQlhclbjmonp+8hmmaS7AGODVHLBBCwC4KgAAAFwVrip4BrleVUNT0+s3uLqe/PG7m3pcPqCk82jEDZtrm7SUxfn21bd9qPmRd1f7NDt9pxdvUkTVos4rzju+snrXy3Z3YyvgrWgOsaT3/HY3u9HZ+vzmxW4tKXjshPPOe9sXa2wmn2bNvt4wuKrtJ94b76bYRm6qbQ6gA8PhqvpOF32sdqNz/Oig2VVpHdNos3R1Xs4+1iOE5KqEfQfdR6B8cV9ffFbQdlV+Xk0nc6RU4g7DzLyOwslePIvDJqruUHRFeunewqnxbl7JOOmlQ9p2Y4tmeab4TGd3EaCrisksqsh0aMXkwkann+OzawTvO1d6UqOAvOqqytSi886fSDI1Cs6yypBZIXhUVQ49rLwSc1tBm9+eqizLvQlKw8u8+So/XJVlr8lD3SzjJJNL1leAV3OgBi0A4KoAAABwVbgq/aNIhPUFY8X/Fi/+c9elvn7h687i7QXSY3/hoi+c/dPJylu3rl7Wdvyzq9flxzyL5ZS6cf6PW1wfpYSumhTZbqwvfv7EqQuS5RG+vvSZecczm9es8252+k4vlU1E1cvZbvah5/NSybAU/PiQLf9LONpSOlbayd8fuqBlN341dn2+6OA+rtnQLbbfcqkxZ4PUvA1VDQ5bF22RBdmr2S3HT/Uqp1m+e5ksU27c0XA+RFdVlT9S3n9rp7XD+3svbt
[...]
