{
  "openapi": "3.0.1",
  "info": {
    "title": "Simulator.Company REST API",
    "description": "Simulator.Company Public REST API.\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->",
    "x-logo": {
      "url": "https://sim.simulator.company/static/logo.svg",
      "padding": "24px",
      "altText": "Simulator.Company"
    },
    "contact": {
      "email": "support@simulator.company"
    },
    "version": "1.0"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  },
  "servers": [
    {
      "url": "https://mw-api.simulator.company/v/1.0"
    }
  ],
  "tags": [
    {
      "name": "reactions",
      "description": "Reactions API"
    },
    {
      "name": "upload",
      "description": "Upload API"
    },
    {
      "name": "download",
      "description": "Download API"
    },
    {
      "name": "attachments",
      "description": "Attachments API"
    },
    {
      "name": "forms",
      "description": "Forms API"
    },
    {
      "name": "meta graph",
      "description": "Meta graph API"
    },
    {
      "name": "layers",
      "description": "Layers API"
    },
    {
      "name": "actors",
      "description": "Actors API"
    },
    {
      "name": "links",
      "description": "Actors links API"
    },
    {
      "name": "link types",
      "description": "Link types API"
    },
    {
      "name": "accounts",
      "description": "Actors accounts API"
    },
    {
      "name": "transactions",
      "description": "Transactions API"
    },
    {
      "name": "transfers",
      "description": "Transfers API"
    },
    {
      "name": "account names",
      "description": "Accounts names API"
    },
    {
      "name": "currencies",
      "description": "Accounts currencies API"
    },
    {
      "name": "access rules",
      "description": "Access rules API"
    },
    {
      "name": "users",
      "description": "Users API"
    },
    {
      "name": "realtime",
      "description": "Realtime API"
    }
  ],
  "paths": {
    "/forms/templates/{accId}": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url https://api.simulator.company/v/1.0/forms/templates/%7BaccId%7D"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Get list of forms",
        "description": "Scopes [control.events:forms.readonly]",
        "operationId": "getForms",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The total number of rows to retrieve (used with offset)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of rows to skip when fetching list",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "noDefault",
            "in": "query",
            "description": "Exclude default form",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "accId": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "color": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "integer"
                          },
                          "ownerName": {
                            "type": "string"
                          },
                          "ownerType": {
                            "type": "string"
                          },
                          "isSent": {
                            "type": "boolean"
                          },
                          "isDefault": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "integer"
                          },
                          "updatedAt": {
                            "type": "integer"
                          },
                          "privs": {
                            "$ref": "#/paths/~1forms~1%7BformId%7D/get/responses/200/content/application~1json/schema/properties/data/properties/privs"
                          },
                          "access": {
                            "type": "array",
                            "items": {
                              "$ref": "#/paths/~1access_rules~1%7BobjType%7D~1%7BobjId%7D/get/responses/200/content/application~1json/schema/properties/data/items"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:forms.readonly"
            ]
          }
        ]
      }
    },
    "/forms/templates/system/{accId}?formTypes=system": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url 'https://api.simulator.company/v/1.0/forms/templates/system/%7BaccId%7D?formTypes=system'"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Get list of system forms",
        "description": "This API is used to get system forms:\n* Graphs\n* Layers\n* Streams\n* Events\n* Widgets\n* Scripts\n* Locations\n* Tags\n* Reactions\n\nScopes [control.events:forms.readonly]\n",
        "operationId": "getSystemForms",
        "x-invisible": true,
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formTypes",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "connector",
                "system"
              ],
              "example": "system"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of system forms",
                      "items": {
                        "type": "object",
                        "allOf": [
                          {
                            "$ref": "#/paths/~1forms~1%7BformId%7D/get/responses/200/content/application~1json/schema/properties/data"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1
                              },
                              "title": {
                                "type": "string",
                                "example": "Events"
                              },
                              "isSystem": {
                                "type": "boolean",
                                "default": true
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:forms.readonly"
            ]
          }
        ]
      }
    },
    "/forms/{accId}/{isTemplate}": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/forms/%7BaccId%7D/%7BisTemplate%7D"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Create form",
        "description": "Scopes [control.events:forms.management]",
        "operationId": "createForm",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accId",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isTemplate",
            "in": "path",
            "description": "Specify true if the form is a template; otherwise, false",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/paths/~1forms~1%7BformId%7D/put/requestBody/content/application~1json/schema"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/paths/~1forms~1%7BformId%7D/get/responses/200/content/application~1json/schema/properties/data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:forms.management"
            ]
          }
        ]
      }
    },
    "/forms/status/{formId}": {
      "put": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request PUT \\\n  --url https://api.simulator.company/v/1.0/forms/status/%7BformId%7D"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Set form status",
        "description": "Scopes [control.events:forms.management]",
        "operationId": "setFormStatus",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "verified",
                      "rejected",
                      "pending",
                      null
                    ],
                    "required": []
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/paths/~1forms~1%7BformId%7D/get/responses/200/content/application~1json/schema/properties/data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:forms.management"
            ]
          }
        ]
      }
    },
    "/forms/ref/{ref}": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url https://api.simulator.company/v/1.0/forms/ref/%7Bref%7D"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Get form by ref",
        "description": "Scopes [control.events:forms.readonly]",
        "operationId": "getFormByRef",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "path",
            "description": "Form ref",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/paths/~1forms~1%7BformId%7D/get/responses/200/content/application~1json/schema/properties/data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:forms.readonly"
            ]
          }
        ]
      }
    },
    "/forms/{formId}": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url https://api.simulator.company/v/1.0/forms/%7BformId%7D"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Get form by ID",
        "description": "Scopes [control.events:forms.readonly]",
        "operationId": "getForm",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "accId": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "color": {
                          "type": "string"
                        },
                        "form": {
                          "$ref": "#/paths/~1forms~1%7BformId%7D/put/requestBody/content/application~1json/schema"
                        },
                        "ownerId": {
                          "type": "integer"
                        },
                        "isSent": {
                          "type": "boolean"
                        },
                        "isTemplate": {
                          "type": "boolean"
                        },
                        "isDefault": {
                          "type": "boolean"
                        },
                        "createdAt": {
                          "type": "integer"
                        },
                        "updatedAt": {
                          "type": "integer"
                        },
                        "privs": {
                          "type": "object",
                          "properties": {
                            "view": {
                              "type": "boolean"
                            },
                            "modify": {
                              "type": "boolean"
                            },
                            "remove": {
                              "type": "boolean"
                            }
                          }
                        },
                        "access": {
                          "type": "array",
                          "items": {
                            "$ref": "#/paths/~1access_rules~1%7BobjType%7D~1%7BobjId%7D/get/responses/200/content/application~1json/schema/properties/data/items"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:forms.readonly"
            ]
          }
        ]
      },
      "put": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request PUT \\\n  --url https://api.simulator.company/v/1.0/forms/%7BformId%7D"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Update form",
        "description": "Scopes [control.events:forms.management]",
        "operationId": "updateForm",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "required": []
                  },
                  "description": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "sections": {
                    "required": [],
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "settings": {
                    "type": "object",
                    "properties": {}
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/paths/~1forms~1%7BformId%7D/get/responses/200/content/application~1json/schema/properties/data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:forms.management"
            ]
          }
        ]
      },
      "delete": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request DELETE \\\n  --url https://api.simulator.company/v/1.0/forms/%7BformId%7D"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Remove form",
        "description": "Scopes [control.events:forms.management]",
        "operationId": "deleteForm",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:forms.management"
            ]
          }
        ]
      }
    },
    "/form_accounts/{formId}": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/form_accounts/%7BformId%7D \\\n  --header 'Content-Type: application/json' \\\n  --data '{\"accountType\":\"fact\",\"currencyId\":148172,\"nameId\":\"ca2a8551-73f2-4301-a8ff-5bd1fb8cdaa5\",\"treeCalculation\":false,\"search\":true}'"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Add account-currency pair to form",
        "description": "Adds an account-currency pair to the specified form. Scopes [control.events:forms.management]",
        "operationId": "addFormAccount",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nameId",
                  "accountType",
                  "currencyId"
                ],
                "properties": {
                  "nameId": {
                    "type": "string",
                    "description": "Account name identifier (UUID)",
                    "example": "ca2a8551-73f2-4301-a8ff-5bd1fb8cdaa5"
                  },
                  "accountType": {
                    "type": "string",
                    "description": "Account type",
                    "enum": [
                      "fact",
                      "budget",
                      "reserve"
                    ],
                    "example": "fact"
                  },
                  "currencyId": {
                    "type": "integer",
                    "description": "Currency ID",
                    "example": 148172
                  },
                  "treeCalculation": {
                    "type": "boolean",
                    "description": "Enable tree calculation for the account",
                    "example": false
                  },
                  "minLimit": {
                    "type": "number",
                    "description": "Minimum limit for the account balance",
                    "example": 0
                  },
                  "maxLimit": {
                    "type": "number",
                    "description": "Maximum limit for the account balance",
                    "example": 0
                  },
                  "limitServiceUrl": {
                    "type": "string",
                    "description": "URL of the service used to check account limits",
                    "example": ""
                  },
                  "commissionServiceUrl": {
                    "type": "string",
                    "description": "URL of the service used to calculate commissions",
                    "example": ""
                  },
                  "search": {
                    "type": "boolean",
                    "description": "Enable search for this account",
                    "example": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Form account record ID",
                          "example": 45722
                        },
                        "formId": {
                          "type": "integer",
                          "description": "Form ID",
                          "example": 562581
                        },
                        "nameId": {
                          "type": "string",
                          "description": "Account name identifier (UUID)",
                          "example": "ca2a8551-73f2-4301-a8ff-5bd1fb8cdaa5"
                        },
                        "currencyId": {
                          "type": "integer",
                          "description": "Currency ID",
                          "example": 148172
                        },
                        "type": {
                          "type": "string",
                          "description": "Account type",
                          "enum": [
                            "fact",
                            "budget",
                            "reserve"
                          ],
                          "example": "fact"
                        },
                        "treeCalculation": {
                          "type": "boolean",
                          "description": "Tree calculation enabled",
                          "example": false
                        },
                        "minLimit": {
                          "type": "number",
                          "nullable": true,
                          "description": "Minimum balance limit",
                          "example": null
                        },
                        "maxLimit": {
                          "type": "number",
                          "nullable": true,
                          "description": "Maximum balance limit",
                          "example": null
                        },
                        "limitServiceUrl": {
                          "type": "string",
                          "nullable": true,
                          "description": "URL of limit check service",
                          "example": null
                        },
                        "commissionServiceUrl": {
                          "type": "string",
                          "nullable": true,
                          "description": "URL of commission calculation service",
                          "example": null
                        },
                        "search": {
                          "type": "boolean",
                          "description": "Search enabled for this account",
                          "example": true
                        },
                        "userId": {
                          "type": "integer",
                          "description": "ID of the user who created the record",
                          "example": 68381
                        },
                        "createdAt": {
                          "type": "integer",
                          "description": "Creation timestamp (Unix epoch)",
                          "example": 1778072299
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:forms.management"
            ]
          }
        ]
      }
    },
    "/forms/item_cache/{formId}/{itemId}": {
      "delete": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request DELETE \\\n  --url https://api.simulator.company/v/1.0/forms/item_cache/%7BformId%7D/%7BitemId%7D"
          }
        ],
        "tags": [
          "forms"
        ],
        "summary": "Clear cache for form item options",
        "description": "Helps to clear cache for form item options, where source type is 'api'.<br/><br/> Scopes [control.events:forms.management]",
        "operationId": "clearFromItemSourceCache",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "Form item ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:forms.management"
            ]
          }
        ]
      }
    },
    "/graph/linked_actors/{actorId}": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url https://api.simulator.company/v/1.0/graph/linked_actors/%7BactorId%7D"
          }
        ],
        "tags": [
          "meta graph"
        ],
        "summary": "Get linked actors with links",
        "description": "Scopes [control.events:actors.readonly]",
        "operationId": "getLinkedActors",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorId",
            "in": "path",
            "description": "Actor ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "edgeTypeId",
            "in": "query",
            "description": "Link type ID from the list of available [link types](api.html#operation/getEdgeTypes).\\\nTo get only hierarchical links use a link type with the name `hierarchy`,\nto get only links for calculating balances - a link type with the name `calculatedTree`.\n",
            "required": false
          },
          {
            "$ref": "#/paths/~1actors~1%7BactorId%7D/get/parameters/4",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "nodes": {
                          "type": "array",
                          "items": {
                            "$ref": "#/paths/~1actors~1%7BactorId%7D/get/responses/200/content/application~1json/schema/allOf/0"
                          }
                        },
                        "edges": {
                          "type": "array",
                          "items": {
                            "$ref": "#/paths/~1actors~1link~1%7BaccId%7D/post/responses/200/content/application~1json/schema/properties/data"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.readonly"
            ]
          }
        ]
      }
    },
    "/graph/actor_links/{actorId}": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url https://api.simulator.company/v/1.0/graph/actor_links/%7BactorId%7D"
          }
        ],
        "tags": [
          "meta graph"
        ],
        "summary": "Get all actor links",
        "description": "Scopes [control.events:actors.readonly]",
        "operationId": "getActorLinks",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorId",
            "in": "path",
            "description": "Actor ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "edgeTypeId",
            "in": "query",
            "description": "Link type ID from the list of available [link types](api.html#operation/getEdgeTypes).\\\nTo get only hierarchical links use a link type with the name `hierarchy`,\nto get only links for calculating balances - a link type with the name `calculatedTree`.\n",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of links",
                      "items": {
                        "$ref": "#/paths/~1actors~1link~1%7BaccId%7D/post/responses/200/content/application~1json/schema/properties/data"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.readonly"
            ]
          }
        ]
      }
    },
    "/actors/exist_link": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/actors/exist_link"
          }
        ],
        "tags": [
          "meta graph"
        ],
        "summary": "Check if link exists",
        "description": "Scopes [control.events:actors.readonly]",
        "operationId": "existLink",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "source",
                  "target",
                  "edgeTypeId"
                ],
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "Source actor ID"
                  },
                  "target": {
                    "type": "string",
                    "description": "Target actor ID"
                  },
                  "edgeTypeId": {
                    "description": "Link type ID from the list of [link types](api.html#operation/getEdgeTypes)",
                    "type": "integer"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of links",
                      "items": {
                        "$ref": "#/paths/~1actors~1link~1%7BaccId%7D/post/responses/200/content/application~1json/schema/properties/data"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.readonly"
            ]
          }
        ]
      }
    },
    "/graph/{type}/{actorId}": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url https://api.simulator.company/v/1.0/graph/%7Btype%7D/%7BactorId%7D"
          }
        ],
        "tags": [
          "meta graph"
        ],
        "summary": "Get linked actors",
        "description": "Scopes [control.events:actors.readonly]",
        "operationId": "getLinked",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Type of relation to the actor, `linked` means both child and parent actors",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "children",
                "parents",
                "linked"
              ]
            }
          },
          {
            "name": "actorId",
            "in": "path",
            "description": "Actor ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "edgeTypeId",
            "in": "query",
            "description": "Link type ID from the list of available [link types](api.html#operation/getEdgeTypes).\\\nTo get only hierarchical links use a link type with the name `hierarchy`,\nto get only links for calculating balances - a link type with the name `calculatedTree`.\n",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "formId",
            "in": "query",
            "description": "Form ID to filter linked actors",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "exceptFormId",
            "in": "query",
            "description": "Form ID to exclude actors from the result",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Actors sorting mode",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "formTitle"
              ],
              "default": "createdAt"
            }
          },
          {
            "name": "orderValue",
            "in": "query",
            "description": "Sorting vector",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The total number of actors to retrieve (used with offset)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of rows to skip when fetching list",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "withForm",
            "in": "query",
            "description": "Specify true to add form info to response data",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "lastReaction",
            "in": "query",
            "description": "Specify true to add last actor reaction to response data",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "reactionsStats",
            "in": "query",
            "description": "Specify true to add users' reactions statistics to response data",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "starred",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/paths/~1actors~1%7BactorId%7D/get/parameters/4"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total count of actors",
                          "example": 1
                        },
                        "list": {
                          "type": "array",
                          "description": "List of actors",
                          "items": {
                            "$ref": "#/paths/~1actors~1%7BactorId%7D/get/responses/200/content/application~1json/schema/allOf/0"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.readonly"
            ]
          }
        ]
      }
    },
    "/graph_layers/{layerId}": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url https://api.simulator.company/v/1.0/graph_layers/%7BlayerId%7D"
          }
        ],
        "tags": [
          "layers"
        ],
        "summary": "Get layer",
        "description": "Scopes [control.events:actors.readonly]\n\nA layer is an actor created with system form [Layers](api.html#operation/getSystemForms).\nThis API retrieves all layer actor data together with it's nodes and links.\n",
        "operationId": "getLayer",
        "x-invisible": true,
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layerId",
            "in": "path",
            "description": "Layer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noDuplicate",
            "in": "query",
            "description": "Specify false to add all nodes copies on layer",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1actors~1%7BactorId%7D/get/responses/200/content/application~1json/schema/allOf/0"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "nodes": {
                              "type": "array",
                              "description": "List of actors on the layer",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Actor ID"
                                  },
                                  "laId": {
                                    "type": "integer",
                                    "description": "Unique element ID on layer"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "formId": {
                                    "type": "integer"
                                  },
                                  "formTitle": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "verified",
                                      "rejected",
                                      "pending",
                                      null
                                    ]
                                  },
                                  "starred": {
                                    "type": "boolean",
                                    "description": "Actor is marked as starred",
                                    "example": false
                                  },
                                  "layerStarred": {
                                    "type": "boolean",
                                    "description": "Actor is marked with flag on layer",
                                    "example": false
                                  },
                                  "readonly": {
                                    "type": "boolean",
                                    "description": "Actor is signed or executed and can't be edited",
                                    "example": false
                                  },
                                  "color": {
                                    "type": "string"
                                  },
                                  "userId": {
                                    "type": "integer"
                                  },
                                  "picture": {
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "type": "integer"
                                  },
                                  "updatedAt": {
                                    "type": "integer"
                                  },
                                  "privs": {
                                    "$ref": "#/paths/~1actors~1%7BactorId%7D/get/responses/200/content/application~1json/schema/allOf/0/properties/privs"
                                  },
                                  "access": {
                                    "type": "array",
                                    "items": {
                                      "$ref": "#/paths/~1access_rules~1%7BobjType%7D~1%7BobjId%7D/get/responses/200/content/application~1json/schema/properties/data/items"
                                    }
                                  },
                                  "user": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "integer"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "edges": {
                              "type": "array",
                              "description": "List of links on the layer",
                              "items": {
                                "allOf": [
                                  {
                                    "$ref": "#/paths/~1actors~1link~1%7BaccId%7D/post/responses/200/content/application~1json/schema/properties/data"
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "laId": {
                                        "type": "integer",
                                        "description": "Unique link ID on layer"
                                      },
                                      "laIdSource": {
                                        "type": "integer",
                                        "description": "Source actor ID on layer"
                                      },
                                      "laIdTarget": {
                                        "type": "integer",
                                        "description": "Target actor ID on layer"
                                      }
                                    }
                                  }
                                ]
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.readonly"
            ]
          }
        ]
      }
    },
    "/graph_layers/actors/{layerId}": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/graph_layers/actors/%7BlayerId%7D"
          }
        ],
        "tags": [
          "layers"
        ],
        "summary": "Manage layer elements",
        "description": "Scopes [control.events:actors.management]",
        "operationId": "manageLayer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layerId",
            "in": "path",
            "description": "Layer Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of actions",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "minItems": 1,
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "enum": [
                        "create",
                        "delete"
                      ],
                      "required": []
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "id",
                        "type",
                        "position"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Actor or link ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "node",
                            "edge"
                          ],
                          "required": []
                        },
                        "laId": {
                          "type": "integer",
                          "description": "Unique element ID on layer"
                        },
                        "laIdSource": {
                          "type": "integer",
                          "description": "Source actor ID on layer (for type=edge)"
                        },
                        "laIdTarget": {
                          "type": "integer",
                          "description": "Target actor ID on layer (for type=edge)"
                        },
                        "position": {
                          "description": "Element position on layer",
                          "required": [
                            "x",
                            "y"
                          ],
                          "properties": {
                            "x": {
                              "type": "integer"
                            },
                            "y": {
                              "type": "integer"
                            }
                          }
                        },
                        "areaPicture": {
                          "type": "object",
                          "required": [
                            "height",
                            "width"
                          ],
                          "properties": {
                            "height": {
                              "type": "integer",
                              "description": "Height of an element on layer"
                            },
                            "width": {
                              "type": "integer",
                              "description": "Width of an element on layer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/paths/~1graph_layers~1actors~1%7BlayerId%7D/put/responses/200/content/application~1json/schema/properties/data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.management"
            ]
          }
        ]
      },
      "put": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request PUT \\\n  --url https://api.simulator.company/v/1.0/graph_layers/actors/%7BlayerId%7D"
          }
        ],
        "tags": [
          "layers"
        ],
        "summary": "Save layer nodes positions on layer",
        "description": "Scopes [control.events:actors.management]",
        "operationId": "layerActorsPosition",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layerId",
            "in": "path",
            "description": "Layer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "List of actors' positions",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "required": [
                    "id",
                    "position"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique element ID on layer",
                      "example": 1234
                    },
                    "position": {
                      "type": "object",
                      "description": "New element position (x, y)",
                      "required": [
                        "x",
                        "y"
                      ],
                      "properties": {
                        "x": {
                          "type": "integer",
                          "description": "x-coordinate",
                          "example": 100
                        },
                        "y": {
                          "type": "integer",
                          "description": "y-coordinate",
                          "example": 350
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "accId": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "nodes": {
                          "type": "array",
                          "description": "List of actors on the layer",
                          "items": {
                            "$ref": "#/paths/~1actors~1%7BactorId%7D/get/responses/200/content/application~1json/schema/allOf/0"
                          }
                        },
                        "edges": {
                          "type": "array",
                          "description": "List of links on the layer",
                          "items": {
                            "$ref": "#/paths/~1actors~1link~1%7BaccId%7D/post/responses/200/content/application~1json/schema/properties/data"
                          }
                        },
                        "pinned": {
                          "type": "boolean",
                          "description": "A value that indicates whether the layer was pinned on the interface."
                        },
                        "ownerId": {
                          "type": "integer"
                        },
                        "createdAt": {
                          "type": "integer"
                        },
                        "updatedAt": {
                          "type": "integer"
                        },
                        "privs": {
                          "$ref": "#/paths/~1forms~1%7BformId%7D/get/responses/200/content/application~1json/schema/properties/data/properties/privs"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.management"
            ]
          }
        ]
      }
    },
    "/graph_layers/move/{sourceLayerId}/{targetLayerId}": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/graph_layers/move/%7BsourceLayerId%7D/%7BtargetLayerId%7D"
          }
        ],
        "tags": [
          "layers"
        ],
        "summary": "Move actors to another layer",
        "description": "Scopes [control.events:actors.management]",
        "operationId": "moveElements",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceLayerId",
            "in": "path",
            "description": "Source layer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetLayerId",
            "in": "path",
            "description": "Target layer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "Array of elements to move",
                "required": [],
                "items": {
                  "minItems": 1,
                  "maxItems": 10,
                  "type": "object",
                  "required": [
                    "actorId"
                  ],
                  "properties": {
                    "actorId": {
                      "type": "string"
                    },
                    "laId": {
                      "type": "integer",
                      "description": "Unique element ID on source layer"
                    },
                    "position": {
                      "type": "object",
                      "description": "Actor position on target layer",
                      "required": [
                        "x",
                        "y"
                      ],
                      "properties": {
                        "x": {
                          "type": "integer"
                        },
                        "y": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/paths/~1graph_layers~1actors~1%7BlayerId%7D/put/responses/200/content/application~1json/schema/properties/data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.management"
            ]
          }
        ]
      }
    },
    "/graph_layers/clean/{layerId}": {
      "delete": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request DELETE \\\n  --url https://api.simulator.company/v/1.0/graph_layers/clean/%7BlayerId%7D"
          }
        ],
        "tags": [
          "layers"
        ],
        "summary": "Clear the layer",
        "description": "Scopes [control.events:actors.management]",
        "operationId": "cleanLayer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layerId",
            "in": "path",
            "description": "Layer Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.management"
            ]
          }
        ]
      }
    },
    "/graph_layers/exist/{layerId}": {
      "post": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request POST \\\n  --url https://api.simulator.company/v/1.0/graph_layers/exist/%7BlayerId%7D"
          }
        ],
        "tags": [
          "layers"
        ],
        "summary": "Check element existence",
        "description": "Scopes [control.events:actors.readonly]\n\nThis method searches an element on the layer and returns a list of their layer-unique IDs.\n",
        "operationId": "exist",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layerId",
            "in": "path",
            "description": "Layer Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Element ID",
                    "required": []
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "node",
                      "edge"
                    ],
                    "required": []
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Element ID"
                      },
                      "laId": {
                        "type": "integer",
                        "description": "Unique element ID on layer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "control.events:actors.management"
            ]
          }
        ]
      }
    },
    "/layer_actors_filters/search/{layerId}/{query}": {
      "get": {
        "x-codeSamples": [
          {
            "lang": "shell_curl",
            "source": "curl --request GET \\\n  --url https://api.simulator.company/v/1.0/layer_actors_filters/search/%7BlayerId%7D/%7Bquery%7D"
          }
        ],
        "tags": [
          "layers"
        ],
        "summary": "Search layer actors",
        "description": "Scopes [control.events:actors.readonly]",
        "operationId": "searchLayerActors",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header. Bearer [AccessToken]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/paths/~1graph_layers~1actors~1%7BlayerId%7D/put/parameters/1"
          },
          {
            "$ref": "#/paths/~1actors_filters~1search~1%7BaccId%7D~1%7Bquery%7D/get/parameters/2"
          },
          {
            "$ref": "#/paths/~1actors~1%7BactorId%7D/get/parameters/4"
          },
          {
            "$ref": "#/paths/~1graph~1%7Btype%7D~1%7BactorId%7D/get/parameters/10"
          },
          {
            "$ref": "#/paths/~1graph~1%7Btype%7D~1%7BactorId%7D/get/parameters/11"
          },
          {
            "$ref": "#/paths/~1layer_actors_filters~1%7BlayerId%7D~1%7BformId%7D/get/parameters/11"
          },
          {
            "$ref": "#/paths/~1graph~1%7Btype%7D~1%7BactorId%7D/get/parameters/12"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1actors~1%7BactorId%7D/get/responses/200/content/application~1json/schema/allOf/0"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1actors/delete/responses/400/content/application~1json/schema"
                }
[...]
